<ul class="mobile-nav link-list" style="padding-left:15px;">
	{%- for locale in shop.published_locales -%}
		{%- assign remove_lang_code = '/' | append: request.locale.iso_code -%}
		<li class="link-list__item flex flex-align-ver mobile-nav__item">
			{%- if locale.iso_code != request.locale.iso_code -%}
				<a data-code="{{ locale.iso_code | escape }}" href="{% unless locale.primary %}{{ locale.root_url }}{% if request.path != '/' %}{{ request.path | remove_first: remove_lang_code }}{% endif %}{% else %}{% if request.path != remove_lang_code %}{{ request.path | remove_first: remove_lang_code }}{% else %}{{ request.path | remove_first: request.locale.iso_code }}{% endif %}{% endunless %}" class="lp__code action-link-mobile">{{ locale.endonym_name }}</a>
			{%- else -%}
				<span class="alternative action-link-mobile">{{ locale.endonym_name }}</span>	
			{%- endif -%}
		</li>
	{%- endfor -%}
</ul>