{%- if treeNodes != blank -%}
<ul class="link-list mobile-nav gutter-ele-small-top" style="padding-{% unless settings.enale_rtl %}left{% else %}right{% endunless %}:{% if parent_nodes_html != '' %}{{ padding_left }}px{% else %}0{% endif %};">
	{%- for c in treeNodes -%}
		{%- assign c_handle = c.id | split: '|' | last -%}
		{%- assign collection_node = collections[c_handle] -%}
		{%- if collection_node != blank -%}
		<li class="link-list__item mobile-nav__item flex flex-align-ver mobile-nav__item--level0{% if c.children != blank %} link-list__item--parent-mobile{% endif %} {% if block.settings.enable_expand %}open{% endif %}">
			<a class="dib cfc__link cf__link link-list__item__link link-list__item__link--mobile-nav link-list__item__link--level0" href="{{ collection_node.url }}{{ tag_url }}{{ filter_sortby_param | raw }}" title="{%- render 'nav-shortcode-ign', str: collection_node.title -%}" style="margin-right: 7px;">{%- render 'nav-shortcode', color: settings.header_mobile_color_label, bkg: settings.header_mobile_bkg_label, str: collection_node.title -%}</a> <span>({%- render 'filter-item-count', child:c.children, coll:collection_node -%})</span>
			{%- if c.children != blank -%}
				<a href="#" class="mobile-nav__arrow cfc__arrow mobile-nav__arrow--level0 dib lnr-plus" title="{{ 'layout.navigation.arrow' | t | escape }}"></a>
				<ul class="w100 link-list__item__dropdown {% unless block.settings.enable_expand %}cfc__dropdown{% endunless %} link-list__item__dropdown--mobile-nav" {% unless block.settings.enable_expand %}style="display:none;"{% endunless %}>
					{%- for c1 in c.children -%}
						{%- assign c_handle1 = c1.id | split: '|' | last -%}
						{%- assign collection_node1 = collections[c_handle1] -%}
						{%- if collection_node1 != blank -%}
						<li class="link-list__item mobile-nav__item flex flex-align-ver mobile-nav__item--level1{% if c1.children != blank %} link-list__item--parent-mobile{% endif %}">
							<a class="dib cfc__link cf__link link-list__item__link link-list__item__link--mobile-nav link-list__item__link--level1" href="{{ collection_node1.url }}{{ tag_url }}{{ filter_sortby_param | raw }}" title="{%- render 'nav-shortcode-ign', str: collection_node1.title -%}" style="margin-right: 7px;">{%- render 'nav-shortcode', color: settings.header_mobile_color_label, bkg: settings.header_mobile_bkg_label, str: collection_node1.title -%}</a> <span>({%- render 'filter-item-count', child:c1.children, coll:collection_node1 -%})</span>
							{%- if c1.children != blank -%}
								<a href="#" class="mobile-nav__arrow cfc__arrow mobile-nav__arrow--level1 dib lnr-plus" title="{{ 'layout.navigation.arrow' | t | escape }}"></a>
								<ul class="w100 link-list__item__dropdown cfc__dropdown link-list__item__dropdown--mobile-nav" style="display:none;">
									{%- for c2 in c1.children -%}
										{%- assign c_handle2 = c2.id | split: '|' | last -%}
										{%- assign collection_node2 = collections[c_handle2] -%}
										{%- if collection_node2 != blank -%}
										<li class="link-list__item mobile-nav__item flex flex-align-ver mobile-nav__item--level2{% if c2.children != blank %} link-list__item--parent-mobile{% endif %}">
											<a class="dib cfc__link cf__link link-list__item__link link-list__item__link--mobile-nav link-list__item__link--level2" href="{{ collection_node2.url }}{{ tag_url }}{{ filter_sortby_param | raw }}" title="{%- render 'nav-shortcode-ign', str: collection_node2.title -%}" style="margin-right: 7px;">{%- render 'nav-shortcode', color: settings.header_mobile_color_label, bkg: settings.header_mobile_bkg_label, str: collection_node2.title -%}</a> <span>({%- render 'filter-item-count', child:c2.children, coll:collection_node2 -%})</span>
											{%- if c2.children != blank -%}
												<a href="#" class="mobile-nav__arrow cfc__arrow mobile-nav__arrow--level2 dib lnr-plus" title="{{ 'layout.navigation.arrow' | t | escape }}"></a>
												<ul class="w100 link-list__item__dropdown cfc__dropdown link-list__item__dropdown--mobile-nav" style="display:none;">
													{%- for c3 in c2.children -%}
														{%- assign c_handle3 = c3.id | split: '|' | last -%}
														{%- assign collection_node3 = collections[c_handle3] -%}
														{%- if collection_node3 != blank -%}
														<li class="link-list__item mobile-nav__item flex flex-align-ver mobile-nav__item--level3{% if c3.children != blank %} link-list__item--parent-mobile{% endif %}">
															<a class="dib cfc__link cf__link link-list__item__link link-list__item__link--mobile-nav link-list__item__link--level3" href="{{ collection_node3.url }}{{ tag_url }}{{ filter_sortby_param | raw }}" title="{%- render 'nav-shortcode-ign', str: collection_node3.title -%}" style="margin-right: 7px;">{%- render 'nav-shortcode', color: settings.header_mobile_color_label, bkg: settings.header_mobile_bkg_label, str: collection_node3.title -%}</a> <span>({%- render 'filter-item-count', child:c3.children, coll:collection_node3 -%})</span>
															{%- if c3.children != blank -%}
																<a href="#" class="mobile-nav__arrow cfc__arrow mobile-nav__arrow--level3 dib lnr-plus" title="{{ 'layout.navigation.arrow' | t | escape }}"></a>
																<ul class="w100 link-list__item__dropdown cfc__dropdown link-list__item__dropdown--mobile-nav" style="display:none;">
																	{%- for c4 in c3.children -%}
																		{%- assign c_handle4 = c4.id | split: '|' | last -%}
																		{%- assign collection_node4 = collections[c_handle4] -%}
																		{%- if collection_node4 != blank -%}
																		<li class="link-list__item mobile-nav__item flex flex-align-ver mobile-nav__item--level4">
																			<a class="dib cfc__link cf__link link-list__item__link link-list__item__link--mobile-nav link-list__item__link--level4" href="{{ collection_node4.url }}{{ tag_url }}{{ filter_sortby_param | raw }}" title="{%- render 'nav-shortcode-ign', str: collection_node4.title -%}" style="margin-right: 7px;">{%- render 'nav-shortcode', color: settings.header_mobile_color_label, bkg: settings.header_mobile_bkg_label, str: collection_node4.title -%}</a> <span>({%- render 'filter-item-count', child:c4.children, coll:collection_node4 -%})</span>
																		</li>
																		{%- endif -%}
																	{%- endfor -%}
																</ul>
															{%- endif -%}
														</li>
														{%- endif -%}
													{%- endfor -%}
												</ul>
											{%- endif -%}
										</li>
										{%- endif -%}
									{%- endfor -%}
								</ul>
							{%- endif -%}
						</li>
						{%- endif -%}
					{%- endfor -%}
				</ul>
			{%- endif -%}
		</li>
		{%- endif -%}
	{%- endfor -%}
</ul>
{%- endif -%}