{%- assign price_tag = tag | replace: '$','' | prepend: '$' -%}
{%- if current_tags contains t -%}
	{%- assign active_tag = t -%}
{%- elsif current_tags contains tag -%}
	{%- assign active_tag = tag -%}
{%- elsif current_tags contains clowTagD -%}
	{%- assign active_tag = clowTagD -%}
{%- elsif current_tags contains clowTag -%}
	{%- assign active_tag = clowTag -%}
{%- elsif current_tags contains ctagU -%}
	{%- assign active_tag = ctagU -%}
{%- elsif current_tags contains ctagUF -%}
	{%- assign active_tag = ctagUF -%}
{%- elsif current_tags contains ctagCa -%}
	{%- assign active_tag = ctagCa -%}
{%- elsif current_tags contains price_tag -%}
	{%- assign active_tag = price_tag -%}	
{%- else -%}
	{%- assign active_tag = '' -%}
{%- endif -%}
{%- capture price_range_label -%}
	{%- assign t_str = t | strip -%}
	{%- if t_str contains '-' -%}
		{%- assign range = t_str | split: '-' -%}
		{%- assign price_min = range[0] | strip | replace: '$','' | times: 100 -%}
		{%- assign price_max = range[1] | strip | replace: '$','' | times: 100 -%}
		{%- render 'price' with price_min -%}&nbsp;-&nbsp;{%- render 'price' with price_max -%}
	{%- else -%}
		{%- assign range = t_str | replace: '$','' | split: ' ' -%}
		{%- assign price_label = range[0] | strip -%}
		{%- assign price_max = range[1] | strip | times: 100 -%}
		{{ price_label }}&nbsp;{%- render 'price' with price_max -%}	
	{%- endif -%}
{%- endcapture -%}
{%- if active_tag != '' -%}
<li class="active cf__item__link">{{ price_range_label | link_to_remove_tag: active_tag | replace: 'title=', 'class="cf__link cf__link--box" title=' }}</li>
{%- else -%}
<li class="cf__item__link">{{ price_range_label | link_to_add_tag: tag | replace: 'title=', 'class="cf__link cf__link--box" title=' }}</li>
{%- endif -%}