<div class="collection__filter cf" id="cf_filter_desktop">
  <div class="cf__content">
    {%- if section.blocks.size > 0 -%}
      {%- for block in section.blocks -%}
        {%- assign filter_item_type = 'collection-' | append: block.type -%}
        {%- if block.type == 'filter-item-category' or block.type == 'filter-item-swatch' or block.type == 'filter-item-big-title' -%}
          {%- case block.type -%}
            {%- when 'filter-item-category' -%}
              {%- include 'collection-filter-item-category' with block as block, is_first: forloop.first -%}
            {%- when 'filter-item-swatch' -%}
              {%- render 'collection-filter-item-swatch' with block as block, is_first: forloop.first  -%}
            {%- when 'filter-item-big-title' -%}
              {%- render 'collection-filter-item-big-title' with block as block, is_first: forloop.first -%}
          {%- endcase -%}
        {%- else -%}
          {%- assign array_tag = block.settings.group_tag | replace: '  ', '' | replace: ' ,', ',' | replace: ', ', ',' | split: ',' -%}
          {%- if array_tag.size > 0 and block.settings.enable -%}
            {%- capture tag_list -%}
              {%- for t in array_tag -%}
                {%- assign tag = t | strip | downcase -%}
                {%- assign clowTagD = t | downcase -%}
                {%- assign clowTag = t | strip | downcase -%}
                {%- assign ctagU = t | strip | upcase -%}
                {%- assign ctagUF = clowTag | strip | capitalize -%}
                {%- assign ctagCa = clowTag | strip | camelcase -%}
                {%- if collection.all_tags contains t or collection.all_tags contains tag or collection.all_tags contains clowTagD or collection.all_tags contains clowTag or collection.all_tags contains ctagU or collection.all_tags contains ctagUF or collection.all_tags contains ctagCa -%}
                  {%- case block.type -%}
                    {%- when 'filter-item-checkbox' -%}
                      {%- render 'collection-filter-item-checkbox' with block as block, t: t, tag: tag, clowTagD: clowTagD, clowTag: clowTag, ctagU: ctagU, ctagUF: ctagUF, ctagCa: ctagCa -%}
                    {%- when 'filter-item-price' -%}
                      {%- render 'collection-filter-item-price' with block as block, t: t, tag: tag, clowTagD: clowTagD, clowTag: clowTag, ctagU: ctagU, ctagUF: ctagUF, ctagCa: ctagCa -%}
                  {%- endcase -%}
                {%- endif -%}
              {%- endfor -%}
            {%- endcapture -%}
            
            {%- if tag_list != '' -%}
            <div class="cf__item dib w100{% if block.type == 'filter-item-swatch' %} cf__item--color{% endif %}{% if forloop.first %} cf__item--first{% endif %}">
                <a class="cf__item__title{% if is_first %} cf__item__title--first{% endif %} flex flex-align-space-between expand-trigger{% if block.settings.default_expand == 'expand' %} open{% endif %}" href="#" title="{{ block.settings.title | escape }}">
                  <span>{{ block.settings.title }}</span>
                  {%- render 'icon-collapse' -%}
                </a>
                <div class="cf__item__content expand-content"{% if block.settings.default_expand != 'expand' %} style="display:none;"{% endif %}>
                  <ul>
                  {{ tag_list }}
                  </ul>
                </div>
            </div>
            {%- if block.settings.show_spr_line -%}
              <hr>
            {%- endif -%}
            {%- endif -%}
          {%- endif -%}
        {%- endif -%}  
      {%- endfor -%}
    {%- endif -%}
  </div>
</div>
{%- if settings.recent_view_enable and settings.recent_view_collection_enable -%}
  <div class="cf__item dib w100 cf__item--recent-view hide">
    <a class="cf__item__title flex flex-align-space-between expand-trigger open" href="#" title="{{ 'collections.general.recent_view' | t | escape }}">
      <span>{{ 'collections.general.recent_view' | t }}</span>
      {%- render 'icon-collapse' -%}
    </a>
    <div class="cf__item__content expand-content cf__item--recent-view__content pcol__items">
    </div>
  </div>
{%- endif -%}