{%- if current_tags contains t -%}
	{%- assign active_tag = t -%}
{%- elsif current_tags contains tag -%}
	{%- assign active_tag = tag -%}
{%- elsif current_tags contains clowTagD -%}
	{%- assign active_tag = clowTagD -%}
{%- elsif current_tags contains clowTag -%}
	{%- assign active_tag = clowTag -%}
{%- elsif current_tags contains ctagU -%}
	{%- assign active_tag = ctagU -%}
{%- elsif current_tags contains ctagUF -%}
	{%- assign active_tag = ctagUF -%}
{%- elsif current_tags contains ctagCa -%}
	{%- assign active_tag = ctagCa -%}
{%- else -%}
	{%- assign active_tag = '' -%}
{%- endif -%}
{%- if active_tag != '' -%}
<li class="w100 active cf__item__link">{{ '' | append: t | link_to_remove_tag: active_tag | replace: 'title=', 'class="cf__link cf__link--box" title=' }}</li>
{%- else -%}
<li class="w100 cf__item__link">{{ '' | append: tag | link_to_add_tag: t | replace: 'title=', 'class="cf__link cf__link--box" title=' }}</li>
{%- endif -%}