{%- capture tag_list -%}
{%- for i in (1..30) -%}
	{%- assign indexColorTag = 'cs_tag_' | append: i -%}
	{%- assign indexColorCode = 'cs_code_' | append: i -%}
	{%- assign indexColorCustom = 'cs_custom_' | append: i -%}
	{%- assign t = settings[indexColorTag] | split: ',' | first | trim -%}
	{%- if t != blank -%}
		{%- assign tag = t | strip | downcase -%}
		{%- assign clowTagD = t | downcase -%}
		{%- assign clowTag = t | strip | downcase -%}
		{%- assign ctagU = t | strip | upcase -%}
		{%- assign ctagUF = clowTag | strip | capitalize -%}
		{%- assign ctagCa = clowTag | strip | camelcase -%}
		{%- if collection.all_tags contains t or collection.all_tags contains tag or collection.all_tags contains clowTagD or collection.all_tags contains clowTag or collection.all_tags contains ctagU or collection.all_tags contains ctagUf or collection.all_tags contains ctagCa -%}
			{%- assign swatch_size = block.settings.swatch_size | append: 'x' | append: block.settings.swatch_size -%}
			{%- capture img -%}
				{%- if settings[indexColorCustom] != blank -%}
					<img src="{{ settings[indexColorCustom] | img_url: swatch_size }}" alt="{{ t | escape }}" class="w100"/>
				{%- elsif settings[indexColorCode] -%}
					<span style="background-color: {{ settings[indexColorCode] }};" class="w100{% if block.settings.format == 'circle' %} img-circle{% endif %}" data-bkg="{{ settings[indexColorCode] }}"></span>
				{% else %}
					<span>{{ t }}</span>	
				{%- endif -%}	
			{%- endcapture -%}
			{%- capture swatch_style -%}style="width: {{ block.settings.swatch_size }}px;height: {{ block.settings.swatch_size }}px;"{%- endcapture -%}
			{%- capture tagHtml -%}
				{%- if current_tags contains t -%}
					{%- assign active_tag = t -%}
				{%- elsif current_tags contains tag -%}
					{%- assign active_tag = tag -%}
				{%- elsif current_tags contains clowTagD -%}
					{%- assign active_tag = clowTagD -%}
				{%- elsif current_tags contains clowTag -%}
					{%- assign active_tag = clowTag -%}
				{%- elsif current_tags contains ctagU -%}
					{%- assign active_tag = ctagU -%}
				{%- elsif current_tags contains ctagUF -%}
					{%- assign active_tag = ctagUF -%}
				{%- elsif current_tags contains ctagCa -%}
					{%- assign active_tag = ctagCa -%}
				{%- else -%}
					{%- assign active_tag = '' -%}
				{%- endif -%}
				{%- if active_tag != '' -%}
					{%- if block.settings.format == 'circle' -%}
						{%- capture title_replace -%}{{ swatch_style }} class="img-circle cf__link cf__link--box cf__link--color" title={%- endcapture -%}
					{%- else -%}
						{%- capture title_replace -%}{{ swatch_style }} class="cf__link cf__link--box cf__link--color" title={%- endcapture -%}
					{%- endif -%}
					{{ img | link_to_remove_tag: active_tag | replace: 'title=', title_replace }}	
				{%- else -%}
					{%- if block.settings.format == 'circle' -%}
						{%- capture title_replace -%}{{ swatch_style }} class="img-circle cf__link cf__link--box cf__link--color" title={%- endcapture -%}
					{%- else -%}
						{%- capture title_replace -%}{{ swatch_style }} class="cf__link cf__link--box cf__link--color" title={%- endcapture -%}
					{%- endif -%}
					{{ img | link_to_add_tag: tag | replace: 'title=', title_replace }}	
				{%- endif -%}
			{%- endcapture -%}
			<li class="{% if active_tag != '' %}active {% endif %}cf__item__swatch cf__item__link">{{ tagHtml }}</li>
		{%- endif -%}	
	{%- endif -%}	
{%- endfor -%}
{%- endcapture -%}
{%- if tag_list != '' -%}
<div class="cf__item cf__item--color dib w100{% if is_first %} cf__item--first{% endif %}">
  <a class="cf__item__title{% if is_first %} cf__item__title--first{% endif %} flex flex-align-space-between expand-trigger{% if block.settings.default_expand == 'expand' %} open{% endif %}" href="#" title="{{ block.settings.title | escape }}">
    <span>{{ block.settings.title }}</span>
    {%- render 'icon-collapse' -%}
  </a>
  <div class="cf__item__content expand-content"{% if block.settings.default_expand != 'expand' %} style="display:none;"{% endif %}>
    <ul class="cf__item--swatch-list dib">
    {{ tag_list }}
    </ul>
  </div>
</div>
{%- if block.settings.show_spr_line -%}
	<hr>
{%- endif -%}
{%- endif -%}