{%- if settings.show_multiple_currencies -%}
<div class="bt-dropdown currency-switcher cs h100{% unless flex_trigger %} flex flex-align-ver{% endunless %}{% if add_wrap_classes %} {{ add_wrap_classes }}{% endif %}"{% if data_group %} data-group="{{ data_group | escape }}"{% endif %} style="position:relative;">
	<a class="bt-dropdown__trigger header__link{% if flex_trigger %} flex flex-align-ver{% else %} dib{% endif %}{% if addition_classes %} {{ addition_classes }}{% endif %}" title="{{ 'general.currency.switcher' | t | escape }}" href="javascript:void(0);">
		{%- if show_currency_icon -%}
			{%- render 'icon-currency' with add_class: 'ver-sub' -%}
		{%- endif -%}
		<span class="cs__current-code{% if hide_currency_code %} hide{% endif %}">
			{%- if settings.currency_converter_engine == 'shopify' -%}
				{{ settings.default_currency }}
			{%- else -%}
				{{ cart.currency.iso_code }}
			{%- endif -%}	
		</span>
	</a>
	<div class="bt-dropdown__content {% unless currency_dropdown_align %}bt-dropdown__content--auto-center{% else %}{{ currency_dropdown_align }}{% endunless %}{% if currency_work_with_gutter %} bt-dropdown__content--gutter{% endif %}" style="min-width:auto;">
		<ul>
			{%- if settings.currency_converter_engine == 'shopify' -%}
				{%- assign supported_currencies = settings.supported_currencies | split: ' ' -%}
				{%- for currency in supported_currencies -%}
				<li class="w100"><a data-code="{{ currency | escape }}" href="#" class="cs__code gutter-ele-small-top gutter-ele-small-bottom db">{{ currency }}</a></li>
				{%- endfor -%}
			{%- else -%}
				{%- for currency in shop.enabled_currencies -%}
					<li class="w100"><a data-code="{{ currency.iso_code | escape }}" href="#" class="cs__code{% if currency == cart.currency %} active{% endif %} gutter-ele-small-top gutter-ele-small-bottom db">{{ currency.iso_code }}</a></li>
				{%- endfor -%}
			{%- endif -%}	
		</ul>
	</div>
</div>
{%- endif -%}