{%- assign collection_image = settings_image -%}
{%- assign collection = collections[settings_collection] -%}
{%- if collection_image == blank and collection != blank and collection.image != blank -%}
  {%- assign collection_image = collection.image -%}
{%- endif -%}
{%- if collection.products == empty -%}
  {%- assign collection_url = '#' -%}
{%- else -%}
  {%- assign collection_url = collection.url -%}
{%- endif -%}
{%- if collection_title == blank -%}
  {%- if collection.title == blank -%}
    {%- assign collection_title = 'homepage.onboarding.collection_title' | t -%}
  {%- else -%}
    {%- assign collection_title = collection.title -%}
  {%- endif -%}
{%- endif -%}
<div class="w100 h100 zoom-effect por" style="{% if no_margin_bottom %}margin-bottom:0;{% endif %}{% unless collection_image == blank %}max-width:{{ collection_image.width }}px;max-height:{{ collection_image.height }}px;{% endunless %}">
  {%- unless collection_image == blank -%}
    {%- assign img_url = collection_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
    <a class="img-container zoom-effect__inner loading" style="padding-top:{{ 1 | divided_by: collection_image.aspect_ratio | times: 100}}%;" href="{{ collection_url }}" title="{{ collection_title | escape }}">
      <img  data-aspectratio="{{ collection_image.aspect_ratio }}"
              data-src="{{ img_url }}"
              data-sizes="auto" class="img-abs img-responsive lazyload zoom-fade" alt="{{ collection_image.alt | escape }}" width="{{ collection_image.width }}" height="{{ collection_image.height }}" style="height:100%;"{% render 'img-one-pixel' %} data-expand="-50"/>
    </a>
  {%- else -%}
   {% if collection == empty %}
      <div class="collection-grid-item__overlay">
        {% capture current %}{% cycle 1, 2, 3 %}{% endcapture %}
        {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
      </div>
    {% else %}
       <div class="collection-grid-item__overlay" style="background-image: url('{{ collection_image | img_url: '1024x1024' }}')"></div>
    {% endif %}
  {%- endunless -%}
  {%- if label_text != blank -%}
    <span class="fcl__label-{{ section.id }}-{{ block_id }} fcl__label-{{ section.id }}-{{ block_id }}-{{ index }} fw-bold text-uppercase">{{ label_text }}</span>
  {%- endif -%}
  {%- assign style_collection_text = 'position:absolute;padding:15px;' -%}
  {%- assign text_align = 'left' -%}
  {%- case settings_pos -%}
  {%- when 'top-left' -%}
    {%- assign style_collection_text = style_collection_text | append: 'top:0;left:0;' -%}
  {%- when 'top-right' -%}
    {%- assign style_collection_text = style_collection_text | append: 'top:0;right:0' -%}
    {%- assign text_align = 'right' -%}
  {%- when 'bottom-left' -%}
    {%- assign style_collection_text = style_collection_text | append: 'bottom:0;left:0;' -%}
  {%- when 'bottom-right' -%}
    {%- assign style_collection_text = style_collection_text | append: 'bottom:0;right:0;' -%}
    {%- assign text_align = 'right' -%}
  {%- else -%}
    {%- assign style_collection_text = style_collection_text | append: 'display: flex;flex-direction: column;justify-content: center;' -%}
    {%- case settings_pos -%}
      {%- when 'top-center' -%}
        {%- assign style_collection_text = style_collection_text | append: 'top:0;left:0;right:0;margin: 0 auto;' -%}
        {%- assign text_align = 'center' -%}
      {%- when 'center-left' -%}
        {%- assign style_collection_text = style_collection_text | append: 'left:0;top:0;bottom:0;margin:auto;' -%}
      {%- when 'center-center' -%}
        {%- assign style_collection_text = style_collection_text | append: 'top:0;bottom:0;left:0;right:0;margin:auto;' -%}
        {%- assign text_align = 'center' -%}
      {%- when 'center-right' -%}
        {%- assign style_collection_text = style_collection_text | append: 'top:0;bottom:0;right:0;margin:auto;' -%}
        {%- assign text_align = 'right' -%}
      {%- else -%}
        {%- comment -%}bottom-center{%- endcomment -%}
        {%- assign style_collection_text = style_collection_text | append: 'bottom:0;left:0;right:0;margin: 0 auto;' -%}
        {%- assign text_align = 'center' -%}
    {%- endcase -%}
  {%- endcase -%}
  {%- assign title_class = 'fcl__title-' | append: block_id | append: '-' | append: index -%}   
  {%- assign subtitle_class = 'fcl__subtitle-' | append: block_id | append: '-' | append: index -%}   
  <div style="{{ style_collection_text }}">
    <a href="{{ collection_url }}" class="db text-{{ text_align }} fw-bold {{ title_class }}{% if collection_subtitle != blank %} gutter-ele-bottom{% endif %}" title="{{ collection_title | escape }}">
      {{ collection_title }}
    </a>
    {%- if collection_subtitle != blank -%}
      <span class="db text-{{ text_align }} {{ subtitle_class }}">
        {{ collection_subtitle }}
      </span>
    {%- endif -%}
  </div>
</div>
{% style %}
.{{ title_class }}{font-size:{{ collection_fs_title_mobile }}px;{%- if collection_color_title != blank -%}color:{{ collection_color_title }};}{%- endif -%}.{{ subtitle_class }}{font-size:{{ collection_fs_subtitle_mobile }}px;{%- if collection_color_subtitle != blank -%}color:{{ collection_color_subtitle }};{%- endif -%} }
{%- assign has_distance_tb = false -%}
{%- if collection_fs_title != collection_fs_title_mobile or collection_fs_subtitle_mobile != collection_fs_subtitle -%}
@media(min-width: 768px){
{%- if collection_fs_title != collection_fs_title_mobile -%}.{{ title_class }}{font-size:{{ collection_fs_title }}px;}{%- endif -%}{%- if collection_fs_subtitle_mobile != collection_fs_subtitle -%}.{{ subtitle_class }}{font-size:{{ collection_fs_subtitle }}px;}{%- endif -%}
}
{%- endif -%}
{%- if label_text != blank -%}.fcl__label-{{ section.id }}-{{ block_id }}-{{ index }}{color:{{ label_color }};background-color:{{ label_bkg }};}{%- endif -%}
{% endstyle %}