<a href="#" class="search-full-trigger header__link" title="{{ 'general.search.placeholder' | t | escape }}">
	{%- render 'icon-search' with add_class: 'ver-sub' -%}
</a>
{%- unless template.name == 'cart' -%}
	{%- assign header_cart_layout_mobile = settings.header_cart_layout_mobile -%}
{%- else -%}
	{%- assign header_cart_layout_mobile = 'only_link' -%}
{%- endunless -%}	
{%- if header_cart_layout_mobile != 'no_display' -%}
	{%- capture header_cart_link_html -%}
	<a href="{% if header_cart_layout_mobile == 'only_link' %}{{ routes.cart_url }}{% else %}#{% endif %}" class="por{% if header_cart_layout_mobile != 'only_link' %} header__cart-trigger-mobile{% endif %}{% if header_cart_layout_mobile == 'dropdown' %} bt-dropdown__trigger w100 dib{% elsif header_cart_layout_mobile == 'sidebar' %} bt-sidebar-btn{% endif %} header__link"{% if header_cart_layout_mobile == 'sidebar' %} data-target="#sidebar-cart" data-placement="{% unless settings.enale_rtl %}right{% else %}left{% endunless %}"{% endif %} title="{{ 'layout.cart.title' | t | escape }}">
		{% render 'icon-cart-header' with add_class: 'ver-sub' %}
		<span class="cart-number text-center abs-number">{{ cart.item_count }}</span>	
	</a>
	{%- endcapture -%}
	{%- if header_cart_layout_mobile == 'dropdown' -%}
	<div class="bt-dropdown" data-group="header__links__mobile">
		{{ header_cart_link_html }}
		<div class="bt-dropdown__content bt-dropdown__content--right w100 load-ajax-snippet" data-snippet="header-cart-content">
			{%- render 'loading-ajax-snippet' -%}
		</div>
	</div>
	{%- else -%}
	{{ header_cart_link_html }}
	{%- endif -%}
{%- endif -%}
{%- if header_cart_layout_mobile != 'dropdown' and header_cart_layout_mobile != 'sidebar' and settings.add_cart_action == 'open_cart' -%}
	<a href="#" class="hide bt-sidebar-btn header__cart-trigger-mobile" data-target="#sidebar-cart" data-placement="{% unless settings.enale_rtl %}right{% else %}left{% endunless %}" title="{{ 'layout.cart.title' | t | escape }}">&nbsp;</a>
{%- endif -%}