<div class="container{% if settings.header_wide_display %}-fluid{% endif %}">
	<div class="row flex flex-align-ver header__wrap{% if settings.use_sticky %} use-sticky--desktop{% endif %}">
		<div class="col-xs-2">
			{% render 'header__logo' %}
		</div>
		<div class="col-xs-7 col-lg-6 position-static" style="align-self:normal;">
			{% section 'navigation' %}
		</div>
		<div class="col-xs-3 col-lg-4 no-gutter" style="align-self:normal;">
			<div class="header__links header__links--flex flex h100" style="justify-content:flex-end;">
				{%- if shop.customer_accounts_enabled -%}
					<div class="bt-dropdown h100 flex flex-align-ver header__link-ele por" data-group="header__links">
					{%- if customer -%}
						<a class="bt-dropdown__trigger header__link flex flex-align-ver" title="{{ 'customer.account.title' | t | escape }}" href="{{ routes.account_url }}">
							<span class="hidden-md">{{ 'customer.account.title' | t }}</span>
							{%- render 'icon-account' with add_class: 'hidden-lg' -%}
						</a>
						<div class="bt-dropdown__content bt-dropdown__content--auto-center" style="white-space:nowrap;">
							<a title="{{ 'layout.customer.account' | t | escape }}" href="{{ routes.account_url }}">
								{% render 'icon-account' %}&nbsp;{{ 'layout.customer.account' | t }}
							</a>
							<a href="{{ routes.account_logout_url }}" title="{{ 'layout.customer.log_out' | t | escape }}" class="db w100 gutter-ele-top gutter-ele-bottom">
								{%- render 'icon-sign-out' -%}&nbsp;{{ 'layout.customer.log_out' | t }}
							</a>
						</div>
					{%- else -%}
						<a class="bt-dropdown__trigger header__link flex flex-align-ver" title="{{ 'customer.account.title' | t | escape }}" href="{{ routes.account_login_url }}">
							<span class="hidden-md">{{ 'customer.login.sign_in' | t }}</span>
							{%- render 'icon-account' with add_class: 'hidden-lg' -%}
						</a>
						<div class="bt-dropdown__content bt-dropdown__content--auto-center">
							{%- render 'login-form-header', id: 'customer_login_header', suffix_id_field: 'Header' -%}
						</div>
					{%- endif -%}
					</div>	
				{%- endif -%}
				{%- render 'currency-switcher', data_group: 'header__links', show_currency_icon: true, hide_currency_code: true, currency_work_with_gutter: false, add_wrap_classes: 'header__link-ele', addition_classes: 'flex flex-align-ver' -%}
				{%- render 'language-picker', data_group: 'header__links', show_language_icon: true, hide_language_code: true, wrap_class: 'flex flex-align-ver header__link-ele', addition_classes: 'header__link flex flex-align-ver' -%}
				<a href="{{ routes.search_url }}" class="header__link header__link-ele flex flex-align-ver search-full-trigger" title="{{ 'general.search.placeholder' | t | escape }}">
					{% render 'icon-search' %}
				</a>
				{%- if settings.enable_compare -%}
					<a href="javascript:void(0);" class="header__link header__link-ele header__link--compare flex flex-align-ver" title="{{ 'collections.product_item.compare' | t | escape }}">
						{%- render 'icon-compare' -%}
					</a>
				{%- endif -%}
				{%- if settings.enable_wishlist -%}
					<a href="javascript:void(0);" class="por header__link header__link-ele header__link--wishlist flex flex-align-ver" title="{{ 'collections.product_item.wishlist' | t | escape }}">
						{%- render 'icon-wishlist' -%}
						<span class="wishlist-number abs-number"></span>
					</a>
				{%- endif -%}
				
				{%- render 'header-cart', data_group: 'header__links', cart_dropdown_direction: 'bt-dropdown__content--right bt-dropdown__content--right-fluid', addition_classes: 'header__link flex flex-align-ver', header_custom_class: 'header__link-ele' -%}
			</div>
		</div>
	</div>
</div>