{%- if settings.enable_language_picker and shop.published_locales.size > 1 -%}
<div class="bt-dropdown language-switcher lp h100{% if wrap_class %} {{ wrap_class }}{% endif %}"{% if data_group %} data-group="{{ data_group | escape }}"{% endif %} style="position:relative;">
	<a class="bt-dropdown__trigger{% if flex_trigger %} flex flex-align-ver{% else %} dib{% endif %}{% if addition_classes %} {{ addition_classes }}{% endif %}" title="{{ 'general.currency.switcher' | t | escape }}" href="javascript:void(0);">
		{%- if show_language_icon -%}
			{%- render 'icon-language' with add_class: 'ver-sub' -%}
		{%- endif -%}
		{%- unless hide_language_code -%}
		<span class="lp__language-name{% if hide_language_name %} hide{% endif %}">
			{{ request.locale.endonym_name | split: ' (' | first }}
		</span>
		{%- endunless -%}
	</a>
	<div class="bt-dropdown__content bt-dropdown__content--auto-center" style="min-width:auto;">
		<ul>
			{%- for locale in shop.published_locales -%}
				{%- if locale.iso_code != request.locale.iso_code or hide_language_code -%}
				{%- assign remove_lang_code = '/' | append: request.locale.iso_code -%}
				<li class="lp__language-item">
					{%- if locale.iso_code != request.locale.iso_code -%}
						<a data-code="{{ locale.iso_code | escape }}" href="{% unless locale.primary %}{{ locale.root_url }}{% if request.path != '/' %}{{ request.path | remove_first: remove_lang_code }}{% endif %}{% else %}{% if request.path != remove_lang_code %}{{ request.path | remove_first: remove_lang_code }}{% else %}{{ request.path | remove_first: request.locale.iso_code }}{% endif %}{% endunless %}" class="lp__code">{{ locale.endonym_name }}</a>
					{%- else -%}
						<span class="alternative">{{ locale.endonym_name }}</span>	
					{%- endif -%}
				</li>
				{%- endif -%}
			{%- endfor -%}
		</ul>
	</div>
</div>
{%- endif -%}