{% form 'customer_login', id: id %}
  {{ form.errors | default_errors }}
  <div class="field field--float-label">
    <label for="CustomerEmail{{ suffix_id_field }}">{{ 'customer.login.email' | t }}</label>
    <input type="email" name="customer[email]" id="CustomerEmail{{ suffix_id_field }}" class="w100{% if form.errors contains 'email' %} input--error{% endif %}" autocapitalize="off">
    <span class="field__focus"></span>
	</div>
  {% if form.password_needed %}
  <div class="field field--float-label">
    <label for="CustomerPassword{{ suffix_id_field }}">{{ 'customer.login.password' | t }}</label>
    <input type="password" value="" name="customer[password]" id="CustomerPassword{{ suffix_id_field }}" class="w100{% if form.errors contains 'password' %} input--error{% endif %}">
    <span class="field__focus"></span>
  </div>
  {% endif %}

  <div class="text-center distance-top-ele gutter-ele-top dib w100">
  	<div class="pull-left">
  		<input type="submit" class="button button--style1 flex" value="{{ 'customer.login.sign_in' | t | escape }}">
  	</div>
  	<div class="pull-right">
  		<a class="button button--style2 flex" href="{{ routes.account_register_url }}" title="{{ 'customer.register.submit' | t | escape }}">
  			{{ 'customer.register.submit' | t }}
  		</a>
  	</div>
  	{%- if form.password_needed -%}
  		<p class="distance-top-ele text-left col-xs-12 no-gutter"><a href="{{ routes.account_login_url }}#recover" title="{{ 'customer.login.forgot_password' | t | escape }}" style="font-size: 13px;text-decoration: underline;">{{ 'customer.login.forgot_password' | t }}</a></p>
    {%- endif -%}
  </div>
{% endform %}