<div class="modal fade quickViewPopup" tabindex="-1" role="dialog" id="quickViewPopup">
  <div class="modal-dialog modal-lg modal-full" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close">{% include 'icon-close' with add_class: 'flex flex-align-hoz' %}</button>
      </div>
      <div class="modal-body">
        <div class="row product-section-content"></div>
      </div>
    </div>
  </div>
</div>