.info-list__number{width:50px;height:50px;border:1px dashed #ddd;border-radius:50%;text-align:center;line-height:50px}.info-list__number:hover{border-color:{{ settings.color_general_hover | default: '#d9121f' }};border-style:solid;color:{{ settings.color_general_hover | default: '#d9121f' }}}.info-list__item{padding-left:25px;width:calc(100% - 50px)}.info-list__title{font-size:16px;font-weight:500;margin-bottom:15px}.info-list__short-desc{color:#5555;font-weight:400}@media (max-width: 1199px){.info-list__button{position:relative !important}}
