@media (max-width: 767px){.text-list--content{margin-bottom:15px}}.text-list--content .text-icon{margin-right:5px}@media (min-width: 991px){.text-list--content .text-icon{margin-right:10px}}.bsp__text{font-size:12px;color:{{ settings.color_general_hover | default: '#d9121f' }};text-transform:uppercase;font-weight:400}.bsp__price{font-size:43px;line-height:43px}@media (max-width: 767px){.bsp__button-wrap{padding-top:60px}}@media (max-width: 375px){.bsp__button-wrap{padding-top:30px}}.bsp__button{font-size:12px;text-transform:uppercase}
