{%- if settings.enable_review -%}
	{%- if settings.review_app == 'ryviu' -%}
		{%- if product.metafields.ryviu.product_reviews_info != blank -%}
			{%- assign reviewArray = product.metafields.ryviu.product_reviews_info | split: ';' -%}
			,"aggregateRating": {
        "@type": "AggregateRating",
        "ratingCount": "{{ reviewArray[0] }}",
        "ratingValue": "{{ reviewArray[1] }}"
      }
		{%- endif -%}
	{%- elsif settings.review_app == 'loox' -%}
		{%- if product.metafields.loox.num_reviews -%}
			,"aggregateRating": {
	      "@type": "AggregateRating",
	      "ratingCount": "{{ product.metafields.loox.num_reviews }}",
	      "ratingValue": "{{ product.metafields.loox.avg_rating }}"
	    }
    {%- endif -%}
	{%- endif -%}
{%- endif -%}