{%- if template.suffix != 'quick_view' -%}
<h1 class="product-single__title w100 dib margin0">{{ product.title }}</h1>
{%- else -%}
<span class="product-single__title w100 dib">{{ product.title }}</span>
{%- endif -%}