{%- if show_wishlist_btn and settings.enable_wishlist -%}
<a {% if showTooltip %} data-toggle="tooltip" data-original-title="{{ 'collections.product_item.add_to_wishlist' | t | escape }}" {% if tooltip_pos != blank %} data-placement="{{ tooltip_pos }}" {% else %} data-placement="top" {% endif %}{% endif %} title="{{ 'collections.product_item.add_to_wishlist'|t|escape }}" data-handle="{{ product.handle }}" href="#" class="button button--wl flex flex-align-ver flex-align-hoz{% if btn_style_classes %} {{ btn_style_classes }}{% endif %}">{% render 'icon-wishlist' %}{%- unless hide_wishlist_text -%} {{ 'collections.product_item.wishlist'|t }}{%- endunless -%}</a>
{%- endif -%}