{%- if template.suffix != 'quick_view' -%}
<div class="container{% include 'wide-css-class' %}">
  <div class="row">
{%- endif -%}
<div class="col-xs-12 col-md-6 no-gutter-left-mb no-gutter-right-mb{% if settings.enale_rtl %} f-right{% endif %}">
  {%- include 'product-single-media' -%}
</div>

<div class="col-xs-12 col-md-6">
  {%- include 'product-single-breadcrumbs' -%}
  {%- include 'product-single-name' -%}
  {%- include 'product-single-sold' -%}
  {%- capture review_single_html -%}
    {%- include 'product-review-single' -%}
  {%- endcapture -%}
  {%- if review_single_html != blank or sizechart -%}
  <div class="gutter-ele-small-top gutter-ele-bottom{% if review_single_html != blank and sizechart %} flex flex-align-space-between{% endif %}">
    {{ review_single_html }}
    {%- include 'product-single-size-chart' -%}
  </div>
  {%- endif -%}
  {%- include 'product-single-price' -%}
  {%- include 'product-single-short-desc' -%}
  {%- include 'product-single-countdown' -%}
  {%- include 'product-single-hurry-up' -%}
  {%- unless product.has_only_default_variant -%}
  {%- include 'product-single-variants' -%}
  {%- endunless -%}
  {%- include 'product-single-form', full_qty_box: false -%}
  
  {%- include 'product-single-payment-badge' -%}
  {%- if template.suffix == 'quick_view' -%}
    <div class="gutter-ele-top gutter-ele-bottom">{{ description }}</div>
  {%- endif -%}
  {%- include 'product-single-social-sharing' -%}
  {%- include 'product-single-view-details' -%}
</div>

{%- if template.suffix != 'quick_view' -%}
</div>
<div class="row">
<div class="col-xs-12 gutter-top gutter-ele-bottom">
  {%- include 'product-single-sub-info' -%}
</div>
</div>
</div>
{%- endif -%}