{%- if settings.enable_review -%}
<div class="pg__review-stars">
	{%- case settings.review_app -%}
	  {%- when 'product_review' -%}
	  	{%- if product.metafields.spr.reviews -%}
	     	<span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
	    {%- else -%}
				<span>{{ 'products.product.no_rating' | t }}</span> 	
	    {%- endif -%} 
	  {%- when 'ali_reviews' -%}
	    <div product-id="{{ product.id }}" class="arv-collection arv-collection--{{ product.id }}"></div>
	  {%- when 'ryviu' -%}
	  	{%- if product.metafields.ryviu.reviews -%}
	    	<div class="ryviu-collection-widget" data="collection_product_reviews" product-handle="{{product.handle}}"></div>
	    {%- else -%}
				<span>{{ 'products.product.no_rating' | t }}</span> 	
	    {%- endif -%}
	  {%- when 'yotpo' -%}
	  	<div class="yotpo bottomLine"
			    data-appkey="aupvaOhFAFM59YvNhpqplt6RFzxGxuTDYCh9r3Ms"
			    data-domain="{{shop.permanent_domain | escape }}"
			    data-product-id="{{ product.id }}"
			    data-product-models="{{ product.id }}"
			    data-name="{{ product.title | escape }}"
			    data-url="{{ shop.url }}{{ product.url }}"
			    data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
			    data-description="{{ product.description | escape }}"
			    data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}">
			</div>    
		{%- when 'loox' -%}
			{%- if product.metafields.loox.num_reviews -%}
				<div class="loox-rating" data-fetch data-id="{{ product.id }}"></div>	
			{%- else -%}
				<span>{{ 'products.product.no_rating' | t }}</span>
			{%- endif -%}	
	  {%- else -%}
	    {%- comment -%}Add your custom code{%- endcomment -%}
	{%- endcase -%}
</div>
{%- endif -%}