<div class="pg__tabs">
  {%- assign product_tab_id = 'product-template-tabs' -%}
  <div class="nav-tab-content tab-content tab-accordion tab-accordion-all">
    {% for block in section.blocks %}
      {%- case block.type -%}
        {%- when 'tab_item_desc' -%}
          <a href="#{{ product_tab_id }}_{{ forloop.index }}" class="w100 dib tab-accordion__trigger{% if forloop.first %} open{% endif %}">{{ block.settings.title }}</a>
          <div class="tab-pane tab-pane--accordion{% if forloop.first %} active{% endif %}" id="{{ product_tab_id }}_{{ forloop.index }}">
            {{ description }}
          </div>
        {%- when 'tab_item_review' -%}
          {%- if block.settings.title != blank -%}
            <a href="#{{ product_tab_id }}_{{ forloop.index }}" class="w100 dib tab-accordion__trigger{% if forloop.first %} open{% endif %}">{{ block.settings.title }}</a>
            <div class="tab-pane tab-pane--accordion{% if forloop.first %} active{% endif %}" id="{{ product_tab_id }}_{{ forloop.index }}">
              {%- include 'product-review-form' -%}
            </div>
          {%- endif -%}
        {%- when 'tab_item_custom' -%}
          <a href="#{{ product_tab_id }}_{{ forloop.index }}" class="w100 dib tab-accordion__trigger{% if forloop.first %} open{% endif %}">{{ block.settings.title }}</a>
          <div class="tab-pane tab-pane--accordion{% if forloop.first %} active{% endif %}" id="{{ product_tab_id }}_{{ forloop.index }}">
            <div class="rte">{{ block.settings.custom_html | raw }}</div>
          </div>
        {%- when 'tab_item_shipping' -%}
          {%- if block.settings.vendor == product.vendor and block.settings.pr_type == product.type and product.tags contains block.settings.pr_option -%}
            <a href="#{{ product_tab_id }}_{{ forloop.index }}" class="w100 dib tab-accordion__trigger{% if forloop.first %} open{% endif %}">{{ block.settings.tab_title }}</a>
            <div class="tab-pane tab-pane--accordion{% if forloop.first %} active{% endif %}" id="{{ product_tab_id }}_{{ forloop.index }}">
              <div class="rte">{{ block.settings.custom_html | raw }}</div>
            </div>
          {%- endif -%}
        {%- when 'tab_item_specification' -%}
          {%- if block.settings.vendor == product.vendor and block.settings.pr_type == product.type and product.tags contains block.settings.pr_option -%}
            <a href="#{{ product_tab_id }}_{{ forloop.index }}" class="w100 dib tab-accordion__trigger{% if forloop.first %} open{% endif %}">{{ block.settings.tab_title }}</a>
            <div class="tab-pane tab-pane--accordion{% if forloop.first %} active{% endif %}" id="{{ product_tab_id }}_{{ forloop.index }}">
              <div class="rte">{{ block.settings.custom_html | raw }}</div>
            </div>
          {%- endif -%}
      {%- endcase -%}
    {%- endfor -%}
    {%- if product.metafields.btt.customtabs -%}
      {%- assign customTabArray = product.metafields.btt.customtabs | split: ',' -%}
      {%- if customTabArray -%}
        {%- for tab in customTabArray -%}
          {%- assign tabArrayKey = tab | split: '-' -%}
          {%- assign tabTitleKey = tabArrayKey | first -%}
          {%- assign tabContentKey = tabArrayKey | last -%}
          <a href="#{{ product_tab_id }}_ct_{{ forloop.index }}" class="w100 dib tab-accordion__trigger">{{ product.metafields.btt[tabTitleKey] }}</a>
          <div class="tab-pane tab-pane--accordion" id="{{ product_tab_id }}_ct_{{ forloop.index }}">
            <div class="rte">{{ product.metafields.btt[tabContentKey] }}</div>
          </div>
        {%- endfor -%}
      {%- endif -%} 
    {%- endif -%} 
  </div>
</div>