<div class="product-price-wrap flex flex-align-ver gutter-ele-top gutter-ele-bottom">
  <div class="product-price product-price--single lh1 flex flex-align-ver{% unless product.price_varies %} product-price{% endunless %}">
    {% if current_variant.compare_at_price > current_variant.price %}
      <span class="product-price__price">
        {%- render 'price' with current_variant.price -%}
      </span>
      <s class="product-price__price product-price__sale">{%- render 'price' with current_variant.compare_at_price -%}</s>
    {% else %}
      <span class="product-price__price">{%- render 'price' with current_variant.price -%}</span>
    {% endif %}
  </div>
  {%- unless product.price_varies -%}
    {%- render 'product-single-discount-text' with variant: current_variant -%}
  {%- endunless -%}  
</div>

{%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
  <div class="product__policies rte gutter-ele-top gutter-ele-top-tbs">
    {%- if shop.taxes_included -%}
      {{ 'products.product.include_taxes' | t }}
    {%- endif -%}
    {%- if shop.shipping_policy.body != blank -%}
      {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
    {%- endif -%}
  </div>
{%- endif -%}