{%- capture img_alt -%}{%- include 'alt-img-shortcode-ign', str: media.alt -%}{%- endcapture -%}
<div class="pg__thumb{% if featured_media and featured_media == media %} active{% endif %}{% if use_slider and index > ov_slider %} ov-slider-tb{% endif %}{% if use_slider and index > ov_slider_mobile %} ov-slider-mb{% endif %}">
  <a href="{{ media.src | img_url: 'master' }}" class="pg__thumb__link stick-item img-container{% unless media.media_type == 'external_video' %} loading{% endunless %}" title="{{ img_alt | escape }}" data-image-id="{{ media.id }}" data-width="{{ media.width }}" data-height="{{ media.height }}" style="padding-top:{{ 1 | divided_by: media.aspect_ratio | times: 100}}%;">
        {%- if media.media_type != 'model' -%}
        {%- assign img_url = media | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        <img class="img-responsive lazyload img-abs w100 {% if use_slider %}zoom-fade-slider{% else %}fade-in{% endif %}{% if media.alt contains '{{video' or media.alt contains '{{youtube' or media.alt contains '{{vimeo' or media.media_type == 'external_video'  %} pg__image-blur{% endif %}"
                data-aspectratio="{{ media.aspect_ratio }}"
            data-src="{{ img_url }}"
        data-sizes="auto" alt="{{ img_alt | escape }}"{% include 'img-one-pixel' %} data-expand="-30">
        {%- endif -%}
        {%- case media.media_type -%}
          {%- when 'external_video' -%}
            {%- render 'icon-play-video' with add_class: 'pg__thumb__link-video' -%}
          {%- when 'video' -%}
            {%- render 'icon-play-video' with add_class: 'pg__thumb__link-video' -%}
          {%- when 'model' -%}
            <div class="product-single__media" style="padding-top: 100%" data-media-id="{{ media.id }}">
              {{ media | model_viewer_tag }}
            </div>
          {%- else -%}
            {%- if media.alt contains '{{video' or media.alt contains '{{youtube' or media.alt contains '{{vimeo' -%}
                {%- render 'icon-play-video' with add_class: 'pg__thumb__link-video' -%}
            {%- endif -%}  
        {%- endcase -%}
    </a>
</div>