{%- if template.suffix != 'quick_view' -%}
{%- unless no_container -%}
<div class="container{% include 'wide-css-class' %}">
{%- endunless -%}  
  <div class="row">
{%- endif -%}
<div class="col-xs-12 col-md-6 no-gutter-left-mb no-gutter-right-mb{% if settings.enale_rtl %} f-right{% endif %}">
  {%- include 'product-single-media' -%}
</div>

<div class="col-xs-12 col-md-6 gutter-ele-top-tbs">
  {%- include 'product-single-vendor' -%}
  {%- include 'product-single-name' -%}
  {%- include 'product-single-sku' -%}
  <div class="flex flex-align-ver flex-align-space-between">
    {%- include 'product-single-sold' -%}
    {%- include 'product-single-social-sharing' -%}
  </div>
  {%- capture review_single_html -%}
    {%- include 'product-review-single' -%}
  {%- endcapture -%}
  {%- if review_single_html != blank or sizechart -%}
  <div class="gutter-ele-small-top gutter-ele-bottom{% if review_single_html != blank and sizechart %} flex flex-align-space-between{% endif %}">
    {{ review_single_html }}
    {%- include 'product-single-size-chart' -%}
  </div>
  {%- endif -%}
  {%- include 'product-single-price' -%}
  {%- include 'product-single-short-desc' -%}

  {% for block in section.blocks %}
    {%- if block.type == 'custom_pr_desc' -%}
      {%- if block.settings.pr_option -%}
        {%- if block.settings.vendor == product.vendor and block.settings.pr_type == product.type and product.tags contains block.settings.pr_option -%}
          <div class="pg__short-desc gutter-ele-top gutter-ele-bottom clearfix rte">
          {{ block.settings.custom_html | raw }}
          {% break %}
          </div>
        {%- endif -%}
      {%- else -%}
        {%- if block.settings.vendor == product.vendor and block.settings.pr_type == product.type -%}
          <div class="pg__short-desc gutter-ele-top gutter-ele-bottom clearfix rte">
          {{ block.settings.custom_html | raw }}
          {% break %}
          </div>
        {%- endif -%}
      {%- endif -%}
    {%- endif -%}
  {% endfor %}

  {%- include 'product-single-countdown' -%}
  {%- include 'product-single-hurry-up' -%}
  {%- unless product.has_only_default_variant -%}
  {%- include 'product-single-variants' -%}
  {%- endunless -%}
  {%- include 'product-single-form', full_qty_box: false -%}
  <hr>
  {%- include 'product-single-payment-badge' -%}
  {%- if template.suffix == 'quick_view' -%}
    <div class="gutter-ele-top gutter-ele-bottom">{{ description }}</div>
  {%- endif -%}
  {%- include 'product-single-sub-info' -%}
  {%- include 'product-single-view-details' -%}
</div>

{%- if template.suffix != 'quick_view' -%}
</div>
{%- unless no_container -%}
</div>
{%- endunless -%}
{%- endif -%}