<div class="pg__tabs" shipping="{{contain_custom_shipping}}" specification="{{ contain_custom_specification}}" type="{{ contain_type }}">
  {%- assign product_tab_id = 'product-template-tabs-' | append: section.id -%}
  <ul id="{{ product_tab_id }}" class="nav nav-tabs nav-tabs--single flex use-touch-mobile hidden-xs hidden-sm tab-accordion-list no-gutter gutter-bottom">
    {% for block in section.blocks %}
      {%- assign type = block.type -%}
      {% if type == 'tab_item_shipping' or type == 'tab_item_specification' %}
        {% if block.settings.vendor == product.vendor and block.settings.pr_type == product.type and product.tags contains block.settings.pr_option %}
          <li class="nav-tab-item nav-tab-item--single{% if forloop.first or b_title == 'shipping' %} active{% endif %} db por">
            <a class="nav__link-single data switch db por" data-toggle="tab" href="#{{ product_tab_id }}_{{ forloop.index }}" title="{{ block.settings.title | escape }}">
              <span>{{ block.settings.tab_title }}</span>
            </a>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
  <div class="nav-tab-content tab-content tab-accordion">
    {% for block in section.blocks %}
    {%- assign b_title =  block.settings.title | downcase -%}
      {%- case block.type -%}
        {%- when 'tab_item_desc' -%}
          <a href="#{{ product_tab_id }}_{{ forloop.index }}" class="nav__link-single hidden-md hidden-lg w100 dib tab-accordion__trigger{% if forloop.first %} open{% endif %}">{{ block.settings.title }}</a>
          <div class="tab-pane tab-pane--accordion tab-pane--accor-state{% if forloop.first and block.settings.pr_option == blank %} active{% elsif block.settings.pr_option != blank and b_title == 'shipping' %} active{% endif %}" id="{{ product_tab_id }}_{{ forloop.index }}">
            {{ description }}
          </div>
        {%- when 'tab_item_review' -%}
          {%- if block.settings.title != blank -%}
            <a href="#{{ product_tab_id }}_{{ forloop.index }}" class="nav__link-single hidden-md hidden-lg w100 dib tab-accordion__trigger{% if forloop.first %} open{% endif %}">{{ block.settings.title }}</a>
            <div class="tab-pane tab-pane--accordion tab-pane--accor-state{% if forloop.first and block.settings.pr_option == blank %} active{% elsif block.settings.pr_option != blank and b_title == 'shipping' %} active{% endif %}" id="{{ product_tab_id }}_{{ forloop.index }}">
              {%- include 'product-review-form' -%}
            </div>
          {%- endif -%}
        {%- when 'tab_item_custom' -%}
          <a href="#{{ product_tab_id }}_{{ forloop.index }}" class="nav__link-single hidden-md hidden-lg w100 dib tab-accordion__trigger{% if forloop.first %} open{% endif %}">{{ block.settings.title }}</a>
          <div class="tab-pane tab-pane--accordion tab-pane--accor-state{% if forloop.first and block.settings.pr_option == blank %} active{% elsif block.settings.pr_option != blank and b_title == 'shipping' %} active{% endif %}" id="{{ product_tab_id }}_{{ forloop.index }}">
            <div class="rte">{{ block.settings.custom_html | raw }}</div>
          </div>
        {%- when 'tab_item_shipping' -%}
          {%- if block.settings.pr_option != blank -%}
            {%- if block.settings.vendor == product.vendor and block.settings.pr_type == product.type and product.tags contains block.settings.pr_option -%}
              <a href="#{{ product_tab_id }}_{{ forloop.index }}" class="nav__link-single hidden-md hidden-lg w100 dib tab-accordion__trigger{% if forloop.first %} open{% endif %}">{{ block.settings.tab_title }}</a>
              <div class="tab-pane tab-pane--accordion tab-pane--accor-state{% if forloop.first and block.settings.pr_option == blank %} active{% elsif block.settings.pr_option != blank and b_title == 'shipping' %} active{% endif %}" id="{{ product_tab_id }}_{{ forloop.index }}">
                <div class="rte">{{ block.settings.custom_html | raw }}</div>
              </div>
            {%- endif -%}
          {%- else -%}
            {%- if block.settings.vendor == product.vendor and block.settings.pr_type == product.type -%}
              <a href="#{{ product_tab_id }}_{{ forloop.index }}" class="nav__link-single hidden-md hidden-lg w100 dib tab-accordion__trigger{% if forloop.first %} open{% endif %}">{{ block.settings.tab_title }}</a>
              <div class="tab-pane tab-pane--accordion tab-pane--accor-state{% if forloop.first and block.settings.pr_option == blank %} active{% elsif block.settings.pr_option != blank and b_title == 'shipping' %} active{% endif %}" id="{{ product_tab_id }}_{{ forloop.index }}">
                <div class="rte">{{ block.settings.custom_html | raw }}</div>
              </div>
            {%- endif -%}
          {%- endif -%}
        {%- when 'tab_item_specification' -%}
          {%- if block.settings.pr_option != blank -%}
            {%- if block.settings.vendor == product.vendor and block.settings.pr_type == product.type and product.tags contains block.settings.pr_option -%}
              <a href="#{{ product_tab_id }}_{{ forloop.index }}" class="nav__link-single hidden-md hidden-lg w100 dib tab-accordion__trigger{% if forloop.first %} open{% endif %}">{{ block.settings.tab_title }}</a>
              <div class="tab-pane tab-pane--accordion tab-pane--accor-state{% if forloop.first and block.settings.pr_option == blank %} active{% elsif block.settings.pr_option != blank and b_title == 'shipping' %} active{% endif %}" id="{{ product_tab_id }}_{{ forloop.index }}">
                <div class="rte">{{ block.settings.custom_html | raw }}</div>
              </div>
            {%- endif -%}
          {%- else -%}
            {%- if block.settings.vendor == product.vendor and block.settings.pr_type == product.type -%}
              <a href="#{{ product_tab_id }}_{{ forloop.index }}" class="nav__link-single hidden-md hidden-lg w100 dib tab-accordion__trigger{% if forloop.first %} open{% endif %}">{{ block.settings.tab_title }}</a>
              <div class="tab-pane tab-pane--accordion tab-pane--accor-state{% if forloop.first and block.settings.pr_option == blank %} active{% elsif block.settings.pr_option != blank and b_title == 'shipping' %} active{% endif %}" id="{{ product_tab_id }}_{{ forloop.index }}">
                <div class="rte">{{ block.settings.custom_html | raw }}</div>
              </div>
            {%- endif -%}
          {%- endif -%}
      {%- endcase -%}
    {%- endfor -%}
    {%- unless contain_custom_specification -%}
      {%- if customTabArray -%}
        {%- for tab in customTabArray -%}
          {%- assign tabArrayKey = tab | split: '-' -%}
          {%- assign tabTitleKey = tabArrayKey | first -%}
          {%- assign tabContentKey = tabArrayKey | last -%}
          <a href="#{{ product_tab_id }}_ct_{{ forloop.index }}" class="nav__link-single hidden-md hidden-lg w100 dib tab-accordion__trigger">{{ product.metafields.btt[tabTitleKey] }}</a>
          <div class="tab-pane tab-pane--accordion tab-pane--accor-state" id="{{ product_tab_id }}_ct_{{ forloop.index }}">
            <div class="rte">{{ product.metafields.btt[tabContentKey] }}</div>
          </div>
        {%- endfor -%}
      {%- endif -%} 
    {%- endunless -%}   
  </div>
</div>