{%- if settings.enable_review -%}
{%- capture review_stars_html -%}
	{%- assign review_app = settings.review_app -%}
	{%- case review_app -%}
	  {%- when 'product_review' -%}
	  	{%- if product.metafields.spr.reviews -%}
	     <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
	    {%- endif -%} 
	  {%- when 'ali_reviews' -%}
	    <div product-id="{{ product.id }}" class="arv-collection arv-collection--{{ product.id }}"></div>
	  {%- when 'ryviu' -%}
	  	{%- if product.metafields.ryviu.product_reviews_info -%}
	    <div class="ryviu-collection">
				<ryviu-widget-total collection=1 
				     reviews_data="{{product.metafields.ryviu.product_reviews_info  | escape  }}" 
				     product_id="{{product.id}}" handle="{{product.handle}}">
				</ryviu-widget-total>
			</div>  
	    {%- endif -%}
	  {%- when 'yotpo' -%}
	  	<div class="yotpo bottomLine"
			    data-appkey="{{ settings.yotpo_app_key | escape }}"
			    data-domain="{{shop.permanent_domain | escape }}"
			    data-product-id="{{ product.id }}"
			    data-product-models="{{ product.id }}"
			    data-name="{{ product.title | escape }}"
			    data-url="{{ shop.url }}{{ product.url }}"
			    data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
			    data-description="{{ product.description | escape }}"
			    data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}">
			</div>    
		{%- when 'loox' -%}
			{%- if product.metafields.loox.num_reviews -%}
			<div class="loox-rating" data-fetch data-id="{{ product.id }}"></div>	
			{%- endif -%}
	  {%- else -%}
	    {%- comment -%}Add your custom code{%- endcomment -%}
	{%- endcase -%}
{%- endcapture -%}
{%- if review_stars_html != '' -%}
<div class="pg__review-stars pg__review-stars--no-number">{{ review_stars_html }}</div>
{%- endif -%}
{%- endif -%}