{%- if template.suffix != 'quick_view' -%}
{%- unless no_container -%}
<div class="container{% include 'wide-css-class' %}">
{%- endunless -%}  
  <div class="row">
{%- endif -%}
<div class="col-xs-12 col-md-6 product-media-masonry-align no-gutter-left-mb no-gutter-right-mb{% if settings.enale_rtl %} f-right{% endif %}">
  {%- include 'product-single-media' -%}
</div>

<div class="col-xs-12 col-md-6 gutter-ele-top-tbs">
  {%- include 'product-single-vendor' -%}
  {%- include 'product-single-name' -%}
  {%- include 'product-single-sku' -%}
  <div class="flex flex-align-ver flex-align-space-between">
    {%- include 'product-single-sold' -%}
    {%- include 'product-single-social-sharing' -%}
  </div>
  {%- capture review_single_html -%}
    {%- include 'product-review-single' -%}
  {%- endcapture -%}
  {%- if review_single_html != blank or sizechart -%}
  <div class="gutter-ele-top gutter-ele-bottom{% if review_single_html != blank and sizechart %} flex flex-align-space-between{% endif %}">
    {{ review_single_html }}
    {%- include 'product-single-size-chart' -%}
  </div>
  {%- endif -%}
  {%- include 'product-single-price' -%}
  {%- include 'product-single-short-desc' -%}
  {%- include 'product-single-variants' -%}
  {%- include 'product-single-form', full_qty_box: false -%}
  <hr>
  {%- include 'product-single-countdown' -%}
  {%- include 'product-single-hurry-up' -%}
  {%- if template.suffix == 'quick_view' -%}
    <div class="gutter-ele-top gutter-ele-bottom">{{ description }}</div>
  {%- endif -%}
  {%- include 'product-single-sub-info' -%}
  {%- include 'product-single-payment-badge' -%}
  {%- include 'product-single-view-details' -%}
</div>

{%- if settings.enable_review and template.suffix != 'quick_view' and section.settings.show_review_form_outside_tab -%}
</div>
<div class="row">
<div class="col-xs-12 col-md-6 product-review-masonry{% if settings.enale_rtl %} f-right{% endif %}">
  {%- include 'product-review-form' -%}
</div>
{%- endif -%}

{%- if template.suffix != 'quick_view' -%}
</div>
{%- unless no_container -%}
</div>
{%- endunless -%}
{%- endif -%}