{%- if settings.enable_review -%}
  <div class="pg__review-form">
    {%- case settings.review_app -%}
      {%- when 'product_review' -%}
        <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
      {%- when 'ali_reviews' -%}
        <div id="shopify-ali-review" product-id="{{ product.id }}"> {{ shop.metafields.review_collector.review_code }} </div>
      {%- when 'ryviu' -%}
        <div class="lt-block-reviews"> 
          <ryviu-widget  
                handle="{{product.handle}}"
                product_id="{{product.id}}"
              title_product="{{product.title}}"
              total_meta="{{ product.metafields.ryviu.r_count }}"
            image_product="{{ product.featured_image.src | img_url: '180x' }}"></ryviu-widget>
        </div>
      {%- when 'yotpo' -%}  
        <div class="yotpo yotpo-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}"></div>
      {%- when 'loox' -%}
        <div id="looxReviews" data-product-id="{{product.id}}" class="loox-reviews-default">{{ product.metafields.loox.reviews }}</div>
      {%- else -%}
        {%- comment -%}Add your custom code{%- endcomment -%}
    {%- endcase -%}
  </div>
{%- endif -%}