{
  {%- for variant in product.variants -%}
  "{{ variant.id | json }}":{
    "id": {{ variant.id | json }},
    "title": {{ variant.title | json }},
    "available": {{ variant.available | json }},
    "options": {{ variant.options | json }},
    "price": {{ variant.price | json }},
    "compare_at_price": {{ variant.compare_at_price | json }},
    "inventory_quantity": {{ variant.inventory_quantity | json }},
    "inventory_policy": {{ variant.inventory_policy | json }},
    "featured_media": {
      "id": {{ variant.featured_media.id | json }},
      "src": {{ variant.featured_media.preview_image.src | json }}
    },
    "sku": {{ variant.sku | json }}
  }{%- unless forloop.last -%},{%- endunless -%}
  {%- endfor -%}
}