<div class="banner-item__image {{ image_col_width }} no-gutter {% if block.settings.image_alignment != 'center' %}pull-{{ block.settings.image_alignment }}{% else %}center-block{% endif %}"{% if block.settings.image_alignment == 'center' %} style="float:none;"{% endif %}>
{%- if block.settings.image != blank -%}
	{%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
	
	{%- if block.settings.image.alt != blank -%}
  	{%- assign image_title = block.settings.image.alt -%}
	{%- else -%}
		{%- assign image_title = block.settings.image.src | split: '/' | last -%}
	{%- endif -%}

	{%- if block.settings.image_mobile != blank -%}
		{%- if block.settings.image_mobile.alt != blank -%}
	  	{%- assign image_mobile_title = block.settings.image_mobile.alt -%}
		{%- else -%}
			{%- assign image_mobile_title = block.settings.image_mobile.src | split: '/' | last -%}
		{%- endif -%}
	{%- else -%}
		{%- assign image_mobile_title = image_title -%}
	{%- endif -%}
  
  {%- assign current_index_1 = current_index_tb -%}
  {%- assign current_index_2 = current_index_mobile -%}
  {%- assign lazyload_index_1 = lazyload_index -%}
  {%- assign lazyload_index_2 = lazyload_index_mobile -%}
  {%- if block.settings.hide_on_desktop -%}
  	{%- assign current_index_1 = current_index_mobile -%}
  	{%- assign lazyload_index_1 = lazyload_index_mobile -%}
  {%- endif -%}
  {%- if block.settings.hide_on_mobile -%}
  	{%- assign current_index_2 = current_index_tb -%}
  	{%- assign lazyload_index_2 = lazyload_index_tb -%}
  {%- endif -%}

  {%- assign effect_classes = '' -%}
  {%- if block.settings.effect_enable -%}
  	{%- assign effect_classes = ' rb__effect' -%}
  	{%- if block.settings.effect_trans_zoom -%}
  		{%- assign effect_classes = effect_classes | append: ' rb__effect--zoom' -%}
  	{%- endif -%}
  	{%- if block.settings.effect_trans_slide -%}
  		{%- assign effect_classes = effect_classes | append: ' rb__effect--slide' -%}
  	{%- endif -%}
  	{%- if block.settings.effect_trans_border -%}
  		{%- assign effect_classes = effect_classes | append: ' rb__effect--border' -%}
  	{%- endif -%}
  	{%- if block.settings.effect_color != 'none' -%}
  		{%- assign effect_classes = effect_classes | append: ' rb__effect--' | append: block.settings.effect_color -%}
  	{%- endif -%}
  {%- endif -%}

	{%- if block.settings.image_link != blank -%}
		{%- if block.settings.hide_on_desktop == false or block.settings.image_mobile == blank -%}
				<a href="{{ block.settings.image_link }}"{% if block.settings.image_link_new_tab %} target="_blank"{% endif %} class="img-container{% if current_index_1 > lazyload_index_1 or section.settings.blur_thumb == false %} loading{% endif %}{% if block.settings.image_mobile != blank %} hidden-xs{% endif %}{{ effect_classes }}" style="padding-top:{{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100}}%;" title="{{ image_title | escape }}">
					<img 	data-aspectratio="{{ block.settings.image.aspect_ratio }}"
		            data-src="{{ img_url }}"
		            data-sizes="auto" class="w100 img-abs img-responsive lazyload{% if current_index_1 <= lazyload_index_1 and section.settings.blur_thumb %} op1{% elsif section.settings.enable_slider %} ignore-effect{% else %} zoom-fade{% endif %}" alt="{{ image_title | escape }}" width="{{ block.settings.image.width }}" height="{{ block.settings.image.height }}"{% if current_index_1 <= lazyload_index_1 and section.settings.blur_thumb %} src="{{ block.settings.image | img_url: '150x' }}"{% else %}{% include 'img-one-pixel' %}{% endif %} data-expand="-100"/>    
				</a>
		{%- endif -%}
		
		{%- unless block.settings.hide_on_mobile -%}
			{%- if block.settings.image_mobile != blank -%}
					<a href="{{ block.settings.image_link }}"{% if block.settings.image_link_new_tab %} target="_blank"{% endif %} class="img-container visible-xs{% if current_index_2 > lazyload_index_2 or section.settings.blur_thumb == false %} loading{% endif %}{{ effect_classes }}" style="padding-top:{{ 1 | divided_by: block.settings.image_mobile.aspect_ratio | times: 100}}%;" title="{{ image_mobile_title | escape }}">
		    		{%- assign img_mobile_url = block.settings.image_mobile | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
		    		<img data-aspectratio="{{ block.settings.image_mobile.aspect_ratio }}"
		          data-src="{{ img_mobile_url }}"
		          data-sizes="auto" class="w100 img-abs img-responsive lazyload{% if block.settings.image_alignment == 'center' %} center-block{% endif %}{% if current_index_2 <= lazyload_index_2 and section.settings.blur_thumb %} op1{% endif %}" alt="{{ image_mobile_title | escape }}" width="{{ block.settings.image_mobile.width }}" height="{{ block.settings.image_mobile.height }}"{% if current_index_2 <= lazyload_index_2 and section.settings.blur_thumb %} src="{{ block.settings.image_mobile | img_url: '100x' }}"{% else %}{% include 'img-one-pixel' %}{% endif %} data-expand="-100"/>
		    	</a>
	  	{%- endif -%}
  	{%- endunless -%}
	{%- else -%}
		{%- if block.settings.hide_on_desktop == false or block.settings.image_mobile == blank -%}
				<div class="img-container {% if current_index_1 > lazyload_index_1 or section.settings.blur_thumb == false %} loading{% endif %}{% if block.settings.image_mobile != blank %} hidden-xs{% endif %}{{ effect_classes }}" style="padding-top:{{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100}}%;">
					<img data-aspectratio="{{ block.settings.image.aspect_ratio }}"
		            data-src="{{ img_url }}"
		            data-sizes="auto" class="w100 img-abs img-responsive lazyload{% if current_index_1 <= lazyload_index_1 and section.settings.blur_thumb %} op1{% elsif section.settings.enable_slider %} ignore-effect{% else %} zoom-fade{% endif %}" alt="{{ image_title | escape }}" width="{{ block.settings.image.width }}" height="{{ block.settings.image.height }}"{% if current_index_1 <= lazyload_index_1 and section.settings.blur_thumb %} src="{{ block.settings.image | img_url: '150x' }}"{% else %}{% include 'img-one-pixel' %}{% endif %} data-expand="-100"/>
				</div>
		{%- endif -%}
		
		{%- unless block.settings.hide_on_mobile -%}
			{%- if block.settings.image_mobile != blank -%}
				{%- assign img_mobile_url = block.settings.image_mobile | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
					<div class="img-container{% if current_index_2 > lazyload_index_2 or section.settings.blur_thumb == false %} loading{% endif %} visible-xs{{ effect_classes }}" style="padding-top:{{ 1 | divided_by: block.settings.image_mobile.aspect_ratio | times: 100}}%;">
		    		<img data-aspectratio="{{ block.settings.image_mobile.aspect_ratio }}"
		          data-src="{{ img_mobile_url }}"
		          data-sizes="auto" class="w100 img-abs img-responsive lazyload{% if block.settings.image_alignment == 'center' %} center-block{% endif %}{% if current_index_2 <= lazyload_index_2 and section.settings.blur_thumb %} op1{% endif %}" alt="{{ image_mobile_title | escape }}" width="{{ block.settings.image_mobile.width }}" height="{{ block.settings.image_mobile.height }}"{% if current_index_2 <= lazyload_index_2 and section.settings.blur_thumb %} src="{{ block.settings.image_mobile | img_url: '100x' }}"{% else %}{% include 'img-one-pixel' %}{% endif %} data-expand="-100"/>
		      </div>  
	  	{%- endif -%}
  	{%- endunless -%}     
	{%- endif -%}
{% else %}
	{%- if section.settings.enable_slider -%}
		{%- assign real_image_size = section.settings.item_size -%}
	{%- else -%}	
		{%- assign real_image_size = block.settings.item_size -%}
	{%- endif -%}
	{%- if real_image_size == 'full' or real_image_size == 12  -%}
	  {% capture current %}{% cycle 1, 2 %}{% endcapture %}
    {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
  {%- else -%}
  	{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}	  
	{%- endif -%}
{%- endif -%}
</div>	