{% if paginate.pages > 1 %}
  {%- if settings.enable_infinity_loading_search -%}
    {%- render 'pagination-infinity' with paginate as paginate, infinity_action: settings.infinity_action_search, dataIdSave: 'search-page' -%}
  {%- else -%}
    {%- render 'pagination' with paginate as paginate -%}
  {%- endif -%}
{% endif %}