<div class="por{% if wrap_class %} {{ wrap_class }}{% endif %}">
	<form action="{{ routes.search_url }}" method="get" class="search-header search flex por{% if search_form_abs %} search--abs{% endif %}" role="search" style="flex-flow: row;{%- if additional_search_form_styles -%}{{ additional_search_form_styles | escape }}{%- endif -%}">
	  <input type="hidden" name="type" value="product">
	  <input class="search-header__input search__input w100{% unless is_search_mobile %} search__input--desktop search-suggest-inline{% endunless %}"
	    type="search"
	    name="q"
	    placeholder="{{ 'general.search.placeholder' | t }}"
	    aria-label="{{ 'general.search.placeholder' | t }}" style="box-sizing:content-box;-webkit-box-sizing:content-box;{% unless settings.enale_rtl %}border-right:none;{% else %}border-left:none;{% endunless %}">
	  <input type="hidden" name="options[prefix]" value="last" aria-hidden="true" />  
	  <button class="search-header__submit search__submit" type="submit" title="{{ 'general.search.submit' | t | escape }}">
	    {%- render 'icon-search' -%}
	  </button>
	</form>
	<div class="search-suggest text-left{% unless search_form_abs %} search-suggest--abs db{% endunless %}" style="max-width:100%;display:none;"><p class="search-suggest__total gutter-top"></p><ul class="search-suggest__list no-gutter"></ul></div>
</div>