{%- if template.name != 'cart' -%}
<div class="bt-sidebar hide">
  <div id="sidebar-cart" class="bt-sidebar__inner">
  	<div class="bt-sidebar__header flex bt-sidebar__header--right">
  		{%- render 'sidebar-close-btn' -%}
  		<h4 class="bt-sidebar__title">{{ 'cart.general.title' | t }}</h4>
  	</div>
    <div class="bt-sidebar__content load-ajax-snippet" data-snippet="header-cart-content" id="header-cart-canvas">
      {%- render 'loading-ajax-snippet' -%}
    </div>
  </div>
</div>
{%- endif -%}
