{%- unless settings.enale_rtl -%}
	{%- case settings.header_style_mobile -%}
	  {%- when 'style1' -%}
	    {%- assign direction = 'left' -%}
	  {%- when 'style2' -%}
	    {%- assign direction = 'left' -%}
	  {%- when 'style3' -%}
	    {%- assign direction = 'right' -%}
	  {%- when 'style4' -%}
	    {%- assign direction = 'left' -%}
	  {%- else -%}
	    {%- assign direction = 'left' -%}
	{%- endcase -%}
{%- else -%}
	{%- case settings.header_style_mobile -%}
		{%- when 'style1' -%}
	    {%- assign direction = 'right' -%}
	  {%- when 'style2' -%}
	    {%- assign direction = 'right' -%}
	  {%- when 'style3' -%}
	    {%- assign direction = 'left' -%}
	  {%- when 'style4' -%}
	    {%- assign direction = 'left' -%}
	  {%- else -%}
	    {%- assign direction = 'left' -%}
  {%- endcase -%}  
{%- endunless -%}
<div class="bt-sidebar hide">
  <div id="sidebar-mobile-nav" class="bt-sidebar__inner no-gutter">
  	<div class="bt-sidebar__header flex bt-sidebar__header--{{ direction }}" style="padding:0 10px;">
  		{%- render 'sidebar-close-btn', direction: direction -%}
  	</div>
    <div class="bt-sidebar__content">
    	<div class="block-mobile-nav load-ajax-snippet" style="padding-bottom:15px;"  data-snippet="ajax-sidebar-mobile-nav">
				{%- render 'loading-ajax-snippet' -%}
			</div>
			{%- if settings.show_multiple_currencies -%}
			<hr>
			<div class="block-mobile-nav">
				<div class="currency-switcher-mobile">
					{%- render 'currency-switcher-inline' -%}
				</div>
			</div>
			{%- endif -%}
			{%- if shop.customer_accounts_enabled -%}
			<hr>
			<div class="block-mobile-nav load-ajax-snippet" data-snippet="ajax-sidebar-mobile-login">
				{%- render 'loading-ajax-snippet' -%}
			</div>
			{%- endif -%}
			{%- if settings.enable_compare or settings.enable_wishlist -%}
			<hr>
			<div class="block-mobile-nav">
				<ul class="mobile-nav link-list" style="padding-left:15px;">
					{%- if settings.enable_compare -%}
					<li class="link-list__item flex flex-align-ver mobile-nav__item">
						<a href="javascript:void(0);" class="action-link-mobile header__link--compare" title="{{ 'collections.product_item.compare' | t | escape }}">
							{%- render 'icon-compare' with -%}
							<span style="margin-left:5px;">{{ 'general.accessibility.your_compare' | t }}</span>
						</a>
					</li>
					{%- endif -%}
					{%- if settings.enable_wishlist -%}
					<li class="link-list__item flex flex-align-ver mobile-nav__item">
						<a href="javascript:void(0);" class="action-link-mobile header__link--wishlist" title="{{ 'collections.product_item.wishlist' | t | escape }}">
							{%- render 'icon-wishlist' with -%}
							<span style="margin-left:5px;">{{ 'general.accessibility.your_wishlist' | t }}</span>
							(<span class="wishlist-number"></span>)
						</a>
					</li>	
					{%- endif -%}
				</ul>
			</div>
			{%- endif -%}

			{%- if settings.enable_language_picker and shop.published_locales.size > 1 -%}
			<hr>
			<div class="block-mobile-nav load-ajax-snippet" data-snippet="ajax-sidebar-mobile-languages">
				{%- render 'loading-ajax-snippet' -%}
			</div>
			{%- endif -%}
    </div>
  </div>
</div>