<ul class="social-sharing list--inline dib" style="margin-left: 15px;">
  {% if settings.share_facebook %}
    <li>
      <a target="_blank" href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}" class="btn btn--small btn--share text-center button button--style2 button--circle flex flex-align-ver flex-align-hoz share-facebook" title="{{ 'general.social.share_on_facebook' | t | escape }}">
        {% render 'icon-facebook' with add_class: 'ver-sub' %}
      </a>
    </li>
  {% endif %}

  {% if settings.share_twitter %}
    <li>
      <a target="_blank" href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}" class="btn btn--small btn--share text-center button button--style2 button--circle flex flex-align-ver flex-align-hoz share-twitter" title="{{ 'general.social.share_on_twitter' | t | escape }}">
        {% render 'icon-twitter' with add_class: 'ver-sub' %}
      </a>
    </li>
  {% endif %}

  {% if settings.share_pinterest %}
    <li>
      <a target="_blank" href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_permalink }}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | url_param_escape }}" class="btn btn--small btn--share text-center button button--style2 button--circle flex flex-align-ver flex-align-hoz share-pinterest" title="{{ 'general.social.share_on_pinterest' | t | escape }}">
        {% render 'icon-pinterest' with add_class: 'ver-sub' %}
      </a>
    </li>
  {% endif %}
</ul>