<style rel="stylesheet">
{%- render 'preload-styles.scss' -%}
{%- if template.name == 'index' -%}
	{%- render 'preload-home-page.scss' -%}
{%- else -%}
	{%- render 'preload-breadcrumbs.scss' -%}
{%- endif -%}
{%- if settings.promo_enable -%}
{%- unless settings.enale_rtl -%}
.promo__item:last-child {padding-right: 0;}
{%- else -%}
.promo__item:first-child {padding-right: 0;}
{%- endunless -%}
{%- render 'preload-promotion.scss' -%}
{%- endif -%}
{%- if template.name == 'product' -%}
	{%- render 'preload-product-single-general.scss' -%}
  {%- render 'preload-product-single.scss' -%}
	{%- render 'preload-product-single-fre-bought.scss' -%}
{%- endif -%}
{%- if template.name == 'collection' or template.name == 'search' -%}.item__actions--list-mode{display:none;}{%- endif -%}
{%- if template.name contains 'collection' -%}
	{%- render 'preload-collection-page.scss' -%}
{%- endif -%}
</style>
<style rel="stylesheet" media="all and (min-width:992px)">
{%- case settings.header_style -%}
  {%- when 'style1' -%}
    {%- render 'preload-header-style1.scss' -%}
  {%- when 'style2' -%}
    {%- render 'preload-header-style2.scss' -%}
  {%- when 'style3' -%}
    {%- render 'preload-header-style3.scss' -%}
  {%- when 'style4' -%}
    {%- render 'preload-header-style4.scss' -%}
  {%- when 'style5' -%}
    {%- render 'preload-header-style5.scss' -%}
  {%- when 'style6' -%}
    {%- render 'preload-header-style6.scss' -%}
  {%- when 'style7' -%}
    {%- render 'preload-header-style7.scss' -%}
  {%- when 'style8' -%}
    {%- render 'preload-header-style8.scss' -%}
  {%- when 'style9' -%}
    {%- render 'preload-header-style9.scss' -%}
  {%- else -%}
    {%- render 'preload-header-style10.scss' -%}        
{%- endcase -%}
</style>