{%- render 'bt-google-fonts' -%}
{%- if template.name == 'collection' or template.name == 'search' -%}
  {{ 'styles-collection-page.scss.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- unless settings.production_mode -%}
  {{ 'bootstrap.min.scss.css' | asset_url | stylesheet_tag }}
  {{ 'bt-icons.scss.css' | asset_url | stylesheet_tag }}
  {{ 'styles.scss.css' | asset_url | stylesheet_tag }}
  {%- if template.name == 'product' -%}
    {{ 'cloudzoom.scss.css' | asset_url | stylesheet_tag }}
    {{ 'quick-view.scss.css' | asset_url | stylesheet_tag }}
    {{ 'product-single.scss.css' | asset_url | stylesheet_tag }}
  {%- endif -%}
  {%- if settings.enale_rtl -%}
    {{ 'bootstrap-rtl.min.scss.css' | asset_url | stylesheet_tag }}
    {{ 'styles-rtl.scss.css' | asset_url | stylesheet_tag }}
  {%- endif -%}
{%- else -%}
  {{ 'bt-vendors.scss.css' | asset_url | stylesheet_tag }}
  {%- if template.name == 'product' -%}
    {{ 'product-single-full.scss.css' | asset_url | stylesheet_tag }}
  {%- endif -%}
  {%- if settings.enale_rtl -%}
    {{ 'styles-rtl-full.scss.css' | asset_url | stylesheet_tag }}
  {%- endif -%}
{%- endunless -%}
{%- if settings.load_custom_css -%}
	{{ 'custom-css.scss.css' | asset_url | stylesheet_tag }}
{%- endif -%}