<!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.min.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
<!--[if lte IE 9]><script src="{{ 'vendor.min.js' | asset_url }}"></script><![endif]-->
{%- unless settings.production_mode -%}
  <script src="{{ 'imagesloaded.pkgd.min.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'jquery.currencies.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'bootstrap.min.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'jquery.validate.min.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'jquery.form.min.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'favico.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'cloudzoom.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'jquery.countdown.min.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'jquery.waypoints.min.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'infinite.min.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'topbar.min.js' | asset_url }}" defer="defer"></script>
  {% comment %}<script src="{{ 'propeller.min.js' | asset_url }}" defer="defer"></script>{% endcomment %}
  {%- if template.name == 'product' -%}
  <script src="{{ 'bt-fre-bought.js' | asset_url }}" defer="defer"></script>  
  {%- endif -%}
  <script src="{{ 'bt-libs.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'sections.js' | asset_url }}" defer="defer"></script>
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->
 {%- else -%}
  {%- if template.name == 'product' -%}
  <script src="{{ 'bt-fre-bought.min.js' | asset_url }}" defer="defer"></script>  
  {%- endif -%}
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'bt-application.min.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'bt-application.min.js' | asset_url }}"></script><![endif]-->
{% endunless %}

{% if template.directory == 'customers' %}
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
{% endif %}

{% unless settings.shipping_calculator == 'Disabled' %}
{% if template.name == 'cart' and cart.item_count > 0 %}
  <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js" defer="defer"></script>
  <script src="/services/javascripts/countries.js" defer="defer"></script>
  <script src="{{ 'bt-shipping-cart.min.js' | asset_url }}" defer="defer"></script>
{% endif %}
{% endunless %}

{%- if template.name == 'collection' -%}
  {%- unless settings.production_mode -%}
    <script src="{{ 'bt-collection.js' | asset_url }}" defer="defer"></script>
  {%- else -%}
    <script src="{{ 'bt-collection.min.js' | asset_url }}" defer="defer"></script>
  {% endunless %}
{%- elsif template.name == 'cart' -%}
  {%- unless settings.production_mode -%}
    <script src="{{ 'bt-cart-page.js' | asset_url }}" defer="defer"></script>
  {%- else -%}
    <script src="{{ 'bt-cart-page.min.js' | asset_url }}" defer="defer"></script>
  {% endunless %}
{%- elsif template.name == 'search' -%}
  {%- unless settings.production_mode -%}
    <script src="{{ 'bt-search.js' | asset_url }}" defer="defer"></script>
  {%- else -%}
    <script src="{{ 'bt-search.min.js' | asset_url }}" defer="defer"></script>
  {% endunless %}
{%- endif -%}

{%- if template contains 'customers' -%}
  {%- unless settings.production_mode -%}
    <script src="{{ 'bt-customers.js' | asset_url }}" defer="defer"></script>
  {%- else -%}
    <script src="{{ 'bt-customers.min.js' | asset_url }}" defer="defer"></script>
  {% endunless %}
{%- endif -%}
{%- if template.name == 'page' -%}
  {%- if page.title == 'FAQ' -%}
    <script src="{{ 'faq-accordion.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}
{%- endif -%}