<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="page-title text-center gutter-ele-bottom-tbs">{{ 'customer.register.title' | t }}</h1>
      <div class="page-content w100">
        <div class="center-block col-xs-12 col-sm-5 no-gutter" style="float:none;">
          {% form 'create_customer' %}

            {{ form.errors | default_errors | replace: 'class="errors"','class="errors alert alert-danger"' | replace: 'href="','class="alert-link" href="' }}

            <div class="field field--float-label">
              <label for="FirstName">{{ 'customer.register.first_name' | t }}</label>
              <input type="text" name="customer[first_name]" id="FirstName" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autofocus class="first-focus w100">
              <span class="field__focus"></span>
            </div>

            <div class="field field--float-label">
              <label for="LastName">{{ 'customer.register.last_name' | t }}</label>
              <input type="text" name="customer[last_name]" id="LastName" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} class="w100">
              <span class="field__focus"></span>
            </div>

            <div class="field field--float-label">
              <label for="Email">{{ 'customer.register.email' | t }}</label>
              <input type="email" name="customer[email]" id="Email" class="w100{% if form.errors contains 'email' %} input--error{% endif %}" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">
              <span class="field__focus"></span>
            </div>

            <div class="field field--float-label">
              <label for="CreatePassword">{{ 'customer.register.password' | t }}</label>
              <input type="password" name="customer[password]" id="CreatePassword" class="w100{% if form.errors contains 'password' %} input--error{% endif %}">
              <span class="field__focus"></span>
            </div>

            <div class="text-center distance-top-ele gutter-ele-top">
              <div class="pull-left">
                <input type="submit" value="{{ 'customer.register.submit' | t }}" class="button button--style1">  
              </div>
              <div class="pull-right">
                <a class="button button--style2" title="{{ 'customer.login.back' | t | escape }}" href="{{ routes.account_login_url }}">{{ 'customer.login.back' | t }}</a>
              </div>
            </div>
          {% endform %}  
        </div>
      </div>
    </div>
  </div>
</div>