<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="page-title text-center gutter-ele-bottom-tbs">{{ 'customer.reset_password.title' | t }}</h1>
      <p class="text-center">{{ 'customer.reset_password.subtext' | t: email: email }}</p>
      <div class="page-content w100">
        <div class="center-block col-xs-12 col-sm-5 no-gutter" style="float:none;">
          {% form 'reset_customer_password' %}
            {{ form.errors | default_errors | replace: 'class="errors"','class="errors alert alert-danger"' | replace: 'href="','class="alert-link" href="' }}
            <div class="field field--float-label">
              <label for="ResetPassword">{{ 'customer.reset_password.password' | t }}</label>
              <input type="password" value="" name="customer[password]" id="ResetPassword" class="first-focus w100{% if form.errors contains 'password' %} input--error{% endif %}" autofocus>
              <span class="field__focus"></span>
            </div>
            <div class="field field--float-label">
              <label for="PasswordConfirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
              <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="w100{% if form.errors contains 'password_confirmation' %} input--error{% endif %}">
              <span class="field__focus"></span>
            </div>
            <div class="text-center distance-top-ele gutter-ele-top">
              <input type="submit" class="button button--style2 text-center" value="{{ 'customer.reset_password.submit' | t }}">
            </div>
          {% endform %}
        </div>
      </div>
    </div>
  </div>
</div>