<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"{% if settings.enale_rtl %} dir="rtl"{% endif %}> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"{% if settings.enale_rtl %} dir="rtl"{% endif %}> <!--<![endif]-->
<head>
  {%- if settings.enable_review and settings.review_app == 'yotpo' -%}
  <script type="text/javascript">(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/aupvaOhFAFM59YvNhpqplt6RFzxGxuTDYCh9r3Ms/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();</script>
  {%- endif -%}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  {%- if template contains 'collection' and current_tags -%}<meta name="robots" content="noindex"><link rel="canonical" href="{{ shop.url }}{{ collection.url }}"> {%- else -%}<link rel="canonical" href="{{ canonical_url }}">{%- endif -%}

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {%- if request.page_type == 'search' and search.performed == true -%}
      {{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
    {%- else -%}
      {{ page_title }}
    {%- endif -%}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}
  {%- render 'social-meta-tags' -%}
  {%- render 'styles-inline' -%}
  {%- render 'script-inline' -%}
  {{ content_for_header }}
  {%- if settings.enable_review and settings.review_app == 'loox' -%}
  {{ shop.metafields.loox["global_html_head"] }}
  {%- endif -%}
  {%- if template.name != 'index' and template.name != 'collection' and template.name != 'product' -%}
    {{ 'styles-remain-pages.scss.css' | asset_url | stylesheet_tag }}
    {%- unless settings.shipping_calculator == 'Disabled' -%}
    {%- if template.name == 'cart' and cart.item_count > 0 -%}
      {{ 'shipping-calculator.scss.css' | asset_url | stylesheet_tag }}
    {%- endif -%}
    {%- endunless -%}
  {%- endif -%}
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'lazysizes.min.js' | asset_url }}"></script><![endif]-->
  {%- if settings.enable_review and settings.review_app == 'ryviu' -%}
    <!-- RYVIU APP :: Settings global --> 
      <script>
          var ryviu_global_settings = {{shop.metafields.ryviu.user_settings }};
      </script>
    <!-- RYVIU APP -->
  {%- endif -%}
</head>

<body class="template-{{ template | split: '.' | first }}{% if settings.enale_rtl %} rtl{% endif %}{% if template.name == 'product' or template.name == 'collection' %} has-ele-fixed{% endif %}">
  {%- render 'general-rich-snippets' -%}
  {%- render 'promotion' -%}
  {%- render 'header' -%}
  {%- if template.name != 'index' and template.suffix != 'contact' -%}
    {%- include 'breadcrumbs' -%}
  {%- endif -%}
  <main>
    {{ content_for_layout }}
  </main>
  {% section 'footer' %}
  <div class="overlay"></div>
  <div class="loading-full" style="display: none;"><i class="loading-ajax"></i></div>
  <div class="alert alert-success notify text-center" role="alert" style="display:none;">
  </div>
  {%- render 'single-deal-countdown' -%}
  {%- render 'rich-banner-countdown' -%}
  {%- render 'sidebar-canvas' -%}
  {%- render 'popups' -%}
  {%- render 'back-top-button' -%}
  {%- render 'currency-plus-form' -%}
  {%- render 'theme-scripts' -%}
  {%- render 'theme-styles' -%}

  {% comment %}{% include 'google-fonts' %}{% endcomment %}

  {%- if settings.enable_review -%}
    {%- if settings.review_app == 'loox' -%}
      {{ shop.metafields.loox["global_html_body"] }}
    {%- elsif settings.review_app == 'ali_reviews' -%}
      {%- include 'alireviews_core' -%}
    {%- elsif settings.review_app == 'ryviu' -%}
    {%- endif -%}  
	{%- endif -%}

  {%- if settings.news_platform == 'klaviyo' and settings.news_klaviyo_key != blank -%}
  <script type="text/javascript" async 
 src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id={{ settings.news_klaviyo_key }}"></script>
  {%- endif -%}
</body>
</html>
