<div data-section-id="{{ section.id }}" data-section-type="collection-template" id="collection-template">
  <div class="container{% render 'wide-css-class' %}">
    <div class="row">
      <div class="col-xs-12">
        <div class="page-content w100 collection">
          <div class="collection__top">
            {% if section.settings.show_collection_image and collection.image != blank %}
              <div class="collection__image ratio-container js lazyload{% if section.settings.hide_collection_image_mobile %} hidden-xs hidden-sm{% endif %}"
                   data-bgset="{% render 'bgset', image: collection.image %}"
                   data-sizes="auto"
                   data-parent-fit="cover"
                   style="background-image: url({{ collection.image | img_url: '300x300' }}); height:300px;background-position: 50% 50%;background-repeat: no-repeat;background-size: cover; margin-bottom: 60px;"></div>
              <noscript>
                <div class="collection-hero__image{% if section.settings.hide_collection_image_mobile %} hidden-xs hidden-sm{% endif %}" style="background-image: url({{ collection.image | img_url: '2048x600', crop: 'top' }});"></div>
              </noscript>
              {% if collection.description != blank %}
                <div class="rte collection__description w100">
                  {{ collection.description }}
                </div>
              {% endif %}
            {% else %}
              <div class="rte collection__description w100">
                {{ collection.description }}
              </div>
            {% endif %}
          </div>

          <div class="collection__content">
            <div class="row">
              {%- assign has_sidebar = false -%}
              {%- capture collection_sidebar -%}
                {%- if section.settings.tags_enable -%}
                  {%- assign has_sidebar = true -%}
                  <div class="col-md-3 col-xs-12 hidden-xs hidden-sm{% if template.suffix == 'no_sidebar' %} hide{% endif %} collection__sidebar pos-sticky custom-scrollbar">
                    {%- include 'collection-filter' -%}
                  </div>
                  {%- unless template.suffix == 'ajax' -%}
                  <div class="bt-sidebar bt-sidebar--full-mobile bt-sidebar--collection hide">
                    <div id="sidebar-filter" class="bt-sidebar__inner bt-sidebar__inner--{% unless settings.enale_rtl %}left{% else %}right{% endunless %}">
                      <div class="bt-sidebar__header flex{% if settings.enale_rtl %} bt-sidebar__header--right{% endif %}">
                        {%- render 'sidebar-close-btn' -%}
                        <h4 class="bt-sidebar__title">{{ 'collections.general.filter' | t }}</h4>
                      </div>
                      <div class="bt-sidebar__content">
                        <div class="collection__filter cf" data-clone="#cf_filter_desktop" id="collection__filter--mobile">
                        </div>
                      </div>
                    </div>
                  </div>
                  {%- endunless -%}
                {%- endif -%}
              {%- endcapture -%}
              {%- if template.suffix == 'no_sidebar' -%}
                {%- assign has_sidebar = false -%}
              {%- endif -%}
              {%- if template.suffix == '' or template.suffix == blank -%}
                {{ collection_sidebar }}
              {%- endif -%}
              <div class="col-xs-12{% if has_sidebar %} col-md-9{% endif %} gutter-ele-top-tbs">
                {%- render 'collection-toolbar', collection: collection, toolbar_enable: section.settings.toolbar_enable , item_size: section.settings.item_size sort_enable: section.settings.sort_enable, has_sidebar: has_sidebar -%}
                {%- render 'collection-products' -%}
              </div>
              {%- unless template.suffix == '' or template.suffix == blank -%}
                {{ collection_sidebar }}
              {%- endunless -%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Collection pages",
    "max_blocks": 30,
    "settings": [
      {
        "type": "paragraph",
        "content": "[View the guide for this section](https://boostheme.com/themes-documentation/collection-page)"
      },
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "range",
        "id": "limit",
        "label": "Limit",
        "min": 4,
        "max": 50,
        "step": 1,
        "default": 16
      },
      {
        "type": "checkbox",
        "id": "show_collection_image",
        "label": "Show collection image",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "hide_collection_image_mobile",
        "label": "Hide collection image in mobile screen",
        "default": true
      },
      {
        "type": "header",
        "content": "Toolbar"
      },
      {
        "type": "checkbox",
        "id": "toolbar_enable",
        "label": "Enable toolbar",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "sort_enable",
        "label": "Enable sorting",
        "default": true
      },
      {
        "type": "header",
        "content": "Infinity loading products"
      },
      {
        "type": "checkbox",
        "id": "enable_infinity_loading",
        "label": "Enable",
        "default": false
      },
      {
        "type": "radio",
        "id": "infinity_action",
        "label": "Load products when customer:",
        "options": [
          {
            "value": "scroll",
            "label": "Scroll to load more button"
          },
          {
            "value": "click",
            "label": "Click load more button"
          }
        ],
        "default": "scroll"
      },
      {
        "type": "header",
        "content" : "Product item"
      },
      {
        "type": "select",
        "id": "item_size",
        "label": "Choose item size",
        "info": "You can change item size to change the number of products per row",
        "options": [
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "very-large",
            "label": "Very Large"
          },
          {
            "value": "list",
            "label": "List"
          }
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "main_thumbnail",
        "label": "Show main thumbnail by",
        "options": [
          {
            "value": "product_image",
            "label": "Featured product image"
          },
          {
            "value": "variant_image",
            "label": "First available variant image"
          }
        ],
        "default": "product_image"
      },
      {
        "type": "text",
        "id": "image_size",
        "label": "Image Size",
        "default": "250x"
      },
      {
        "type": "checkbox",
        "id": "show_label",
        "label": "Show label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_cart_btn",
        "label": "Show Add to cart button",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_qs_btn",
        "label": "Show Quick Shop button",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_compare_btn",
        "label": "Show Compare button",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_wishlist_btn",
        "label": "Show wishlist button",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_review_stars",
        "label": "Show review stars",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "use_lazyload",
        "label": "Use lazy loading image",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_product_options",
        "label": "Enable Product Options",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_countdown_timer",
        "label": "Show countdown timer",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show product vendors",
        "default": false
      },
      {
        "type": "range",
        "id": "product_name_size",
        "label": "Product name's size",
        "info": "Use this configuration to make product name shorted if your product name is too long.Unit : word(wor)",
        "min": 3,
        "max": 30,
        "default": 5,
        "step": 1
      },
      {
        "type": "header",
        "content": "Filter settings"
      },
      {
        "type": "checkbox",
        "id": "tags_enable",
        "label": "Enable tag filtering",
        "default": true
      }
    ],
    "blocks": [
      {
        "name": "Filter Item - Colors",
        "type": "filter-item-swatch",
        "settings": [
          {
            "type": "paragraph",
            "content": "Display filter item values as swatch elements."
          },
          {
            "type": "checkbox",
            "id": "enable",
            "label": "Enable this filter item",
            "default": true
          },
          {
            "type": "text",
            "id": "title",
            "label": "Label"
          },
          {
            "type": "checkbox",
            "id": "show_spr_line",
            "label": "Show separated line",
            "default": false
          },
          {
            "type": "select",
            "id": "format",
            "label": "Color format",
            "options": [
              {
                "value": "square",
                "label": "Square"
              },
              {
                "value": "circle",
                "label": "Circle"
              }
            ],
            "default": "square"
          },
          {
            "type": "range",
            "id": "swatch_size",
            "label": "Swatch size",
            "min": 10,
            "max": 70,
            "step": 1,
            "unit": "px",
            "default": 30
          },
          {
            "type": "select",
            "id": "default_expand",
            "label": "Expand/Collapse state",
            "options": [
              {
                "value": "expand",
                "label": "Expand"
              },
              {
                "value": "collapse",
                "label": "Collapse"
              }
            ],
            "default": "expand"
          },
          {
            "type": "header",
            "content": "Color codes"
          },
          {
            "type": "paragraph",
            "content": "You can add your color codes in Theme Settings > Product Settings > Color Codes"
          }
        ]
      },
      {
        "name": "Filter Item - Checkboxes",
        "type": "filter-item-checkbox",
        "settings": [
          {
            "type": "paragraph",
            "content": "Display filter item values as list of checkboxes."
          },
          {
            "type": "checkbox",
            "id": "enable",
            "label": "Enable this filter item",
            "default": true
          },
          {
            "type": "text",
            "id": "title",
            "label": "Label"
          },
          {
            "type": "checkbox",
            "id": "show_spr_line",
            "label": "Show separated line",
            "default": false
          },
          {
            "type": "text",
            "id": "group_tag",
            "label": "Keys",
            "info": "Separate tags with comma"
          },
          {
            "type": "select",
            "id": "default_expand",
            "label": "Expand/Collapse state",
            "options": [
              {
                "value": "expand",
                "label": "Expand"
              },
              {
                "value": "collapse",
                "label": "Collapse"
              }
            ],
            "default": "expand"
          }
        ]
      },
      {
        "name": "Filter Item - Price Range",
        "type": "filter-item-price",
        "settings": [
          {
            "type": "paragraph",
            "content": "Display filter item values as list of price ranges."
          },
          {
            "type": "checkbox",
            "id": "enable",
            "label": "Enable this filter item",
            "default": true
          },
          {
            "type": "text",
            "id": "title",
            "label": "Label"
          },
          {
            "type": "checkbox",
            "id": "show_spr_line",
            "label": "Show separated line",
            "default": false
          },
          {
            "type": "text",
            "id": "group_tag",
            "label": "Keys",
            "info": "Separate tags with comma"
          },
          {
            "type": "select",
            "id": "default_expand",
            "label": "Expand/Collapse state",
            "options": [
              {
                "value": "expand",
                "label": "Expand"
              },
              {
                "value": "collapse",
                "label": "Collapse"
              }
            ],
            "default": "expand"
          }
        ]
      },
      {
        "name": "Categories",
        "type": "filter-item-category",
        "settings": [
          {
            "type": "paragraph",
            "content": "Use the Shopify link list to display as a navigation."
          },
          {
            "type": "checkbox",
            "id": "enable",
            "label": "Enable",
            "default": true
          },
          {
            "type": "text",
            "id": "title",
            "label": "Label"
          },
          {
            "type": "radio",
            "id": "data_source",
            "label": "Get data from:",
            "options": [
              {
                "value": "link_list",
                "label": "Shopify Navigation(link list)"
              },
              {
                "value": "collection_tree",
                "label": "The collection tree from Boostheme Toolkit app"
              }
            ],
            "default": "collection_tree",
            "info": "View this guide for installing and edit the collection tree in Boostheme Toolkit app."
          },
          {
            "type": "link_list",
            "id": "category",
            "label": "Choose a link list"
          },
          {
            "type": "select",
            "id": "default_expand",
            "label": "Expand/Collapse state",
            "options": [
              {
                "value": "expand",
                "label": "Expand"
              },
              {
                "value": "collapse",
                "label": "Collapse"
              }
            ],
            "default": "expand"
          },
          {
            "type": "checkbox",
            "id": "enable_expand",
            "label": "Expand first level"
          }
        ]
      },
      {
        "name": "Big title",
        "type": "filter-item-big-title",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Label"
          }
        ]
      }
    ]
  }
{% endschema %}