{%- render 'section-background-start' -%}
<div class="hero{% if section.settings.hidden_xs %} hidden-xs{% endif %} container{% if section.settings.full_width %}-fluid{% endif %}{% render 'section-gutters-nobkg' %}">
  <div class="row">
    <div class="section__inner col-xs-12">
      {%- render 'section-heading' -%}
      <div class="section__content">
        {%- if section.blocks.size > 0 -%}
          <div class="grid grid--{{ section.settings.item_size }}">
            {%- for block in section.blocks -%}
            <div class="grid__item">
              {%- if block.settings.image -%}
                {%- capture img_wrapper_id -%}SimpleBannerWrapper--{{ block.id }}-{{ forloop.index }}-{{ block.settings.image.id }}{%- endcapture -%}
                {%- render 'image-style' with image: block.settings.image, small_style: false, width: block.settings.image.width, height: block.settings.image.height, wrapper_id: img_wrapper_id -%}
                <div id="{{ img_wrapper_id }}" class="w100">
                  <a href="{{ block.settings.link | default: '#' }}" class="img-container" style="padding-top:{{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100}}%;">
                    {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                    <img data-src="{{ img_url }}" class="lazyload img-responsive img-abs" alt="{{ block.settings.image.alt | escape }}" data-aspectratio="{{ block.settings.image.aspect_ratio }}" data-sizes="auto"{% render 'img-one-pixel' %}/>
                  </a>
                </div>
              {%- else -%}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              {%- endif -%}
            </div>
            {%- endfor -%}
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>
{%- render 'section-background-end' -%}
{% schema %}
  {
    "name": "Simple Banner Images",
    "class": "section gutter-top gutter-bottom",
    "max_blocks": 4,
    "settings": [
      {
        "type": "paragraph",
        "content": "[View the guide for this section](https://boostheme.com/themes-documentation/simple-banner-section)"
      },
      {
        "type": "header",
        "content": "Background"
      },
      {
        "type": "checkbox",
        "id": "bkg_enable",
        "label": "Enable",
        "default": false
      },
      {
        "type": "color",
        "id": "section_bkg",
        "label": "Pick a color"
      },
      {
        "type": "image_picker",
        "id": "section_bkg_image",
        "label": "Background image"
      },
      {
        "type": "radio",
        "id": "section_bkg_gutter",
        "label": "Background size",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "medium"
          },
          {
            "value": "high",
            "label": "High"
          }
        ],
        "default": "high"
      },
      {
        "type": "radio",
        "id": "section_bkg_style",
        "label": "Background image style",
        "options": [
          {
            "value": "cover",
            "label": "Cover"
          },
          {
            "value": "contain",
            "label": "Contain"
          }
        ],
        "default": "cover"
      },
      {
        "type": "header",
        "content": "Section Gutters"
      },
      {
        "type": "checkbox",
        "id": "top_gutter",
        "label": "Enable top gutter",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "bottom_gutter",
        "label": "Enable bottom gutter",
        "default": true
      },
      {
        "type": "header",
        "content": "General Settings"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "sub_title",
        "label": "Sub heading"
      },
      {
        "type": "select",
        "id": "item_size",
        "label": "Banner Item Size",
        "info": "You can change item size to change the number of items per row",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "very-large",
            "label": "Very Large"
          },
          {
            "value": "full",
            "label": "Full Width"
          }
        ],
        "default": "medium"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full Width",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "hidden_xs",
        "label": "Hide on mobile",
        "default" : true
      }
    ],
    "blocks": [
      {
        "type": "banner_image",
        "name": "Banner Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Optional"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Simple Banner Image",
        "category": "Image",
        "blocks": [
          {
            "type": "banner_image"
          }
        ]
      }
    ]
  }
{% endschema %}
