{% if section.settings.token %}
{%- render 'section-background-start' -%}
<div id="instaram_{{ section.id }}" class="touch-mobile {% unless section.settings.full_wide %}container{% if section.settings.full_width %}-fluid{% endif %}{% endunless %}{% render 'section-gutters-nobkg' %}" data-section-id="{{ section.id }}" data-section-type="instagram"{% if section.settings.full_wide %} style="padding-left: 15px;padding-right: 15px;"{% endif %}>
  <div class="row">
    <div class="section__inner col-xs-12{% if section.settings.full_wide %} no-gutter{% endif %}">
      {%- render 'section-heading-slider', use_touch_mobile: true -%}
      <div class="section__content">
        {%- assign column_count = section.settings.slides_to_show -%}
        {%- assign grid_class = 'small' -%}
        {%- if column_count == 2 -%}
          {%- assign grid_class = 'very-large' -%}
        {%- elsif column_count == 3 -%}
          {%- assign grid_class = 'large' -%}
        {%- elsif column_count == 4 -%}
          {%- assign grid_class = 'medium' -%}
        {%- elsif column_count == 6 -%}
          {%- assign column_count = 5 -%}  
        {%- endif -%}
        <div class="instagram grid--{{ grid_class }} flex" data-token="{{ section.settings.token }}" data-num-photos="{{ section.settings.limit }}" data-section-id="instaram_{{ section.id }}" data-slider='{"prevArrow": "#slick-prev-{{ section.id }}","nextArrow": "#slick-next-{{ section.id }}","autoplay": true,"dots":false,"slidesToShow":{{ section.settings.slides_to_show | escape }},"responsive":[{"breakpoint":992,"settings":{"slidesToShow":4}},{"breakpoint":426,"settings":{"slidesToShow":2}}]}'>
          {%- for i in (1..column_count) -%}
            <div class="grid__item no-gutter{% if forloop.index > 2 %} hidden-xs{% endif %}">
              <div class="loading">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</div>
            </div>
          {%- endfor -%}
        </div>
        {%- if section.settings.hashtag != blank -%}
        <div class="instagram-hashtag text-center"><span class="instagram-hashtag__text dib">#{{ section.settings.hashtag }}</span></div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>
{%- render 'section-background-end' -%}
{% endif %}
{% schema %}
{
  "name": "Instagram",
  "class": "index-section instagram-section section",
  "settings": [
    {
      "type": "paragraph",
      "content": "[View the guide for this section](https://boostheme.com/themes-documentation/instagram-section)"
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "checkbox",
      "id": "bkg_enable",
      "label": "Enable",
      "default": false
    },
    {
      "type": "color",
      "id": "section_bkg",
      "label": "Pick a color"
    },
    {
      "type": "image_picker",
      "id": "section_bkg_image",
      "label": "Background image"
    },
    {
      "type": "radio",
      "id": "section_bkg_gutter",
      "label": "Background size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "medium"
        },
        {
          "value": "high",
          "label": "High"
        }
      ],
      "default": "high"
    },
    {
      "type": "radio",
      "id": "section_bkg_style",
      "label": "Background image style",
      "options": [
        {
          "value": "cover",
          "label": "Cover"
        },
        {
          "value": "contain",
          "label": "Contain"
        }
      ],
      "default": "cover"
    },
    {
      "type": "header",
      "content": "Section Gutters"
    },
    {
      "type": "checkbox",
      "id": "top_gutter",
      "label": "Enable top gutter",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "bottom_gutter",
      "label": "Enable bottom gutter",
      "default": true
    },
    {
      "type": "header",
      "content": "General Settings"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "My Style Shop on Instagram"
    },
    {
      "type": "text",
      "id": "sub_title",
      "label": "Sub Title",
      "default": "Follow us on Instagram"
    },
    {
      "type": "text",
      "id": "token",
      "label": "Token"
    },
    {
      "type": "text",
      "id": "hashtag",
      "label": "Hashtag",
      "default": "VodomaStyles"
    },
    {
      "type": "range",
      "id": "slides_to_show",
      "label": "The number of items to show on the screen",
      "min": 2,
      "max": 6,
      "step": 1,
      "default": 6
    },
    {
      "type": "range",
      "id": "limit",
      "label": "The total of loaded items",
      "min": 4,
      "max": 30,
      "step": 1,
      "default": 10
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Wide display"
    },
    {
      "type": "checkbox",
      "id": "full_wide",
      "label": "Full width",
      "info": "If you enable this option, the \"Wide display\" option will be ignored."
    }
  ],
  "presets": [
    {
      "name": "Instagram Slider",
      "category": "Image",
      "settings": {
        "title": "My Style Shop on Instagram",
        "sub_title": "Follow us on Instagram",
        "limit": 10
      }
    }
  ]
}
{% endschema %}