$color_general: {{ settings.color_general }};
$color_general_blur: {{ settings.color_general | color_modify: 'alpha', 0.3 }};
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

[hidden],
template {
    display: none
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

b,
strong {
    font-weight: 700
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox],
input[type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}

textarea {
    overflow: auto
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

@media print {
    *,
    :after,
    :before {
        background: 0 0!important;
        color: #000!important;
        -webkit-box-shadow: none!important;
        box-shadow: none!important;
        text-shadow: none!important
    }
    a,
    a:visited {
        text-decoration: underline
    }
    a[href]:after {
        content: " (" attr(href) ")"
    }
    abbr[title]:after {
        content: " (" attr(title) ")"
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: ""
    }
    blockquote,
    pre {
        border: 1px solid #999;
        page-break-inside: avoid
    }
    thead {
        display: table-header-group
    }
    img,
    tr {
        page-break-inside: avoid
    }
    img {
        max-width: 100%!important
    }
    h2,
    h3,
    p {
        orphans: 3;
        widows: 3
    }
    h2,
    h3 {
        page-break-after: avoid
    }
    .navbar {
        display: none
    }
    .btn>.caret,
    .dropup>.btn>.caret {
        border-top-color: #000!important
    }
    .label {
        border: 1px solid #000
    }
    .table {
        border-collapse: collapse!important
    }
    .table td,
    .table th {
        background-color: #fff!important
    }
    .table-bordered td,
    .table-bordered th {
        border: 1px solid $color_general_blur!important
    }
}

button,
input,
select,
textarea {
    font-size: inherit;
    line-height: inherit
}

img {
    vertical-align: middle
}

[role=button] {
    cursor: pointer
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
    margin-top: 10px;
    margin-bottom: 10px
}

.text-justify {
    text-align: justify
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 10px
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin-bottom: 0
}

.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px
}

.list-inline>li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px
}

table {
    background-color: rgba(0, 0, 0, 0)
}

th {
    text-align: left
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid #ddd
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd
}

.table>caption+thead>tr:first-child>td,
.table>caption+thead>tr:first-child>th,
.table>colgroup+thead>tr:first-child>td,
.table>colgroup+thead>tr:first-child>th,
.table>thead:first-child>tr:first-child>td,
.table>thead:first-child>tr:first-child>th {
    border-top: 0
}

.table>tbody+tbody {
    border-top: 2px solid $color_general_blur
}

.table .table {
    background-color: #fff
}

.table-bordered {
    border: 1px solid $color_general_blur
}

.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border: 1px solid $color_general_blur
}

.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border-bottom-width: 2px
}

.table-hover>tbody>tr:hover {
    background-color: #f5f5f5
}

table col[class*=col-] {
    position: static;
    float: none;
    display: table-column
}

table td[class*=col-],
table th[class*=col-] {
    position: static;
    float: none;
    display: table-cell
}

.table>tbody>tr.active>td,
.table>tbody>tr.active>th,
.table>tbody>tr>td.active,
.table>tbody>tr>th.active,
.table>tfoot>tr.active>td,
.table>tfoot>tr.active>th,
.table>tfoot>tr>td.active,
.table>tfoot>tr>th.active,
.table>thead>tr.active>td,
.table>thead>tr.active>th,
.table>thead>tr>td.active,
.table>thead>tr>th.active {
    background-color: #f5f5f5
}

.table-responsive {
    overflow-x: auto;
    min-height: .01%
}

@media screen and (max-width:767px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd
    }
    .table-responsive>.table {
        margin-bottom: 0
    }
    .table-responsive>.table>tbody>tr>td,
    .table-responsive>.table>tbody>tr>th,
    .table-responsive>.table>tfoot>tr>td,
    .table-responsive>.table>tfoot>tr>th,
    .table-responsive>.table>thead>tr>td,
    .table-responsive>.table>thead>tr>th {
        white-space: nowrap
    }
    .table-responsive>.table-bordered {
        border: 0
    }
    .table-responsive>.table-bordered>tbody>tr>td:first-child,
    .table-responsive>.table-bordered>tbody>tr>th:first-child,
    .table-responsive>.table-bordered>tfoot>tr>td:first-child,
    .table-responsive>.table-bordered>tfoot>tr>th:first-child,
    .table-responsive>.table-bordered>thead>tr>td:first-child,
    .table-responsive>.table-bordered>thead>tr>th:first-child {
        border-left: 0
    }
    .table-responsive>.table-bordered>tbody>tr>td:last-child,
    .table-responsive>.table-bordered>tbody>tr>th:last-child,
    .table-responsive>.table-bordered>tfoot>tr>td:last-child,
    .table-responsive>.table-bordered>tfoot>tr>th:last-child,
    .table-responsive>.table-bordered>thead>tr>td:last-child,
    .table-responsive>.table-bordered>thead>tr>th:last-child {
        border-right: 0
    }
    .table-responsive>.table-bordered>tbody>tr:last-child>td,
    .table-responsive>.table-bordered>tbody>tr:last-child>th,
    .table-responsive>.table-bordered>tfoot>tr:last-child>td,
    .table-responsive>.table-bordered>tfoot>tr:last-child>th {
        border-bottom: 0
    }
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear
}

.fade.in {
    opacity: 1
}

.collapse {
    display: none
}

.collapse.in {
    display: block
}

tr.collapse.in {
    display: table-row
}

tbody.collapse.in {
    display: table-row-group
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px
}

.alert .alert-link {
    font-weight: 700
}

.alert-success .alert-link {
    color: #2b542c
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442
}

.alert-danger hr {
    border-top-color: #e4b9c0
}

.alert-danger .alert-link {
    color: #843534
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden
}

.embed-responsive .embed-responsive-item,
.embed-responsive embed,
.embed-responsive iframe,
.embed-responsive object,
.embed-responsive video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0
}

.embed-responsive-16by9 {
    padding-bottom: 56.25%
}

.embed-responsive-4by3 {
    padding-bottom: 75%
}

.modal-open {
    overflow: hidden
}

.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px
}

.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    background-clip: padding-box;
    outline: 0
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000
}

.modal-backdrop.fade {
    opacity: 0
}

.modal-backdrop.in {
    opacity: .5
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5
}

.modal-header:after,
.modal-header:before {
    content: " ";
    display: table
}

.modal-header:after {
    clear: both
}

.modal-header .close {
    margin-top: -2px
}

.modal-title {
    margin: 0;
    line-height: 1.42857
}

.modal-body {
    position: relative;
    padding: 15px
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5
}

.modal-footer:after,
.modal-footer:before {
    content: " ";
    display: table
}

.modal-footer:after {
    clear: both
}

.modal-footer .btn+.btn {
    margin-left: 5px;
    margin-bottom: 0
}

.modal-footer .btn-group .btn+.btn {
    margin-left: -1px
}

.modal-footer .btn-block+.btn-block {
    margin-left: 0
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}

@media (min-width:768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
    }
    .modal-sm {
        width: 300px
    }
}

@media (min-width:992px) {
    .modal-lg {
        width: 900px
    }
}

.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-break: auto;
    line-height: 1.42857;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    white-space: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    font-size: 12px;
    opacity: 0
}

.tooltip.in {
    opacity: .9
}

.tooltip.top {
    margin-top: -3px;
    padding: 5px 0
}

.tooltip.right {
    margin-left: 3px;
    padding: 0 5px
}

.tooltip.bottom {
    margin-top: 3px;
    padding: 5px 0
}

.tooltip.left {
    margin-left: -3px;
    padding: 0 5px
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 4px
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000
}

.tooltip.top-left .tooltip-arrow {
    bottom: 0;
    right: 5px;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000
}

.tooltip.top-right .tooltip-arrow {
    bottom: 0;
    left: 5px;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000
}

.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #000
}

.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #000
}

.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000
}

.tooltip.bottom-left .tooltip-arrow {
    top: 0;
    right: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000
}

.tooltip.bottom-right .tooltip-arrow {
    top: 0;
    left: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000
}
[class^="lnr-"], [class*=" lnr-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'BTVodoma' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  visibility: visible;
}

.lnr-list-stroke:before {
  content: "\e938";
}
.lnr-grid-2-stroke:before {
  content: "\e935";
}
.lnr-grid-3-stroke:before {
  content: "\e936";
}
.lnr-grid-4-stroke:before {
  content: "\e937";
}
.lnr-change:before {
  content: "\e934";
}
.lnr-reply-all-solid:before {
  content: "\e939";
}
.lnr-gift:before {
  content: "\e933";
}
.lnr-icons-03:before {
  content: "\e602";
}
.lnr-youtube-play:before {
  content: "\e932";
}
.lnr-chevron-circle-right:before {
  content: "\e930";
}
.lnr-chevron-circle-left:before {
  content: "\e931";
}
.lnr-ruler:before {
  content: "\e92f";
}
.lnr-heart2:before {
  content: "\e92d";
}
.lnr-heart-1:before {
  content: "\e92e";
}
.lnr-underclothes:before {
  content: "\e922";
}
.lnr-raincoat:before {
  content: "\e923";
}
.lnr-skirt:before {
  content: "\e924";
}
.lnr-equipment:before {
  content: "\e925";
}
.lnr-hat:before {
  content: "\e926";
}
.lnr-high-heels:before {
  content: "\e927";
}
.lnr-pearl-necklace:before {
  content: "\e928";
}
.lnr-dresses:before {
  content: "\e929";
}
.lnr-handbag:before {
  content: "\e92a";
}
.lnr-shirt:before {
  content: "\e92b";
}
.lnr-arrow-point-to-down:before {
  content: "\e92c";
}
.lnr-smiley:before {
  content: "\e920";
}
.lnr-thumbs-up:before {
  content: "\e921";
}
.lnr-embarrassed:before {
  content: "\e91f";
}
.lnr-sold:before {
  content: "\e91e";
}
.lnr-forbidden:before {
  content: "\e91a";
}
.lnr-magnifying-glass:before {
  content: "\e915";
}
.lnr-shuffle:before {
  content: "\e912";
}
.lnr-coin:before {
  content: "\e910";
}
.lnr-truck:before {
  content: "\e913";
}
.lnr-snapchat:before {
  content: "\e914";
}
.lnr-pinterest1:before {
  content: "\e901";
}
.lnr-instagram:before {
  content: "\e903";
}
.lnr-google-plus:before {
  content: "\e906";
}
.lnr-whatsapp:before {
  content: "\e907";
}
.lnr-headphones:before {
  content: "\e908";
}
.lnr-tumblr:before {
  content: "\e909";
}
.lnr-youtube:before {
  content: "\e90a";
}
.lnr-vimeo-logo:before {
  content: "\e90b";
}
.lnr-rss-symbol:before {
  content: "\e90c";
}
.lnr-pinterest:before {
  content: "\e90d";
}
.lnr-twitter:before {
  content: "\e90e";
}
.lnr-facebook-letter-logo:before {
  content: "\e90f";
}
.lnr-quote-left1:before {
  content: "\e911";
}
.lnr-grid-large:before {
  content: "\e91b";
}
.lnr-grid-medium:before {
  content: "\e91c";
}
.lnr-grid-very-large:before {
  content: "\e91d";
}
.lnr-icons-12:before {
  content: "\e60b";
}
.lnr-check:before {
  content: "\e900";
}
.lnr-plus:before {
  content: "\e917";
}
.lnr-minus:before {
  content: "\e916";
}
.lnr-heart1:before {
  content: "\e918";
}
.lnr-home:before {
  content: "\e800";
}
.lnr-pencil:before {
  content: "\e802";
}
.lnr-trash:before {
  content: "\e811";
}
.lnr-heart:before {
  content: "\e813";
}
.lnr-envelope:before {
  content: "\e818";
}
.lnr-eye:before {
  content: "\e81b";
}
.lnr-enter:before {
  content: "\e81f";
}
.lnr-exit:before {
  content: "\e820";
}
.lnr-film-play:before {
  content: "\e824";
}
.lnr-camera-video:before {
  content: "\e825";
}
.lnr-picture:before {
  content: "\e827";
}
.lnr-user:before {
  content: "\e82a";
}
.lnr-users:before {
  content: "\e82b";
}
.lnr-cart:before {
  content: "\e82e";
}
.lnr-phone-handset:before {
  content: "\e830";
}
.lnr-phone:before {
  content: "\e831";
}
.lnr-map-marker:before {
  content: "\e833";
}
.lnr-location:before {
  content: "\e835";
}
.lnr-calendar-full:before {
  content: "\e836";
}
.lnr-bubble:before {
  content: "\e83f";
}
.lnr-earth:before {
  content: "\e853";
}
.lnr-smile:before {
  content: "\e854";
}
.lnr-sad:before {
  content: "\e855";
}
.lnr-bullhorn:before {
  content: "\e859";
}
.lnr-sync:before {
  content: "\e862";
}
.lnr-clock:before {
  content: "\e864";
}
.lnr-magnifier:before {
  content: "\e86f";
}
.lnr-cross:before {
  content: "\e870";
}
.lnr-menu:before {
  content: "\e871";
}
.lnr-list:before {
  content: "\e872";
}
.lnr-chevron-up:before {
  content: "\e873";
}
.lnr-chevron-down:before {
  content: "\e874";
}
.lnr-chevron-left:before {
  content: "\e875";
}
.lnr-chevron-right:before {
  content: "\e876";
}
.lnr-arrow-up:before {
  content: "\e877";
}
.lnr-arrow-down:before {
  content: "\e878";
}
.lnr-arrow-left:before {
  content: "\e879";
}
.lnr-arrow-right:before {
  content: "\e87a";
}
.lnr-move:before {
  content: "\e87b";
}
.lnr-question-circle:before {
  content: "\e87d";
}
.lnr-funnel:before {
  content: "\e88f";
}
.lnr-paper-plane:before {
  content: "\e904";
}
.lnr-quote:before {
  content: "\e905";
}
.lnr-quote-left:before {
  content: "\e902";
}
.lnr-share-alt:before {
  content: "\e919";
}
/*--------------------Variables----------------------*/
/*General*/
$bkg_body: {{ settings.body_bkg_color | default: '#fff' }}; /*body background*/
$color_general: {{ settings.color_general | default: '#222' }}; /*general color*/
$color_hover: {{ settings.color_general_hover | default: '#d9121f' }};
$fm_second: {{ settings.font_second | remove: ';' }};/*font family general*/
$fs_general: {{ settings.fs_general }}px;/*font size general*/
$fm_general: {{ settings.font_general | remove: ';' }};
$color_general_light: {{ settings.color_general | color_modify: 'alpha', 0.6 }};
$color_general_blur: {{ settings.color_general | color_modify: 'alpha', 0.05 }};

/*Header*/
$fs_cart_number: 13px;
$padding_header_link: 12px;/*padding header link*/
$padding_header_link_mobile: 5px;/*padding header link on table*/
$fs_header_link_mobile: {{ settings.fs_header_link_mobile | default: 19 }}px;/*done*/
$bkg_header_mobile: {{ settings.bkg_header_mobile | default: '#fff' }};
$color_header_mobile: {{ settings.color_header_mobile | default: '#222' }};
$border_header_mobile: {{ settings.color_header_mobile | default: '#000' | color_modify: 'alpha', 0.1 }};

/*Font weight*/
$fw_super_thin: 100;
$fw_thin: 300;
$fw_normal: 400;
$fw_bold: 700;

/*Transition*/
$transition: ease-in-out all 0.3s;

/*Border radius*/
$b_r: 5px;/*border radius*/

/*Section title*/
$fs_st: {{ settings.fs_st }}px;/*font size section title*/
$fs_st_mobile: {{ settings.fs_st_mobile }}px;/*font size section title mobile*/
$color_st: {{ settings.color_st | default: '#000' }};/*color section title*/

/*Sections Sub Title*/
$fs_sst: {{ settings.fs_sst }}px;/*font size section title*/
$fs_sst_mobile: {{ settings.fs_sst_mobile }}px;/*font size section title mobile*/
$color_sst: {{ settings.color_sst | default: '#ccc' }};/*color section title*//*done*/

/*Item*/
$fs_item: {{ settings.fs_item }}px;/*font size item*/
$color_item: {{ settings.color_item | default: '#000' }};
$fs_price: {{ settings.fs_price }}px;
$fs_compare_price: {{ settings.fs_compare_price }}px;
$color_price: {{ settings.color_price | default: '#d9121f' }};
$color_compare_price: {{ settings.color_compare_price | default: '#000' }};
$gutter-item-buttons: 20px;
$swatch_size: {{ settings.swatch_size }}px;
$swatch_border_color: {{ settings.swatch_border_color | default: '#ccc' }};
$swatch_select_width: 97px;

/*Buttons*/
/*button style 1*/
$color_btn_s1: {{ settings.color_btn_s1 | default: '#222' }};
$border_btn_s1: {{ settings.border_btn_s1 | default: '#ccc' }};
$bkg_btn_s1: {{ settings.bkg_btn_s1 | default: '#fff' }};
$color_btn_s1_hover: {{ settings.color_btn_s1_hover | default: '#fff' }};
$border_btn_s1_hover: {{ settings.border_btn_s1_hover | default: '#d9121f' }};
$bkg_btn_s1_hover: {{ settings.bkg_btn_s1_hover | default: '#d9121f' }};
$w_h_btn_s1_circle: 30px;/*width height button style 1 circle*/
/* button style 2 */
$color_btn_s2: {{ settings.color_btn_s2 | default: '#fff' }};
$border_btn_s2: {{ settings.border_btn_s2 | default: '#d9121f' }};
$bkg_btn_s2: {{ settings.bkg_btn_s2 | default: '#d9121f' }};
$color_btn_s2_hover: {{ settings.color_btn_s2_hover | default: '#fff' }};
$border_btn_s2_hover: {{ settings.border_btn_s2_hover | default: '#222' }};
$bkg_btn_s2_hover: {{ settings.bkg_btn_s2_hover | default: '#222' }};
/*button style 3*/
$color_btn_s3: {{ settings.color_btn_s3 | default: '#fff' }};
$border_btn_s3: {{ settings.border_btn_s3 | default: '#222' }};
$bkg_btn_s3: {{ settings.bkg_btn_s3 | default: '#222' }};
$color_btn_s3_hover: {{ settings.color_btn_s3_hover | default: '#222' }};
$border_btn_s3_hover: {{ settings.border_btn_s3_hover | default: '#222' }};
$bkg_btn_s3_hover: {{ settings.bkg_btn_s3_hover | default: '#fff' }};
/* cart button on product page */
$fs_btn_cart: 12px;
$fs_btn_cart_mobile: 12px;
$height_button: 45px;
$border_btn_cart: {{ settings.border_btn_cart | default: '#169214' }};/*button cart style*/
$bkg_btn_cart: {{ settings.bkg_btn_cart | default: '#169214' }};

/*Tab title*/
$fs_tt: {{ settings.fs_tt }}px;/*font size tab title*/
$fs_tt_mobile: {{ settings.fs_tt_mobile }}px;/*font size tab title mobile*/
$color_tt: {{ settings.color_tt | default: '#999' }};/*color tab title*/
$color_tt_hover: {{ settings.color_tt_hover | default: '#fff' }};/*color tab title hover*/
$tab_color_single: {{ settings.tab_item_color_single }};
$tab_item_active_color_single: {{ settings.tab_item_active_color_single }};
$tab_border_item_single: {{ settings.color_general | color_modify: 'alpha', 0.1 }};

/*Navigation*/
$bkg_nav_item_dropdown: {{ settings.bkg_nav_item_dropdown | default: '#fff' }};/*background dropdown nav item*/
$padding_link_list: 8px;/*padding left and right for link list*/
$padding_item_dropdown: 10px; /*padding item dropdown*/
$padding_link-list-dropdown: 30px; /*padding link list dropdown*/
$color_link: {{ settings.color_link | default: '#000' }}; /*color link*/
$bkg_nav_item_hover: transparent;/*background nav item hover*/
$color_nav_item_hover: {{ settings.color_nav_item_hover | default: '#d9121f' }};/*color nav item hover*/
$fs_dropdown_title: {{ settings.fs_dropdown_title }}px;/*font size dropdown title*//*done*/
$fs_dropdown_content: {{ settings.fs_dropdown_content }}px;/*font size dropdown content*//*done*/
$left_item_label_dropdown: 50px;/*left position item label dropdown*/
$top_item_label_dropdown: -7px;/*top position item label dropdown*/
$fs_item_label: 10px;/*font size item label*//*done*/
$fs_nav_item: {{ settings.fs_dropdown_nav_top }}px;/*font size nav item*//*done*/
$top_nav_item_label: -15px;/*top position of nav item label*/
$right_nav_item_label: 0;/*right position of nav item label*/
$dropdown_triangle: 15px;
/*Header cart*/

/* Sidebar Canvas */
$width_sidebar_canvas: 350px;
$bkg_sidebar_canvas: {{ settings.bkg_sidebar_canvas | default: '#fff' }};
$padding_sidebar_canvas: 25px;

/*Box shadow*/
$value_shadow: {{ settings.color_general | color_modify: 'alpha', 0.15 }};

/*Slick slider*/
$fs_icon_slick: 12px;

$gutter-top: 20px;/*gutter top*/
$gutter-bottom: 20px;/*gutter bottom*/
$gutter-element: 10px;/*gutter - for element*/
$padding-grid-item: 15px;/*padding grid item*/
$padding-grid-item-mobile: 10px;/*padding grid item*/


/*Product page*/
$bkg_product_single: {{ settings.bkg_product_single | default: '#d6f3ee' }};
$fs_product_price_sale_single: {{ settings.fs_product_price_sale_single }}px;
$fs_product_price_sale_single_mobile: {{ settings.fs_product_price_sale_single_mobile }}px;
$wh_option_single: 30px;
$wh_qty: 30px;
$wh_qty_single: 45px;
$color_border_qty: {{ settings.color_border_qty | default: '#ccc' }};

/*Footer*/
$bkg_footer: {{ settings.bkg_footer | default: '#ccc' }};/*background footer*/
$fs_footer_column_title: {{ settings.fs_footer_column_title }}px;/*font size footer column title*/
$color_footer_column_title: {{ settings.color_footer_column_title | default: '#222' }};/*color footer column title*/
$fs_footer_column_content: {{ settings.fs_footer_column_content }}px;/*font size footer column content*/
$color_footer_column_content: {{ settings.color_footer_column_content | default: '#8a8282' }};/*color footer column content*/
$color_footer_column_content_hover: {{ settings.color_footer_column_content_hover | default: '#222' }}; /*color footer link hover*/
$footer_padding: 25px; /*padding top/bottom footer*/
$height_newsletter: 30px;/*height newsletter*/
$br_newsletter: 0;/*border radius newsletter*/
$bkg_newsletter: transparent;/*background input newsletter*/
$fs_social_icon: 21px;/*font size social icons*/

/*Input field*/
$border_input: {{ settings.border_input | default: '#a7a1a1' }};/*border color input*/
$border_input_focus: {{ settings.border_input_focus | default: '#4285f4' }};/*border color input focus*/
$fs_input_label: 13px;
$fs_input_label_focus: 12px;
$height_input_field: 40px;

/*Compare popup*/
$fs_popup_badge: 25px;
$color_popup_badge: #2cb752;

/*Pop up cart*/
$fs_price_cart_response: 16px;

/*Sticky cart*/
$w_h_swatch_sc: 30px;
$sticky_action: 43px;

/*Search input*/
$height_search: 35px;
$border_search: #ccc;

/*Blog page*/
$fs_article_title: 18px;
$fs_article_title_big: 25px;
$fs_sidebar_title: 20px;
$fs_date_author: 12px;
$color_date_author: {{ settings.blog_color_date_author | default: '#999' }};
$color_article_title: {{ settings.blog_color_article_title | default: '#2a302d' }};
$fs_article_tag: 13px;

/*Collection page*/
$fs_cf_item_title: 20px;
$wh_swatch: 30px;

/*Rating*/
$color_stars: #ca9c3a;

/*Cart page*/
$color_border_table: #e9e9e9;
$wh_input_cart: 37px;
$fs_icon_cart: 17px;

/* Responsive screen */
$mobile_width: 767px;
$min_tablet_small_width: 768px;
$max_tablet_small_width: 991px;
$min_tablet_large_width: 992px;
$max_tablet_large_width: 1199px;
$desktop_width: 1200px;

/*Mixins*/
@mixin prefix($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    @if $prefix == webkit {
      -webkit-#{$property}: $value;
    } 
    @else if $prefix == moz {
      -moz-#{$property}: $value;
    } 
    @else if $prefix == ms {
      -ms-#{$property}: $value;
    } 
    @else if $prefix == o {
      -o-#{$property}: $value;
    } 
    @else if $prefix == spec {
      #{$property}: $value;
    } 
    @else  {
      @warn 'Unrecognized prefix: #{$prefix}';
    }
  }
}
@mixin opacity($v1, $v2) {
  opacity: $v1;
  filter: alpha(opacity=$v2);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=$v2)";
}
@mixin transition($transition) {
  @include prefix(transition, $transition, ms webkit spec);
}
@mixin display-flex() {
  display: flex;
  flex-flow: row wrap;
}
@mixin border-radius($border-radius) {
  border-radius: $border-radius; 
}
/*justify-content: center|left|right*/
@mixin justify-content($var) {
  justify-content: $var;
}

/*align-items: stretch|center|flex-start|flex-end|baseline|initial|inherit;*/
@mixin align-items($value: stretch) {
  $alt-value: $value;

  @if $value == 'flex-start' {
    $alt-value: start;
  } @else if $value == 'flex-end' {
    $alt-value: end;
  }

  /* sass-lint:disable no-misspelled-properties*/
  -ms-flex-align: $alt-value;
  @include prefix(align-items, $value, webkit moz ms o spec);
}
@mixin box-shadow($box-shadow){  
  box-shadow: $box-shadow; 
}
@mixin filter($filter) {
  @include prefix(filter, $filter, webkit);
}
@mixin transform($transform) {
  transform: $transform;
}
@mixin flex-direction($value) {
  flex-direction: $value;
}
@mixin backface_visibility($value) {
  @include prefix(backface_visibility, $value, ms webkit);
}
@mixin animation($value) {
  @include prefix(animation, $value, ms webkit spec moz);
}
@mixin loading-ajax($width, $height) {
  content: '';
  font-size: $width;
  display: inline-block;
  width: $width;
  height: $height;
  border-radius: 50%;
  border: 2px solid;
  border-right-color: {{ settings.color_general | color_modify: 'alpha', 0.1 }};
  border-bottom-color: {{ settings.color_general | color_modify: 'alpha', 0.1 }};
  border-left-color: {{ settings.color_general | color_modify: 'alpha', 0.1 }};
}
@mixin loading-icon($width, $height) {
  content: '';
  font-size: 20px;
  display: block;
  width: $width;
  height: $height;
  border-radius: 50%;
  border: 2px solid #fff;
  border-right-color: transparent;
  -webkit-animation: spin 0.6s linear infinite;
  animation: spin 0.6s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
@mixin loading-bkg($value) {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: $value;
  z-index: 2;
}

/*-------------- Home page -------------------*/
@mixin flex-basis($width: auto) {
  // sass-lint:disable no-misspelled-properties
  -ms-flex-preferred-size: $width;
  @include prefix(flex-basis, $width, webkit moz spec);
}

@mixin flex-wrap($value: nowrap) {
  flex-wrap: $value;
}

@mixin flex-direction($value) {
  flex-direction: $value;
}

@mixin align-content($align: center) {
  @include prefix(align-content, $align, webkit ms spec);
}
/*-------------- End Home page -------------------*/

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-webkit-keyframes fadeInDown {
    0% {
        -webkit-transform: translate3d(0, -100% , 0);opacity: 0;transform: translate3d(0, -100% , 0);
    }
    to {
        -webkit-transform: translateZ(0);
        opacity: 1;
        transform: translateZ(0);
    }
}
@keyframes fadeInDown {
    0% {
        -webkit-transform: translate3d(0, -100% , 0);opacity: 0;transform: translate3d(0, -100% , 0);
    }
    to {
        -webkit-transform: translateZ(0);
        opacity: 1;
        transform: translateZ(0);
    }
}
@keyframes rise-up {
    from {
        opacity: 0;
        transform: translateY(120%)
    }
    to {
        opacity: 1;
        transform: translateY(0%)
    }
}
@-webkit-keyframes rise-up {
    from {
        opacity: 0;
        transform: translateY(120%)
    }
    to {
        opacity: 1;
        transform: translateY(0%)
    }
}
@-webkit-keyframes rise-up-out {
    from {
        opacity: 1;
        transform: translateY(0%)
    }
    to {
        opacity: 0;
        transform: translateY(-120%)
    }
}
@keyframes rise-up-out {
    from {
        opacity: 1;
        transform: translateY(0%)
    }
    to {
        opacity: 0;
        transform: translateY(-120%)
    }
}
@-webkit-keyframes progress-bar-stripes {
  from  { background-position: 40px 0; }
  to    { background-position: 0 0; }
}

// Spec and IE10+
@keyframes progress-bar-stripes {
  from  { background-position: 40px 0; }
  to    { background-position: 0 0; }
}

/*General*/
a {
  &:hover,
  &:focus,
  &.active {
    color: $color_hover;
    outline: none;
  }
  &.inline-color {
    &:hover,
    &:focus,
    &.active {
      color: $color_hover!important;
      outline: none;
    }
  }
  &.alternative {
    &:hover,
    &:focus,
    &.active {
      color: {{ settings.color_general_alternative_hover }};
    }
  }
}
.rte {
  a {
    text-decoration: underline;
  }
  p {
      margin: 0 0 10px
  }
}
input[type="text"],input[type="search"],input[type="textarea"],input[type="password"],input[type="email"],input[type="tel"],input[type="number"],select {
  font-size: 16px;
  @media(min-width: $desktop_width) {
    font-size: 14px;
  }
}
.secondary-font {
  font-family: $fm_second;
}
/*Effect hover*/
.effect-hover__content,.transition {
  @include transition($transition);
}
.effect-hover__cart-btn {
  @media(min-width: $desktop_width) {
    top: 0;
    @include transform(translateY(-100%));
  }
}
.pg__countdown {
  @include transition($transition);
  color: {{ settings.color_countdown }};
  background: {{ settings.bkg_countdown | color_modify: 'alpha', 0.8 }};
}

.effect-hover {
  @media(min-width: $desktop_width) {
    &:hover {
      .effect-hover__content {
        @include opacity(1,100);
        visibility: visible;
      }
      .item__actions {
        right: 10px;
      }
    }
  }
}
.zoom-effect {
  overflow: hidden;
  &:hover {
    .zoom-effect__inner {
      @include transform(scale(1.1,1.1));
    }
  }
}
.zoom-effect__inner {
  @include transition($transition);
}

/* Header */
.header__wrap {
  position: relative;
}
.header--desktop {
  z-index: 3;
}
.header--mobile {
  border-bottom: 1px solid $color_general_blur;
  z-index: 2;
}
.header__link {
  &:hover {
    .cart-number {
      color: $color_hover;
    }
  }
}

@media(max-width: $max_tablet_small_width) {
  .cs__code {
    vertical-align: sub;
    &.active {
      text-decoration: underline !important;
    }
  }
}
/*Product item*/
.item__vendor {
  color: {{ settings.item_vendor_color }};
  font-size: {{ settings.item_vendor_fs }}px;
}
.item__image--alt-img {
  &:hover {
    .pg__main-image {
      @include opacity(0,0);
    }
    .pg__main-alt-image {
      @include opacity(1,100);
    }
  }
}
/*Button style 1*/
.button--style1 {
  color: $color_btn_s1;
  border: 1px solid $border_btn_s1;
  background: $bkg_btn_s1;
  &:hover {
    color: $color_btn_s1_hover;
    border: 1px solid $border_btn_s1_hover;
    background: $bkg_btn_s1_hover;
  }
}
.button--style1-reverse {
  color: $color_btn_s1_hover;
  border: 1px solid $border_btn_s1_hover;
  background: $bkg_btn_s1_hover;
  &:hover {
    color: $color_btn_s1;
    border: 1px solid $border_btn_s1;
    background: $bkg_btn_s1;
  }
}
.button--circle {
  width: $w_h_btn_s1_circle;
  height: $w_h_btn_s1_circle;
  line-height: $w_h_btn_s1_circle;
  padding: 0;
  @include border-radius(50%);
  i {
    padding-right: 0 !important;
  }
}
.button--square {
  width: 40px;
  height: 40px;
  line-height: calc(40px - 3px);
  padding: 0;
}
.button--one-line {
  overflow: hidden;
}

/*Button style 2*/
.button--style2 {
  color: $color_btn_s2;
  border: 1px solid $border_btn_s2;
  background: $bkg_btn_s2;
  &:hover {
    color: $color_btn_s2_hover;
    border: 1px solid $border_btn_s2_hover;
    background: $bkg_btn_s2_hover;
  }
}

/*Button style 3*/
.button--style3 {
  color: $color_btn_s3;
  border: 1px solid $border_btn_s3;
  background: $bkg_btn_s3;
  &:hover {
    color: $color_btn_s3_hover;
    border: 1px solid $border_btn_s3_hover;
    background: $bkg_btn_s3_hover;
  }
}
.button--large {
  width: 48px;
  height: 48px;
  line-height: 48px;
  @media(max-width: $max_tablet_small_width) {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}
.button--wl {
  &.added {
    i {
      &:before {
        content: '\e92e';
      }
    }
  }
}
.button[disabled="disabled"] {
  opacity: 0.5;
}

/*Modal*/
.modal-body {
  padding: 25px;
}
.modal-header {
  padding: 0;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  @media(min-width: $min_tablet_large_width) {
    margin-right: -32px;
  }
  .close {
    border: none;
    background: none;
    color: $color_general;
    border: 1px solid $bkg_body;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: $bkg_body;
    margin-top:0;
    @include display-flex();
    @include justify-content(center);
    @include align-items(center);
    width: 24px;
    height: 24px;
    @media(min-width: $min_tablet_large_width) {
      width: 33px;
      height: 33px;
    }
    &:hover {
      color: $color_btn_s3_hover;
      background: $bkg_btn_s3_hover;
      cursor: pointer;
    }
    i {
      font-size: 20px;
    }
  }
}
/*Alert*/
.alert-success {
  background: none;
  position: relative;
  padding-left: 30px;
  border-color: #11cc09;
  color: #0d8807;
  &:after {
    font-family: 'BTVodoma';
    content: '\e900';
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 15px;
    margin-left: 10px;
  }
}
.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b
}
/*Instagram*/
.button--instagram {
  font-size: 32px;
}
.instagram-hashtag {
  position: relative;
  z-index: 1;
  height: 60px;
  margin-top: -45px;
  span {
    background: #fff;
    color: $color_hover;
    font-weight: $fw_bold;
    box-shadow: 0 2px 9px 0 rgba(0,0,0,.2);
    height: 60px;
    line-height: 60px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
button {
  &:focus {
    outline: none;
  }
}

/*Navigation*/
@media(min-width: $min_tablet_large_width) {
  .nav__item {
    @include transition($transition);
    &.hover, &.open {
      border-bottom-color: $color_hover;
      .nav__item__dropdown {
        z-index: 21;
        @include opacity(1,100);
        visibility: visible;
        pointer-events: auto;
        top: calc(100% + #{$gutter-bottom});
      }
      >a {
        color: $color_nav_item_hover;
        background: $bkg_nav_item_hover;
      }
    }
    >a {
      &:focus {
        color: $color_nav_item_hover;
        background: $bkg_nav_item_hover;
      }
    }
  }
  .nav__item--parent {
    .nav__item__link {
      &:after {
        font-family: 'BTVodoma';
        content: '\e874';
        font-weight: bold;
        font-size: 8px;
      }
    }
  }
  {% assign nav_color_shadow = 'color_header' | append: settings.header_style | remove: 'style' %}
  .nav__item__dropdown {
    top: calc(100% + 20px);
    left: 0;
    z-index: -21;
    @include transition(ease all 0.3s);
    pointer-events: none;
    background: {{ settings.bkg_nav_item_dropdown | default: '#111' }};
    @include box-shadow(1px 2px 5px 0px {{ settings[nav_color_shadow] | color_modify: 'alpha', 0.07 }});
    > .row {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap;
    }
  }

  .nav__item {
    &.hover, &.open {
      .nav__item__dropdown {
        top: 100%;
      }
    }
  }

  .nav-wrap-gutter {
    .nav__item__dropdown {
      top: calc(100% + 20px - #{$gutter-bottom});
    }
    .nav__item {
      &.hover, &.open {
        .nav__item__dropdown {
          top: calc(100% - #{$gutter-bottom});
        }
      }
    }
  }

  .nav__item__column {
    padding: $padding-grid-item;
  }
  .nav__item__dropdown-column-content {
    font-size: $fs_dropdown_content;
    img {
      margin: 0 auto;
    }
  }
  .nav__icon {
    font-size: 14px;
    margin-right: 5px;
  }
  .nav__item__dropdown-title {
    font-size: $fs_dropdown_title;
    line-height: 1.6em;
  }
  .nav__item__dropdown-title--top {
    padding-bottom: 17px;
  }
  .nav__item__dropdown-title--bottom {
    padding-top: 17px;
  }
  .link-list--nav {
    padding: 0;
    margin-bottom: 0;
  }
  .link-list__item__dropdown--nav {
    padding-top: 10px;
  }
  .link-list__item {
    &.level1,
    &.level2 {
      margin-right: $padding_link-list-dropdown;
    }
  }
  .link-list__item--parent {
    position: relative;
    > div > .link-list__item__link {
      &:after {
        content: '\e917';
        font-family: 'BTVodoma';
        cursor: pointer;
        font-size: 15px;
        font-weight: 400;
        padding: 0 15px;
        vertical-align: middle;
      }
    }
    &.hover {
      > div {
        > .link-list__item__dropdown {
          @include opacity(1,100);
          visibility: visible;
          pointer-events: auto;
        }
        >.link-list__item__link {
          &:after {
            content: '\e916'
          }
        }
      }
    }
  }
  .link-list__item__dropdown {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    min-width: 170px;
    margin-top: calc(-2*#{$padding_link_list});
    padding-bottom: $padding_link_list;
    z-index: 3;
    &:not(.link-list__item__dropdown--nav) {
      @include box-shadow(0 0 25px {{ settings.body_bkg_color | default: '#fff' | color_modify: 'alpha', 0.15 }});
      background: {{ settings.body_bkg_color | default: '#fff' | color_modify: 'alpha', 0.05 }};
    }
  }
  .link-list__item__dropdown--nav {
    @include transition($transition);
    background: {{ settings.bkg_nav_item_dropdown }};
    @include box-shadow(0px 0px 5px -1px {{ settings[nav_color_shadow] | color_modify: 'alpha', 0.23 }});
  }
  .nav__item--ver {
    border-bottom: none!important;
  }
}
.link-list__item {
  &.open {
    >.mobile-nav__arrow {
      &:before {
        content: '\e916';
      }
    }
  }
}
.link-list__item__link {
  font-size: 12px;
  > i {
    margin-right: 5px;
  }
  .nav__item__label {
    left: auto;
    right: auto;
    top: -12px;
  }
}

/* Mobile navigation */
.link-list__item__dropdown--mobile-nav {
  position: static;
  left: 0;
  padding-left: 0;
  padding-top: 3px;
  padding-bottom:0;
  margin-top: 5px;
  margin-bottom: -10px;
}
.link-list__item--parent-mobile {
  &:before {
    display: none;
  }
}
.mobile-nav__arrow {
  position: absolute;
  width: 40px;
  height: 40px;
  top:0;
  right: 0;
  @include display-flex();
  @include justify-content(center);
  @include align-items(center);
  &:before {
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    color: $color_general;
  }
  &:hover {
    &:before {
      color: $color_hover;
    }
  }
  @media(min-width: $desktop_width) {
    @include transition($transition);
  }
}
.mobile-nav__item {
  position: relative;
  .nav__item__label {
    top: 0;
    padding: 2px 7px;
    font-size: 10px;
  }
}
.mobile-nav__item--level1 {
  margin-right: 0;
}
.mobile-nav__arrow--level1 {
  width: 54px;
}
.link-list__item__link--level1 {
  padding-left: 25px;
  text-transform: capitalize;
}
.mobile-nav__item--level2 {
  margin-right: 0;
}
.link-list__item__link--level2 {
  padding-left: 50px;
}
.mobile-nav__item--level3 {
  margin-right: 0;
}
.link-list__item__link--level3 {
  padding-left: 75px;
}
.mobile-nav__item--level4 {
  margin-right: 0;
}
.link-list__item__link--level4 {
  padding-left: 95px;
}
.link-list__item__link--mobile-nav {
  height: 15px;
  line-height: 15px;
  &:after {
    display:none;
  }
}
.mobile-nav--li {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* Sidebar canvas */
.bt-sidebar__inner {
  position: fixed;
  top: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  width: 310px;
  background: $bkg_sidebar_canvas;
  padding: 10px;
  left: 100%;
  padding-bottom: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  @media(min-width: 340px) {
    width: 320px;
  }
  @media(min-width: $min_tablet_small_width) {
    padding: $padding_sidebar_canvas;
    width: $width_sidebar_canvas;
  }
  @media(min-width: $desktop_width) {
    &::-webkit-scrollbar {
      width: 0;
    }
  }
}
.block-mobile-nav {
  padding: 0 7px;
}
.login-form-mobile {
  padding: 15px;
}
@media(max-width: $mobile_width) {
  .bt-sidebar--full-mobile {
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    position: fixed;
    z-index: 1052;
    .bt-sidebar__inner {
      display: none;
      left: 0;
      right: 0;
      width: 100%;
      top: auto;
      bottom: 0;
    }
  }
}

body {
  position: relative;
}
.overlay {
  display: none;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  z-index: 1001;
}

/*Header cart*/
.bt-sidebar__content {
  margin-top: 10px;
}
.hc__items {
  overflow-y: auto;
  max-height: 30vh;
  -webkit-overflow-scrolling: touch;
}
.bt-sidebar__inner {
  .hc__items {
    max-height: 35vh;
    @media(min-width: 1425px) {
      max-height: 45vh;
    }
  }
}
.hc__item__image {
  padding: 15px 10px 0 0;
  vertical-align: top;
  min-width: 90px;
}
.hc__item__name {
  padding: 10px 10px 0;
}
.hc__item__remove-wrap {
  padding: 5px 5px 0;
  vertical-align: top;
}
.hc__item__remove {
  color: $color_general_light;
  padding: 0;
  font-size: 17px;
  &:hover {
    color: $color_general;
  }
}
.hc__empty-icon {
  font-size: 180px;
  color: {{ settings.color_general | default: '#222' | color_modify: 'alpha', 0.4 }};
}
.hc__empty-text {
  font-size: 17px;
  line-height: 1.3em;
}
.cart__meta-text {
  font-size: 85%;
}
.hc__item__price {
  color: $color_general_light;
}
.hc__total {
  @include justify-content(space-between);
  padding: 20px 10px;
  margin-top: 20px;
  border-top: 4px solid $color_general_blur;
  color: $color_general_light;
  label {
    text-transform: uppercase;
    font-size: 16px;
  }
}
.hc__total__price {
  color: $color_general;
  font-weight: $fw_bold;
  font-size: 24px;
}
.hc__actions {
  @include justify-content(space-between);
}
.hc__item__x {
  padding: 0 3px;
}
.bt-sidebar__close {
  font-size: 130%;
  i {
    line-height: 30px
  }
  span {
    line-height: 30px;
    font-size: 13px;
    padding:0 10px;
  }
}
.bt-sidebar__header {
  @include justify-content(space-between);
  padding: 0;
  @include align-items(center);
  @include flex-direction(row-reverse);
  border-bottom: 4px solid $color_general_blur;
  margin-bottom: 25px;
}
.bt-sidebar__header--right {
  flex-direction: row;
  .bt-sidebar__close {
    display: flex;
    flex-direction: row-reverse;
  }
}
.bt-sidebar__title {
  text-transform: uppercase;
  font-weight: $fw_bold;
}

/* Powerful Banner Text section */
.banner-item__text__sub {
  >a {
    text-decoration: underline;
    &:hover {
      text-decoration: underline;
    }
  }
}
@media (max-width: 767px) {
  .banner-item__text--padding-bottom-mobile {
    padding-bottom: 15px;
  }
  .banner-item__text--padding-top-mobile {
    padding-top: 15px;
  }
  .banner-item__text--padding-left-mobile {
    padding-left: 15px!important;
  }
  .banner-item__text--padding-right-mobile {
    padding-right: 15px!important;
  }
}
.banner-item {
  height: auto;
  overflow: hidden;
}

/* Dropdown element */
.bt-dropdown__content {
  @include transition($transition);
  position: absolute;
  top: calc(100% + 30px);
  z-index: 2;
  background: $bkg_nav_item_dropdown;
  @include box-shadow(0 0 25px rgba(0,0,0,0.15));
  min-width: 320px;
  padding: 10px;
  margin: 0;
  left: 0;
  @media(min-width: $min_tablet_small_width) {
    min-width: 360px;
  }
  > ul {
    padding: 5px 10px;
    margin: 0;
    text-align: center;
  }
  display: block;
  pointer-events: none;
}
.bt-dropdown__content--auto-center {
  left: 50%;
  @include transform(translate(-50%));
}
.bt-dropdown__content--right {
  left: auto;
  right: 0;
}
.bt-dropdown__content--right-fluid {
  right: 15px;
}
.bt-dropdown {
  &.active {
    .bt-dropdown__trigger--arrow {
      &:before {
        @include transform(rotate(-180deg));
      }
    }
    .bt-dropdown__content {
      visibility: visible;
      @include opacity(1,100);
      top: 100%;
      pointer-events: auto;
    }
  }
}
.bt-dropdown__trigger--arrow {
  position: relative;
  &:not(.rtl) {
    padding-right: 20px;
  }
  &:before {
    @include transition($transition);
    content: "\e92c";
    display: inline-block;
    font-family: 'BTVodoma';
    font-size: 80%;
    position: absolute;
    top: 0;
    right: 5px;
    @media(min-width: $min_tablet_large_width) {
      right: 0;
    }
  }
  &.rtl {
    padding-left: 20px;
    &:before {
      right: auto;
      left: 5px;
      @media(min-width: $min_tablet_large_width) {
        left: 0;
      }
    }
  }
}

/*Dropdown cart*/
.header__cart {
  color: $color_general;
  @media(min-width: $min_tablet_large_width) {
    max-width: 360px;
  }
}

/*Loading data in product item*/
.loading-data {
  .item__top {
    position: relative;
    &:after {
      @include loading-icon(30px, 30px);
    }
    &:before {
      @include loading-bkg(rgba(0,0,0,0.2));
    }
  }
}
.loading-ajax {
  display: inline-block;
  line-height: 0;
  vertical-align: middle;
  -webkit-animation: spin 0.6s linear infinite;
  animation: spin 0.6s linear infinite;
  padding: 0 !important;
  &:before {
    @include loading-ajax(18px, 18px);
  }
}

.pg__review-stars {
  color: $color_stars;
  font-size: 10px;
}
.pg__review-stars--trigger {
  cursor: pointer;
}
.pg__review-stars--no-number {
  .spr-badge-caption {
    display: none;
  }
}
.pg__option {
  white-space: normal;  
  overflow: hidden;
}

.pg__option-size {
  @include transition($transition);
}
.pg__sub-actions {
  a {
    font-size: 13px;
    i {
      color: $color_general_light;
    }
    &:hover {
      i {
        color: $color_hover;
      }
    }
  }
}
.pg__countdown-wrap {
  >div {
    @include border-radius(8px);
  }
}
.qty-box-label {
  text-transform: uppercase;
  font-weight: $fw_bold;
}
.qty-box--very-small {
  width: 125px;
  margin-right: 5px;
}
.qty-box__input--very-small {
  width: calc(100% - 90px);
}
.qty-box__ctrl--very-small {
  width: 45px;
}
.spr-header-title {
  font-family: $fm_second;
}
.spr-container {
  border-color: $color_general_blur;
  @include border-radius(5px);
}
.spr-review, 
.spr-form {
  border-color: $color_general_blur;
}
.add-cart-btn[disabled="disabled"] {
  @include opacity(0.6,60);
  pointer-events: none;
}
.add-cart-btn,.button--more {
  .loading-ajax {
    margin-right: 5px;
  }
}
.pg__short-desc {
  color: $color_general;
  font-weight: $fw_thin;
}

/* Slick slider */
.slick-arrow.slick-hidden {
    display: none!important;
}
@media(min-width: $min_tablet_large_width) {
  .slick-current {
    .text-effect-1 {
      animation: rise-up 0.8s ease 1.3s forwards;
    }
    .text-effect-2 {
      animation: rise-up 1s ease 1.3s forwards;
    }
    .text-effect-3 {
      animation: rise-up 1.5s ease 1.3s forwards;
    }
    .text-effect-4 {
      animation: rise-up 2s ease 1.3s forwards;
    }
  }
  .slick-slide.animate-out {
    .img-container{
      opacity: 0;
      transform: translateX(-200px);
      transition: all 0.5s ease-in 0.05s
    }
    .text-effect-1 {
      animation: rise-up-out 0.8s ease 0s forwards;
    }
    .text-effect-2 {
      animation: rise-up-out 1s ease 0.1s forwards;
    }
    .text-effect-3 {
      animation: rise-up-out 1.5s ease 0.2s forwards;
    }
    .text-effect-4 {
      animation: rise-up-out 2s ease 0.3s forwards;
    }
  }
}
.slick-cloned.img-container.loading {
  background: none;
}

/* Customize for theme - Button next/pre slider*/
.slick-arrow {
  position: absolute;
  z-index: 1;
  margin-top: 0;
  background: none;
  top: calc(50% - 15px);
  border-color: $color_btn_s2;
  @include opacity(0.5,50);
  @media(max-width: $mobile_width) {
    @include opacity(1,100);
  }
  span {
    &:before {
      font-family: 'BTVodoma';
      font-size: $fs_icon_slick;
      font-weight: $fw_bold;
      visibility: visible;
    }
  }
  &.slick-disabled {
    cursor: text;
    @include opacity(0.3,30);
  }
}
.slick-slider {
  &:hover {
    .slick-arrow {
      @media(min-width: $min_tablet_small_width) {
        @include opacity(1,100);
      }
    }
  }
}
.slick-prev {
  left: 0;
  span {
    &:before {
      content: '\e875';
    }
  }
  @media(min-width: 1366px) {
    &:not(.slick-box) {
      left: -25px;
    }
  }
}
.slick-next {
  right: 0;
  span {
    &:before {
      content: '\e876';
    }
  }
  @media(min-width: 1366px) {
    &:not(.slick-box) {
      right: -25px;
    }
  }
}

.slick-arrow-title {
  .slick-arrow {
    position: static;
    background: none;
    border: none;
    padding: 0;
    @include opacity(1,100);
    vertical-align: middle;
    span:before {
      font-size: 20px;
    }
  }
  .slick-next {
    float: right;
    span:before {
      content: '\e62b';
    }
  }
  .slick-prev {
    margin-right: 25px;
    float: left;
    span:before {
      content: '\e62a';
    }
  }
}

.slick-vertical {
  .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
  .slick-arrow {
    padding: 0;
    width: 100%;
    @include border-radius(0);
    height: 28px;
    line-height: 28px;
    span {
      &:before {
        @include transform(rotate(90deg));
      }
    }
  }
  .slick-next {
    top: 100%;
  }
  .slick-prev {
    top: 0;
  }
}

.slick-dots {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 0;
  >li {
    display: inline-block;
    margin: 0 5px;
    button {
      font-size: 0;
      line-height: 0;
      color: transparent;
      border: 0;
      outline: 0;
      display: block;
      background: none;
      cursor: pointer;
      text-indent: -9999px;
      border: none;
      margin: 0;
      padding: 0;
      width: 20px;
      height: 20px;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        width: 6px;
        height: 6px;
        @include border-radius(50%);
        background: $color_general;
        top: 7px;
        left: 7px;
      }
    }
    &.slick-active {
      button {
        &:before {
          width: 12px;
          height: 12px;
          top: 4px;
          left: 4px;
          background: none;
          border: 2px solid $color_general;
        }
      }
    }
  }
}

.slick-slide {
  &:focus {
    outline: none;
  }
}
.slick-focus-push-top {
  .slick-list {
    padding-top: 50px !important;
    @media(max-width:$max_tablet_small_width) {
      padding-top: 0!important;
    }
  }
  .slick-slide {
    @media(min-width:$min_tablet_large_width) {
      @include transition($transition);
      @include opacity(0.7,70);
      padding-right: 40px;
      &.slick-center {
        margin-top: -50px;
        @include opacity(1,100);
      }
    }
  }
}
.slick-rows {
  .slick-slide {
    > div {
      @include display-flex();
      &:focus {
        outline: none;
      }
    }
  }
}
@media(min-width: $min_tablet_small_width) {
  .product-list-slider {
    .slick-dots {
      position: static;
    }
  }
}

.get-rates {
  height: 45px;
  line-height: 41px;
}
.modal-full {
  @media(min-width: $desktop_width) {
    width: 1180px;
  }
  @media(min-width: 1920px) {
    width: 1440px;
  }
  @media(min-width: 2300px) {
    width: 1920px;
  }
}
.modal-content {
  background-color: $bkg_body;
  @include border-radius(6px);
  border-top-right-radius: 0;
}
.pg__main-options--small {
  padding: 10px;
}
/*Footer*/
.footer--bkg {
  background-position: center bottom;
}
.footer__column__title {
  font-size: $fs_footer_column_title;
  color: $color_footer_column_title;
  margin-bottom: 20px;
  font-weight: $fw_bold;
}
.footer__column__content {
  font-size: $fs_footer_column_content;
  color: $color_footer_column_content;
  a {
    color: $color_footer_column_content;
    &:hover {
      color: $color_footer_column_content_hover;
    }
  }
}
.newsletter--footer {
  label {
    color: inherit;
  }
}
.footer__column__title--newsletter {
  margin-bottom: 0;
}
.footer__blog__link {
  color: {{ settings.color_footer_column_content_hover | default: '#222' | color_modify: 'alpha', 0.8 }}!important;
  font-weight: $fw_normal;
  &:hover {
    color: $color_footer_column_content_hover !important;
  }
}
.social-icons__link {
  background-color: {{ settings.footer_social_bkg_color }}!important;
  color: {{ settings.footer_social_color }}!important;
  font-size: {{ settings.footer_social_fs }}px!important;
  width: {{ settings.footer_social_fs | plus: 10 }}px;
  height: {{ settings.footer_social_fs | plus: 10 }}px;
  line-height: {{ settings.footer_social_fs | plus: 10 }}px;
  display: block;
  text-align: center;
  @include border-radius(50%);
  &:hover {
    color: $color_footer_column_content_hover!important;
  }
}
.input-group {
  @include display-flex();
}
.footer__contact__item {
  margin-bottom: 7px;
  i {
    margin-right: 5px;
  }
}
.footer__linklist-item {
  text-transform: uppercase;
}
.social-icons {
  margin: 15px -5px 0;
  >li {
    padding: 0 5px;
  }
}
.social-icons__link {
  font-size: $fs_social_icon;
}

.button-cp--remove {
  text-decoration: underline;
}

/*Pagination*/
.button--disabled {
  @include opacity(0.2,20);
}
.button--radius-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.button--radius-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/*Loading full*/
.loading-full {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(#222,0.3);
  color: #fff;
  z-index: 1053;
  @include display-flex();
  @include align-items(center);
  @include justify-content(center);
  .loading-ajax {
    &:before {
      font-size: 50px;
      width: 50px;
      height: 50px;
    }
  }
}
.loading-not-full {
  width: 50px;
  height: 50px;
  margin: 50px auto;
  display: block;
  .loading-ajax {
    &:before {
      font-size: 50px;
      width: 50px;
      height: 50px;
    }
  }
}

.notify {
  width: 50%;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 10px;
  z-index: 1;
  @media (max-width: 767px) {
    width: 80%;
  }
}

/*Input field*/
.select {
  position: relative;
  &:after {
    content: '\e874';
    font-family: 'BTVodoma';
    position: absolute;
    right: 5px;
    top: 0;
    font-size: 10px;
  }
}
input, 
textarea {
  background: $color_general_blur;
  border: 1px solid $color_general_blur;
}
/* For product option is dropdown style */
.select--option {
  line-height: 25px;
  min-width: 82px;
  height: 28px;
  &:after {
    top: 1px;
    right: 10px;
  }
}
select {
  height: 28px;
  background: none;
  padding: 0 30px 0 10px;
}
.field--select {
  label {
    display: inline-block;
    margin-bottom: 3px;
    font-size: $fs_input_label_focus;
    @include opacity(0.7,70);
  }
}
.field--float-label {
  label {
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    font-size: $fs_input_label;
    z-index: 1;
    float: left;
  }
  &.active {
    label {
      @include transform(translateY(0));
      font-size: $fs_input_label_focus;
      @include opacity(0.7,70);
    }
  }
  &.focus {
    input {
      border-color: $border_input_focus;
    }
  }
}

.field--text-area {
  label {
    display: inline-block;
  }
}

@mixin stick-item-active() {
  img {
    border-color: $swatch_border_color;
  }
  &:before {
    background: $swatch_border_color;
    z-index: 1;
  }
  &:after {
    z-index: 2;
    border-bottom-color: $bkg_body;
    border-left-color: $bkg_body;
  }
}
.stick-item {
  position: relative;
  &:after,
  &:before {
    content: "";
    position: absolute;
  }
  &:before {
    width: 10px;
    height: 10px;
    bottom: 0;
    right: 0;
    border-top-left-radius: 7px;
  }
  &:after {
    width: 6px;
    height: 3px;
    bottom: 4px;
    top: auto;
    left: auto;
    right: 1px;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  img {
    border: 1px solid $color_general_blur;
  }
  &.selected {
    @include stick-item-active();
  }
  &:hover {
    img {
      border-color: $color_hover;
    }
  }
}

.stick-item {
  img {
    height: 100%;
  }
  &.selected {
    @include stick-item-active();
  }
}
/* Sticky menu */
.use-sticky {
  &.active {
    position: fixed!important;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 5;
    @include box-shadow(0 0 25px rgba(0,0,0,0.15));
    -webkit-animation: fadeInDown 0.5s ease-out;
    animation: fadeInDown 0.5s ease-out;
    .hide-in-sticky {
      display: none;
    }
    .show-in-sticky {
      display: block;
    }
    @media(min-width: $min_tablet_large_width) {
      &.use-sticky--desktop-collapse {
        .nav__item {
          padding-top: 18px;
          padding-bottom: 18px;
        }
      }
    }
  }
}

/*-------------- Home page -------------------*/
/*Collection list block*/
.collection-grid-item {
  padding-bottom: 100%;
}
.collection-grid-item__link {
  border: 2px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  @include transform(scale(1,1));
  &:hover {
    .collection-grid-item__overlay {
      @include transform(scale(1.1,1.1));
    }
  }
}
@media(min-width: $desktop_width) {
  .collection-grid-item__btn {
    width: 80px;
    height: 80px;
    bottom: -30px;
    border-radius: 50%;
    font-size: 22px;
    box-shadow: 3px 4px 5px 0px {{ settings.color_general | color_modify: 'alpha', 0.11 }};
    opacity: 0;
    &:after {
      content: "";
      position: absolute;
      border: 3px dashed;
      border-radius: 50%;
      top: 5px;
      bottom: 5px;
      left: 5px;
      right: 5px;
    }
  }
  .collection-grid-item {
    &:hover {
      .collection-grid-item__btn {
        @include opacity(1,100);
        visibility: visible;
      }
    }
  }
}
.collection-grid-item__title-wrapper {
  position: absolute;
  bottom: 0;
  padding: 10%;
}
.lazy-bkg {
  background-repeat: no-repeat;
  background-position: center top;
}
.lazy-bkg--contain {
  background-size: contain;
}
.lazy-bkg--cover {
  background-size: cover;
}
/*Section title*/
.section__title__text {
  font-family: $fm_second;
}
/*Text list section*/
.text-list-section {
  font-weight: $fw_normal;
}
@media(max-width: $mobile_width) {
  .text-list--border-left {
    border-left: 1px solid;
  }
}
@media(min-width: $min_tablet_small_width) {
  .text-list--border-right {
    border-right: 1px solid;
  }
}
$color-blankstate: rgba($color_general, 0.35);
$color-blankstate-border: rgba($color_general, 0.2);
$color-blankstate-background: rgba($color_general, 0.1);

.placeholder-svg {
  display: block;
  fill: $color-blankstate;
  background-color: $color-blankstate-background;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  border: 1px solid $color-blankstate-border;
}

// Mimic a background image by wrapping the placeholder svg with this class
.placeholder-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .icon {
    border: 0;
  }
}

/* Logo list section */
.grid--very-small {
  .grid__item {
    width: 14.28%;
  }
}
@media(max-width: $mobile_width) {
  .grid--very-small {
    .grid__item {
      width: 33.33%;
    }
  } 
}

.search-header__submit {
  i {
    margin: 0 auto;
  }
}
.search-suggest__total {
  color: $color_general;
}
/*-------------- End Home page -------------------*/

/* Slider */
.use-slider {
  .grid__item {
    margin-bottom: 0;
  }
}
.bottom-fixed {
  position: fixed;
  bottom: 39px;
  z-index: 2;
  width: 45px;
  background: $bkg_body;
  font-size: 30px;
  @include box-shadow(0 0 3px $value_shadow);
  .cart-number {
    color: $bkg_body;
  }
}
.back-top__button {
  height: 45px;
  line-height: 45px;
  i {
    @include opacity(0.7,70);
    font-size: 17px;
    vertical-align: middle;
  }
}
/* Back to top button */

/* Ignore color of the a tags to use the css inline */
.use-color-inline {
  a {
    color: inherit;
  }
}

@media(max-width: $mobile_width) {
  .has-ele-fixed {
    padding-bottom: 30px;
    .ele-fixed-distance {
      bottom: 43px!important;
    }
  }
}

/* Rich Banner section */
.slick--arrow-bottom {
  .slick-arrow {
    border-radius: 0;
    top: auto;
    bottom: 0;
    margin-top: 0;
    margin-right: 0;
    background: $bkg_body;
    border: none;
    left: auto;
  }
  .slick-next {
    right: 0;
  }
  .slick-prev {
    right:30px;
    margin-left: 0;
    margin-right: 5px;
  }
}

/*Input field*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  marign: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
/* Search suggestion */
.search-suggest {
  z-index: 1;
  max-height: 70vh;
  overflow-y: auto;
  width: 100%;
  position: absolute;
  padding: 15px;
  background: $bkg_body;
  @include box-shadow(0 0 25px {{ settings.body_bkg_color | default: '#fff' | color_modify: 'alpha', 0.15 }});
}
.search-suggest__thumbnail {
  width: 80px;
}
.search-suggest__info {
  padding-left: 10px;
  max-width: calc(100% - 80px);
  margin-top: -4px;
}
.search-suggest--abs {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  padding: 0 $padding-grid-item;
  top: auto;
  background: $bkg_nav_item_dropdown;;
}
.tooltip-inner {
  background-color: $color_general;
  color: $bkg_body;
}
.tooltip.top .tooltip-arrow {
  border-top-color: $color_general;
}
/*Custom*/
.no-distance-top {
  padding-top: 0 !important;
}

/*Quote block*/
.quote-icon {
  position: absolute;
  top: -12px;
  left: 50px;
  font-size: 110px;
  color: #fff;
}
/* Cookie consent */
.cookie_consent__content {
  a {
    color: {{ settings.cookie_consent_color }};
    text-decoration: underline;
  }
}
/*Product columns section*/
.pcol__title--padding {
  @media(max-width: $max_tablet_small_width) {
    padding-top: 60px;
  }
}
.pcol__items {
  &.slick-rows {
    .slick-slide {
      >div {
        padding-top: 15px;
        &:first-child {
          padding-top: 0;
        }
      }
    }
  }
}
.pcol__title__h3 {
  font-size: 20px;
}
/*Effect hover banner*/
@-webkit-keyframes shine{100%{left:125%;}}
@keyframes shine{100%{left:125%;}}
.rb__countdown-wrap {
  margin: 0 -5px;
  padding:10px 5px;
  border-radius:3px;
}
.rb__countdown {
  padding: 0 5px;
}
.rb__countdown__text {
  font-size: 0.7em;
}
@media(min-width: $min_tablet_small_width) {
  .rb__countdown-wrap {
    margin: 0 -15px;
  }
  .rb__countdown {
    padding: 0 15px;
  }
  .rb__countdown__text {
    font-size: 0.5em;
  }
}
.rb__effect {
  overflow: hidden;
  position: relative;
}
.rb__effect--zoom {
  img {
    @include transition($transition);
  }
  &:hover {
    img {
      @include transform(scale(1.1,1.1));
    }
  }
}
.rb__effect--slide {
  &:before {
    position: absolute;
    top: 0;
    left: -70%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.6) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.6) 100%);
    @include transform(skewX(-25deg));
    @include opacity(0,0);
  }
  &:hover {
    &:before {
      -webkit-animation: shine .95s;
      animation: shine .95s;
      @include opacity(1,100);
    }
  }
}
.rb__effect--border {
  &:after {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    z-index: 2;
    display: block;
    content: '';
    border: 1px solid $color_hover;
    @include opacity(0,0);
    @include transition($transition);
    @include transform(scale(0,0));
  }
  &:hover {
    &:after {
      @include opacity(1,100);
      @include transform(scale(1,1));
    }
  }
}
.rb__effect--blur {
  &:hover {
    img {
      @include filter(blur(5px));
    }
  }
}
.rb__effect--brightness {
  &:hover {
    img {
       @include filter(brightness(200%));
    }
  }
}
.rb__effect--contrast {
  &:hover {
    img {
      @include filter(contrast(200%));
    }
  }
}
.rb__effect--drop-shadow {
  &:hover {
    img {
      @include filter(drop-shadow(8px 8px 10px gray));
    }
  }
}
.rb__effect--grayscale {
  &:hover {
    img {
      @include filter(grayscale(100%));
    }
  }
}
.rb__effect--hue-rotate {
  &:hover {
    img {
      @include filter(hue-rotate(90deg));
    }
  }
}
.rb__effect--invert {
  &:hover {
    img {
      @include filter(invert(100%));
    }
  }
}
.rb__effect--opacity {
  &:hover {
    img {
      @include filter(opacity(30%));
    }
  }
}
.rb__effect--saturate {
  &:hover {
    img {
      @include filter(saturate(8));
    }
  }
}
.rb__effect--sepia {
  &:hover {
    img {
      @include filter(sepia(100%));
    }
  }
}
.rb__effect--contrast-brightness {
  &:hover {
    img {
      @include filter(contrast(200%) brightness(150%));
    }
  }
}
/*Breadcrumbs*/
.breadcrumbs {
  li {
    vertical-align: unset;
  }
  >div {
    @media(max-width: $max_tablet_small_width) {
      border-top: none !important;
    }
  }
}
.breadcrumbs__name {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  @media(min-width: $min_tablet_large_width) {
    font-size: 50px;
  }
}
.breadcrumbs__list {
  line-height: 10px;
  li {
    a {
      text-transform: uppercase;
      font-size: 10px;
      color: $color_general_light;
      &:hover {
        color: $color_general;
      }
    }
    &:last-child {
      a {
        color: $color_general;
        cursor: text;
      }
    }
  }
}
.breadcrumbs__slash {
  font-size: 10px;
  padding: 0 5px;
}
/*Cross sell block*/
.cross-sell-list {
  z-index: 1;
}
.contact__form-page {
  width: 100%;
  @media(min-width: $min_tablet_large_width) {
    width: calc(100% - 50px);
  }
}
.support__area__name {
  font-size: 16px;
  line-height: 16px;
}
.support__area__email {
  color: $color_hover;
}
.support-area-mobile {
  padding: 15px;
}
.expand-trigger:focus {
  color: $color_link;
}
.expand-trigger:not(.open) {
  i:not(.ignore) {
    &:before {
      content: "\e917";
    }
  }
}
.checkbox-one-line__label {
  font-size: 0.75rem;
  line-height: 1.3rem;
  padding-left: 2em;
  cursor: pointer;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid;
    top: 0;
    font-family: BTVodoma;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.checkbox-one-line__input:checked + .checkbox-one-line__label:before {
  content: "\e900";
}
.free-shipping-icon {
  font-size: 20px;
  vertical-align: top;
}
.free-shipping-text {
  margin-left: 5px;
  display: inline-block;
  vertical-align: text-bottom;
  font-size: 12px;
  width: calc(100% - 25px);
}
.lp__language-item {
  white-space: nowrap;
  padding: 3px 0;
}
.button--cart {
  &:hover,&:focus {
    color: {{ settings.color_btn_cart_hover }};
    background: {{ settings.bkg_btn_cart_hover }};
  }
}
@media(min-width: $desktop_width) {
  .button--cart {
    i {
      -webkit-transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
      -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
      transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    }
    span {
      @include transition($transition);
    }
    &:hover,&:focus {
      i {
        @include opacity(1,100);
        visibility: visible;
      }
      i {
        @include transform(translate3d(7px, 0, 0));
      } 
      span {
        @include transform(translate3d(10px, 0, 0));
      }
    }
  }
}
.alert ul {
  margin:0;
}
// Call animation for the active one
//
// `.progress.active .progress-bar` is deprecated as of v3.2.0 in favor of the
// `.progress-bar.active` approach.
.progress.active .progress-bar,
.progress-bar.active {
  @include animation(progress-bar-stripes 2s linear infinite);
}
.progress-bar {
  height: 100%;
  line-height: 20px;
  text-align: center;
  @include box-shadow(inset 0 -1px 0 rgba(0,0,0,.15));
}
.progress-bar-striped, 
.progress-striped .progress-bar {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}
.cart__free-progress {
  background-color: {{ settings.cart_free_bkg | default: '#b9b9b9' }};
}
.cart__free-progress-bar {
  background-color: {{ settings.cart_free_bar_color | default: '#25a71d' }};
  color: {{ settings.cart_free_text_color | default: '#fff' }};
}
.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 2px;
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color_general;
    -webkit-box-shadow: 0 0 1px $color_general;
    box-shadow: 0 0 1px $color_general;
  }
  &::-webkit-scrollbar-track {
    background-color: {{ settings.color_general | color_modify: 'alpha', 0.1 }};
    width: 2px;
  }
}
.fs-inherit {
  font-size: inherit;
}
.highlight {
  padding: 1px 3px;
  background: {{ settings.color_general | color_modify: 'alpha', 0.07 }};
}