/* CSS for lens */
.cloudzoom-lens {
    border:5px solid #888;
    width:100px;
    height:100px;
    box-shadow: -0px -0px 10px rgba(0,0,0,0.40);
    cursor:crosshair;
    z-index: 9999;
}
/* CSS for zoom window. */
.cloudzoom-zoom {
    border:1px solid #888;
    /*width:600px;
    height:200px;*/
    box-shadow: -0px -0px 10px rgba(0,0,0,0.40);
	z-index: 9999;
}
/* CSS for zoom window in 'inside' mode. */
.cloudzoom-zoom-inside {
    border:none;
    box-shadow:none;
	z-index: 0;
    cursor: pointer;
}
.modal-open {
    .cloudzoom-zoom-inside {
        z-index: 9999;
    }
}

/* CSS for captions */
.cloudzoom-caption {
    display:none;   /* CSS captions should be hidden initially */
    text-align: left;
    background-color:#000;
    color:#fff;
    font-weight:bold;
    padding:10px;
    font-family: sans-serif;
    font-size:11px;
   
}

/* A blank image */
.cloudzoom-blank {
    background-image:url({{ 'blank.png' | asset_url }});
}

/* The animated ajax loading image */
.cloudzoom-ajax-loader {
    background-image:url({{ 'ajax-loader.gif' | asset_url }});
    width:32px;
    height:32px;
}


/*--------------------Variables----------------------*/
/*General*/
$bkg_body: {{ settings.body_bkg_color | default: '#fff' }}; /*body background*/
$color_general: {{ settings.color_general | default: '#222' }}; /*general color*/
$color_hover: {{ settings.color_general_hover | default: '#d9121f' }};
$fm_second: {{ settings.font_second | remove: ';' }};/*font family general*/
$fs_general: {{ settings.fs_general }}px;/*font size general*/
$fm_general: {{ settings.font_general | remove: ';' }};
$color_general_light: {{ settings.color_general | color_modify: 'alpha', 0.6 }};
$color_general_blur: {{ settings.color_general | color_modify: 'alpha', 0.05 }};

/*Header*/
$fs_cart_number: 13px;
$padding_header_link: 12px;/*padding header link*/
$padding_header_link_mobile: 5px;/*padding header link on table*/
$fs_header_link_mobile: {{ settings.fs_header_link_mobile | default: 19 }}px;/*done*/
$bkg_header_mobile: {{ settings.bkg_header_mobile | default: '#fff' }};
$color_header_mobile: {{ settings.color_header_mobile | default: '#222' }};
$border_header_mobile: {{ settings.color_header_mobile | default: '#000' | color_modify: 'alpha', 0.1 }};

/*Font weight*/
$fw_super_thin: 100;
$fw_thin: 300;
$fw_normal: 400;
$fw_bold: 700;

/*Transition*/
$transition: ease-in-out all 0.3s;

/*Border radius*/
$b_r: 5px;/*border radius*/

/*Section title*/
$fs_st: {{ settings.fs_st }}px;/*font size section title*/
$fs_st_mobile: {{ settings.fs_st_mobile }}px;/*font size section title mobile*/
$color_st: {{ settings.color_st | default: '#000' }};/*color section title*/

/*Sections Sub Title*/
$fs_sst: {{ settings.fs_sst }}px;/*font size section title*/
$fs_sst_mobile: {{ settings.fs_sst_mobile }}px;/*font size section title mobile*/
$color_sst: {{ settings.color_sst | default: '#ccc' }};/*color section title*//*done*/

/*Item*/
$fs_item: {{ settings.fs_item }}px;/*font size item*/
$color_item: {{ settings.color_item | default: '#000' }};
$fs_price: {{ settings.fs_price }}px;
$fs_compare_price: {{ settings.fs_compare_price }}px;
$color_price: {{ settings.color_price | default: '#d9121f' }};
$color_compare_price: {{ settings.color_compare_price | default: '#000' }};
$gutter-item-buttons: 20px;
$swatch_size: {{ settings.swatch_size }}px;
$swatch_border_color: {{ settings.swatch_border_color | default: '#ccc' }};
$swatch_select_width: 97px;

/*Buttons*/
/*button style 1*/
$color_btn_s1: {{ settings.color_btn_s1 | default: '#222' }};
$border_btn_s1: {{ settings.border_btn_s1 | default: '#ccc' }};
$bkg_btn_s1: {{ settings.bkg_btn_s1 | default: '#fff' }};
$color_btn_s1_hover: {{ settings.color_btn_s1_hover | default: '#fff' }};
$border_btn_s1_hover: {{ settings.border_btn_s1_hover | default: '#d9121f' }};
$bkg_btn_s1_hover: {{ settings.bkg_btn_s1_hover | default: '#d9121f' }};
$w_h_btn_s1_circle: 30px;/*width height button style 1 circle*/
/* button style 2 */
$color_btn_s2: {{ settings.color_btn_s2 | default: '#fff' }};
$border_btn_s2: {{ settings.border_btn_s2 | default: '#d9121f' }};
$bkg_btn_s2: {{ settings.bkg_btn_s2 | default: '#d9121f' }};
$color_btn_s2_hover: {{ settings.color_btn_s2_hover | default: '#fff' }};
$border_btn_s2_hover: {{ settings.border_btn_s2_hover | default: '#222' }};
$bkg_btn_s2_hover: {{ settings.bkg_btn_s2_hover | default: '#222' }};
/*button style 3*/
$color_btn_s3: {{ settings.color_btn_s3 | default: '#fff' }};
$border_btn_s3: {{ settings.border_btn_s3 | default: '#222' }};
$bkg_btn_s3: {{ settings.bkg_btn_s3 | default: '#222' }};
$color_btn_s3_hover: {{ settings.color_btn_s3_hover | default: '#222' }};
$border_btn_s3_hover: {{ settings.border_btn_s3_hover | default: '#222' }};
$bkg_btn_s3_hover: {{ settings.bkg_btn_s3_hover | default: '#fff' }};
/* cart button on product page */
$fs_btn_cart: 12px;
$fs_btn_cart_mobile: 12px;
$height_button: 45px;
$border_btn_cart: {{ settings.border_btn_cart | default: '#169214' }};/*button cart style*/
$bkg_btn_cart: {{ settings.bkg_btn_cart | default: '#169214' }};

/*Tab title*/
$fs_tt: {{ settings.fs_tt }}px;/*font size tab title*/
$fs_tt_mobile: {{ settings.fs_tt_mobile }}px;/*font size tab title mobile*/
$color_tt: {{ settings.color_tt | default: '#999' }};/*color tab title*/
$color_tt_hover: {{ settings.color_tt_hover | default: '#fff' }};/*color tab title hover*/
$tab_color_single: {{ settings.tab_item_color_single }};
$tab_item_active_color_single: {{ settings.tab_item_active_color_single }};
$tab_border_item_single: {{ settings.color_general | color_modify: 'alpha', 0.1 }};

/*Navigation*/
$bkg_nav_item_dropdown: {{ settings.bkg_nav_item_dropdown | default: '#fff' }};/*background dropdown nav item*/
$padding_link_list: 17px;/*padding left and right for link list*/
$padding_item_dropdown: 10px; /*padding item dropdown*/
$padding_link-list-dropdown: 30px; /*padding link list dropdown*/
$color_link: {{ settings.color_link | default: '#000' }}; /*color link*/
$bkg_nav_item_hover: transparent;/*background nav item hover*/
$color_nav_item_hover: {{ settings.color_nav_item_hover | default: '#d9121f' }};/*color nav item hover*/
$fs_dropdown_title: {{ settings.fs_dropdown_title }}px;/*font size dropdown title*//*done*/
$fs_dropdown_content: {{ settings.fs_dropdown_content }}px;/*font size dropdown content*//*done*/
$left_item_label_dropdown: 50px;/*left position item label dropdown*/
$top_item_label_dropdown: -7px;/*top position item label dropdown*/
$fs_item_label: 10px;/*font size item label*//*done*/
$fs_nav_item: {{ settings.fs_dropdown_nav_top }}px;/*font size nav item*//*done*/
$top_nav_item_label: -15px;/*top position of nav item label*/
$right_nav_item_label: 0;/*right position of nav item label*/
$dropdown_triangle: 15px;
/*Header cart*/

/* Sidebar Canvas */
$width_sidebar_canvas: 350px;
$bkg_sidebar_canvas: {{ settings.bkg_sidebar_canvas | default: '#fff' }};
$padding_sidebar_canvas: 25px;

/*Box shadow*/
$value_shadow: {{ settings.color_general | color_modify: 'alpha', 0.15 }};

/*Slick slider*/
$fs_icon_slick: 17px;

$gutter-top: 20px;/*gutter top*/
$gutter-bottom: 20px;/*gutter bottom*/
$gutter-element: 10px;/*gutter - for element*/
$padding-grid-item: 15px;/*padding grid item*/
$padding-grid-item-mobile: 10px;/*padding grid item*/


/*Product page*/
$bkg_product_single: {{ settings.bkg_product_single | default: '#d6f3ee' }};
$fs_product_price_sale_single: {{ settings.fs_product_price_sale_single }}px;
$fs_product_price_sale_single_mobile: {{ settings.fs_product_price_sale_single_mobile }}px;
$wh_option_single: 30px;
$wh_qty: 30px;
$wh_qty_single: 45px;
$color_border_qty: {{ settings.color_border_qty | default: '#ccc' }};

/*Footer*/
$bkg_footer: {{ settings.bkg_footer | default: '#ccc' }};/*background footer*/
$fs_footer_column_title: {{ settings.fs_footer_column_title }}px;/*font size footer column title*/
$color_footer_column_title: {{ settings.color_footer_column_title | default: '#222' }};/*color footer column title*/
$fs_footer_column_content: {{ settings.fs_footer_column_content }}px;/*font size footer column content*/
$color_footer_column_content: {{ settings.color_footer_column_content | default: '#8a8282' }};/*color footer column content*/
$color_footer_column_content_hover: {{ settings.color_footer_column_content_hover | default: '#222' }}; /*color footer link hover*/
$footer_padding: 25px; /*padding top/bottom footer*/
$height_newsletter: 30px;/*height newsletter*/
$br_newsletter: 0;/*border radius newsletter*/
$bkg_newsletter: transparent;/*background input newsletter*/
$fs_social_icon: 21px;/*font size social icons*/

/*Input field*/
$border_input: {{ settings.border_input | default: '#a7a1a1' }};/*border color input*/
$border_input_focus: {{ settings.border_input_focus | default: '#4285f4' }};/*border color input focus*/
$fs_input_label: 15px;
$fs_input_label_focus: 12px;
$height_input_field: 40px;

/*Compare popup*/
$fs_popup_badge: 25px;
$color_popup_badge: #2cb752;

/*Pop up cart*/
$fs_price_cart_response: 16px;

/*Sticky cart*/
$w_h_swatch_sc: 30px;
$sticky_action: 43px;

/*Search input*/
$height_search: 35px;
$border_search: #ccc;

/*Blog page*/
$fs_article_title: 18px;
$fs_article_title_big: 25px;
$fs_sidebar_title: 20px;
$fs_date_author: 12px;
$color_date_author: {{ settings.blog_color_date_author | default: '#999' }};
$color_article_title: {{ settings.blog_color_article_title | default: '#2a302d' }};
$fs_article_tag: 13px;

/*Collection page*/
$fs_cf_item_title: 20px;
$wh_swatch: 30px;

/*Rating*/
$color_stars: #ca9c3a;

/*Cart page*/
$color_border_table: #e9e9e9;
$wh_input_cart: 37px;
$fs_icon_cart: 17px;

/* Responsive screen */
$mobile_width: 767px;
$min_tablet_small_width: 768px;
$max_tablet_small_width: 991px;
$min_tablet_large_width: 992px;
$max_tablet_large_width: 1199px;
$desktop_width: 1200px;

/*Mixins*/
@mixin prefix($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    @if $prefix == webkit {
      -webkit-#{$property}: $value;
    } 
    @else if $prefix == moz {
      -moz-#{$property}: $value;
    } 
    @else if $prefix == ms {
      -ms-#{$property}: $value;
    } 
    @else if $prefix == o {
      -o-#{$property}: $value;
    } 
    @else if $prefix == spec {
      #{$property}: $value;
    } 
    @else  {
      @warn 'Unrecognized prefix: #{$prefix}';
    }
  }
}
@mixin opacity($v1, $v2) {
  opacity: $v1;
  filter: alpha(opacity=$v2);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=$v2)";
}
@mixin transition($transition) {
  transition: $transition;
}
@mixin display-flex() {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: row wrap;
}
@mixin border-radius($border-radius) {
  border-radius: $border-radius; 
}
/*justify-content: center|left|right*/
@mixin justify-content($var) {
  justify-content: $var;
}

/*align-items: stretch|center|flex-start|flex-end|baseline|initial|inherit;*/
@mixin align-items($value: stretch) {
  $alt-value: $value;

  @if $value == 'flex-start' {
    $alt-value: start;
  } @else if $value == 'flex-end' {
    $alt-value: end;
  }

  /* sass-lint:disable no-misspelled-properties*/
  -ms-flex-align: $alt-value;
  @include prefix(align-items, $value, webkit moz ms o spec);
}
@mixin box-shadow($box-shadow){  
  box-shadow: $box-shadow; 
}
@mixin filter($filter) {
  @include prefix(filter, $filter, webkit);
}
@mixin transform($transform) {
  transform: $transform;
}
@mixin flex-direction($value) {
  flex-direction: $value;
}
@mixin backface_visibility($value) {
  @include prefix(backface_visibility, $value, ms webkit);
}
@mixin animation($value) {
  @include prefix(animation, $value, ms webkit spec moz);
}
@mixin loading-ajax($width, $height) {
  content: '';
  font-size: $width;
  display: inline-block;
  width: $width;
  height: $height;
  border-radius: 50%;
  border: 2px solid;
  border-right-color: transparent;
}
@mixin loading-icon($width, $height) {
  content: '';
  font-size: 20px;
  display: block;
  width: $width;
  height: $height;
  border-radius: 50%;
  border: 2px solid #fff;
  border-right-color: transparent;
  -webkit-animation: spin 2s ease-out infinite;
  animation: spin 2s ease-out infinite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
@mixin loading-bkg($value) {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: $value;
  z-index: 2;
}
@mixin stick-item-active() {
  img {
    border-color: $swatch_border_color;
  }
  &:before {
    background: $swatch_border_color;
    z-index: 1;
  }
  &:after {
    z-index: 2;
    border-bottom-color: $bkg_body;
    border-left-color: $bkg_body;
  }
}

/*-------------- Home page -------------------*/
@mixin flex-basis($width: auto) {
  // sass-lint:disable no-misspelled-properties
  -ms-flex-preferred-size: $width;
  @include prefix(flex-basis, $width, webkit moz spec);
}

@mixin flex-wrap($value: nowrap) {
  flex-wrap: $value;
}

@mixin flex-direction($value) {
  flex-direction: $value;
}

@mixin align-content($align: center) {
  @include prefix(align-content, $align, webkit ms spec);
}
/*-------------- End Home page -------------------*/

.product-price--single {
  .product-price__price {
    font-size: $fs_product_price_sale_single;
    @media(max-width: $mobile_width) {
      font-size: $fs_product_price_sale_single_mobile;
    }
  }
  span.product-price__price {
    color: $color_general;
  }
}
.product-price__varying {
  padding: 0 10px;
  font-size: 40px;
}
@media(max-width: $max_tablet_small_width) {
  .product-review-masonry {
    margin-top: 0!important;
  }
}
.product-single {
  .pg__review-stars {
    font-size: 13px;
  }
  @media(max-width: $mobile_width) {
    hr {
      margin-left: -$padding-grid-item !important;
      margin-right: -$padding-grid-item !important;
    }
  }
}
.product-single__sub-info {
  font-size: 13px;
  font-weight: $fw_normal;
  line-height: 23px;
}
.blur-color {
  color: $color_general_light;
}

.button--single-cart {
  font-size: $fs_btn_cart;
  text-transform: uppercase; 
  i {
    width: 18px;
    height: 18px;
    line-height: 18px;
  }
}

.product-single__title {
  color: {{ settings.product_single_color }};
  font-size: {{ settings.product_single_fs_mb }}px;
  font-weight: $fw_bold;
  line-height: 1.3em;
  font-family: $fm_second;
  @media(min-width: $min_tablet_small_width) {
    font-size: {{ settings.product_single_fs_dk }}px;
  }
}
.button--media-single {
  position: absolute;
  right: 15px;
  bottom: 15px;
  z-index: 1;
  font-size: 16px;
}

.button--single-cart-full {
  width: calc(100% - 65px);
}

.sizechart-trigger {
  color: #999;
}

#quickViewPopup {
  .button--media{
    display: none;
  }
  .pg__mains {
    .slick-arrow {
      display: none !important;
    }
  }
}

/* Remove download link in Photoswipe */
.pswp__share--download {
  display: none;
}

.pg__thumbs--single {
  img {
    @include transition(none);
  }
}
.pg__thumb {
  &.active {
    .stick-item {
      @include stick-item-active();
    }
  }
}
@media(min-width: $min_tablet_large_width) {
  .slick-arrow--single-thumbs-vertical {
    margin-left: auto;
    margin-right: auto;
    &.slick-prev {
      margin-top: -17px!important;
    }
    &.slick-next {
      margin-top: 0!important;
    }
  } 
}
.video-box {
  position: relative;
  height: 0;
  overflow: hidden;
  width: auto;
  iframe {
    position:absolute;
    top:0;
    left:1px;
    width:100%;
    height: 100%;
  }
}
.youtube-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.video-box--youtube {
  padding-bottom:62.49%;
}

.video-box--vimeo {
  padding-bottom: 43%;
}
.pg__image-blur {
  @include opacity(0.3!important, 30!important);
}
.pg__sold-text, .pg__sales-number {
  padding: 0 3px;
}
@media(max-width: $max_tablet_small_width) {
  .button--cp-single,.button--wl-single {
    width: 100%;
  }
}
@media(min-width: $min_tablet_large_width) {
  .button--wl-single-distance {
    margin-left: 15px;
  }
}
.pg__countdown-wrap {
  margin: 0 -10px;
}
.pg__countdown__single-ele {
  padding: 0 10px;
}
.pg__countdown--single {
  color: $color_hover;
}
.product-single__description--quickview {
  max-height: 350px;
  overflow-y: auto;
}
/*--------------------Variables----------------------*/
/*General*/
$bkg_body: {{ settings.body_bkg_color | default: '#fff' }}; /*body background*/
$color_general: {{ settings.color_general | default: '#222' }}; /*general color*/
$color_hover: {{ settings.color_general_hover | default: '#d9121f' }};
$fm_second: {{ settings.font_second | remove: ';' }};/*font family general*/
$fs_general: {{ settings.fs_general }}px;/*font size general*/
$fm_general: {{ settings.font_general | remove: ';' }};
$color_general_light: {{ settings.color_general | color_modify: 'alpha', 0.6 }};
$color_general_blur: {{ settings.color_general | color_modify: 'alpha', 0.05 }};

/*Header*/
$fs_cart_number: 13px;
$padding_header_link: 12px;/*padding header link*/
$padding_header_link_mobile: 5px;/*padding header link on table*/
$fs_header_link_mobile: {{ settings.fs_header_link_mobile | default: 19 }}px;/*done*/
$bkg_header_mobile: {{ settings.bkg_header_mobile | default: '#fff' }};
$color_header_mobile: {{ settings.color_header_mobile | default: '#222' }};
$border_header_mobile: {{ settings.color_header_mobile | default: '#000' | color_modify: 'alpha', 0.1 }};

/*Font weight*/
$fw_super_thin: 100;
$fw_thin: 300;
$fw_normal: 400;
$fw_bold: 700;

/*Transition*/
$transition: ease-in-out all 0.3s;

/*Border radius*/
$b_r: 5px;/*border radius*/

/*Section title*/
$fs_st: {{ settings.fs_st }}px;/*font size section title*/
$fs_st_mobile: {{ settings.fs_st_mobile }}px;/*font size section title mobile*/
$color_st: {{ settings.color_st | default: '#000' }};/*color section title*/

/*Sections Sub Title*/
$fs_sst: {{ settings.fs_sst }}px;/*font size section title*/
$fs_sst_mobile: {{ settings.fs_sst_mobile }}px;/*font size section title mobile*/
$color_sst: {{ settings.color_sst | default: '#ccc' }};/*color section title*//*done*/

/*Item*/
$fs_item: {{ settings.fs_item }}px;/*font size item*/
$color_item: {{ settings.color_item | default: '#000' }};
$fs_price: {{ settings.fs_price }}px;
$fs_compare_price: {{ settings.fs_compare_price }}px;
$color_price: {{ settings.color_price | default: '#d9121f' }};
$color_compare_price: {{ settings.color_compare_price | default: '#000' }};
$gutter-item-buttons: 20px;
$swatch_size: {{ settings.swatch_size }}px;
$swatch_border_color: {{ settings.swatch_border_color | default: '#ccc' }};
$swatch_select_width: 97px;

/*Buttons*/
/*button style 1*/
$color_btn_s1: {{ settings.color_btn_s1 | default: '#222' }};
$border_btn_s1: {{ settings.border_btn_s1 | default: '#ccc' }};
$bkg_btn_s1: {{ settings.bkg_btn_s1 | default: '#fff' }};
$color_btn_s1_hover: {{ settings.color_btn_s1_hover | default: '#fff' }};
$border_btn_s1_hover: {{ settings.border_btn_s1_hover | default: '#d9121f' }};
$bkg_btn_s1_hover: {{ settings.bkg_btn_s1_hover | default: '#d9121f' }};
$w_h_btn_s1_circle: 30px;/*width height button style 1 circle*/
/* button style 2 */
$color_btn_s2: {{ settings.color_btn_s2 | default: '#fff' }};
$border_btn_s2: {{ settings.border_btn_s2 | default: '#d9121f' }};
$bkg_btn_s2: {{ settings.bkg_btn_s2 | default: '#d9121f' }};
$color_btn_s2_hover: {{ settings.color_btn_s2_hover | default: '#fff' }};
$border_btn_s2_hover: {{ settings.border_btn_s2_hover | default: '#222' }};
$bkg_btn_s2_hover: {{ settings.bkg_btn_s2_hover | default: '#222' }};
/*button style 3*/
$color_btn_s3: {{ settings.color_btn_s3 | default: '#fff' }};
$border_btn_s3: {{ settings.border_btn_s3 | default: '#222' }};
$bkg_btn_s3: {{ settings.bkg_btn_s3 | default: '#222' }};
$color_btn_s3_hover: {{ settings.color_btn_s3_hover | default: '#222' }};
$border_btn_s3_hover: {{ settings.border_btn_s3_hover | default: '#222' }};
$bkg_btn_s3_hover: {{ settings.bkg_btn_s3_hover | default: '#fff' }};
/* cart button on product page */
$fs_btn_cart: 12px;
$fs_btn_cart_mobile: 12px;
$height_button: 45px;
$border_btn_cart: {{ settings.border_btn_cart | default: '#169214' }};/*button cart style*/
$bkg_btn_cart: {{ settings.bkg_btn_cart | default: '#169214' }};

/*Tab title*/
$fs_tt: {{ settings.fs_tt }}px;/*font size tab title*/
$fs_tt_mobile: {{ settings.fs_tt_mobile }}px;/*font size tab title mobile*/
$color_tt: {{ settings.color_tt | default: '#999' }};/*color tab title*/
$color_tt_hover: {{ settings.color_tt_hover | default: '#fff' }};/*color tab title hover*/
$tab_color_single: {{ settings.tab_item_color_single }};
$tab_item_active_color_single: {{ settings.tab_item_active_color_single }};
$tab_border_item_single: {{ settings.color_general | color_modify: 'alpha', 0.1 }};

/*Navigation*/
$bkg_nav_item_dropdown: {{ settings.bkg_nav_item_dropdown | default: '#fff' }};/*background dropdown nav item*/
$padding_link_list: 17px;/*padding left and right for link list*/
$padding_item_dropdown: 10px; /*padding item dropdown*/
$padding_link-list-dropdown: 30px; /*padding link list dropdown*/
$color_link: {{ settings.color_link | default: '#000' }}; /*color link*/
$bkg_nav_item_hover: transparent;/*background nav item hover*/
$color_nav_item_hover: {{ settings.color_nav_item_hover | default: '#d9121f' }};/*color nav item hover*/
$fs_dropdown_title: {{ settings.fs_dropdown_title }}px;/*font size dropdown title*//*done*/
$fs_dropdown_content: {{ settings.fs_dropdown_content }}px;/*font size dropdown content*//*done*/
$left_item_label_dropdown: 50px;/*left position item label dropdown*/
$top_item_label_dropdown: -7px;/*top position item label dropdown*/
$fs_item_label: 10px;/*font size item label*//*done*/
$fs_nav_item: {{ settings.fs_dropdown_nav_top }}px;/*font size nav item*//*done*/
$top_nav_item_label: -15px;/*top position of nav item label*/
$right_nav_item_label: 0;/*right position of nav item label*/
$dropdown_triangle: 15px;
/*Header cart*/

/* Sidebar Canvas */
$width_sidebar_canvas: 350px;
$bkg_sidebar_canvas: {{ settings.bkg_sidebar_canvas | default: '#fff' }};
$padding_sidebar_canvas: 25px;

/*Box shadow*/
$value_shadow: {{ settings.color_general | color_modify: 'alpha', 0.7 }};

/*Slick slider*/
$fs_icon_slick: 17px;

$gutter-top: 20px;/*gutter top*/
$gutter-bottom: 20px;/*gutter bottom*/
$gutter-element: 10px;/*gutter - for element*/
$padding-grid-item: 15px;/*padding grid item*/
$padding-grid-item-mobile: 10px;/*padding grid item*/


/*Product page*/
$bkg_product_single: {{ settings.bkg_product_single | default: '#d6f3ee' }};
$fs_product_price_sale_single: {{ settings.fs_product_price_sale_single }}px;
$fs_product_price_sale_single_mobile: {{ settings.fs_product_price_sale_single_mobile }}px;
$wh_option_single: 30px;
$wh_qty: 30px;
$wh_qty_single: 45px;
$color_border_qty: {{ settings.color_border_qty | default: '#ccc' }};

/*Footer*/
$bkg_footer: {{ settings.bkg_footer | default: '#ccc' }};/*background footer*/
$fs_footer_column_title: {{ settings.fs_footer_column_title }}px;/*font size footer column title*/
$color_footer_column_title: {{ settings.color_footer_column_title | default: '#222' }};/*color footer column title*/
$fs_footer_column_content: {{ settings.fs_footer_column_content }}px;/*font size footer column content*/
$color_footer_column_content: {{ settings.color_footer_column_content | default: '#8a8282' }};/*color footer column content*/
$color_footer_column_content_hover: {{ settings.color_footer_column_content_hover | default: '#222' }}; /*color footer link hover*/
$footer_padding: 25px; /*padding top/bottom footer*/
$height_newsletter: 30px;/*height newsletter*/
$br_newsletter: 0;/*border radius newsletter*/
$bkg_newsletter: transparent;/*background input newsletter*/
$fs_social_icon: 21px;/*font size social icons*/

/*Input field*/
$border_input: {{ settings.border_input | default: '#a7a1a1' }};/*border color input*/
$border_input_focus: {{ settings.border_input_focus | default: '#4285f4' }};/*border color input focus*/
$fs_input_label: 15px;
$fs_input_label_focus: 12px;
$height_input_field: 40px;

/*Compare popup*/
$fs_popup_badge: 25px;
$color_popup_badge: #2cb752;

/*Pop up cart*/
$fs_price_cart_response: 16px;

/*Sticky cart*/
$w_h_swatch_sc: 30px;
$sticky_action: 43px;

/*Search input*/
$height_search: 35px;
$border_search: #ccc;

/*Blog page*/
$fs_article_title: 18px;
$fs_article_title_big: 25px;
$fs_sidebar_title: 20px;
$fs_date_author: 12px;
$color_date_author: {{ settings.blog_color_date_author | default: '#999' }};
$color_article_title: {{ settings.blog_color_article_title | default: '#2a302d' }};
$fs_article_tag: 13px;

/*Collection page*/
$fs_cf_item_title: 20px;
$wh_swatch: 30px;

/*Rating*/
$color_stars: #ca9c3a;

/*Cart page*/
$color_border_table: #e9e9e9;
$wh_input_cart: 37px;
$fs_icon_cart: 17px;

/* Responsive screen */
$mobile_width: 767px;
$min_tablet_small_width: 768px;
$max_tablet_small_width: 991px;
$min_tablet_large_width: 992px;
$max_tablet_large_width: 1199px;
$desktop_width: 1200px;

/*Mixins*/
@mixin prefix($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    @if $prefix == webkit {
      -webkit-#{$property}: $value;
    } 
    @else if $prefix == moz {
      -moz-#{$property}: $value;
    } 
    @else if $prefix == ms {
      -ms-#{$property}: $value;
    } 
    @else if $prefix == o {
      -o-#{$property}: $value;
    } 
    @else if $prefix == spec {
      #{$property}: $value;
    } 
    @else  {
      @warn 'Unrecognized prefix: #{$prefix}';
    }
  }
}
@mixin opacity($v1, $v2) {
  opacity: $v1;
  filter: alpha(opacity=$v2);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=$v2)";
}
@mixin transition($transition) {
  @include prefix(transition, $transition, ms webkit spec);
}
@mixin display-flex() {
  display: flex;
  flex-flow: row wrap;
}
@mixin border-radius($border-radius) {
  border-radius: $border-radius; 
}
/*justify-content: center|left|right*/
@mixin justify-content($var) {
  justify-content: $var;
}

/*align-items: stretch|center|flex-start|flex-end|baseline|initial|inherit;*/
@mixin align-items($value: stretch) {
  $alt-value: $value;

  @if $value == 'flex-start' {
    $alt-value: start;
  } @else if $value == 'flex-end' {
    $alt-value: end;
  }

  /* sass-lint:disable no-misspelled-properties*/
  -ms-flex-align: $alt-value;
  @include prefix(align-items, $value, webkit moz ms o spec);
}
@mixin box-shadow($box-shadow){  
  box-shadow: $box-shadow; 
}
@mixin filter($filter) {
  @include prefix(filter, $filter, webkit);
}
@mixin transform($transform) {
  transform: $transform;
}
@mixin flex-direction($value) {
  flex-direction: $value;
}
@mixin backface_visibility($value) {
  @include prefix(backface_visibility, $value, ms webkit);
}
@mixin animation($value) {
  @include prefix(animation, $value, ms webkit spec moz);
}
@mixin loading-ajax($width, $height) {
  content: '';
  font-size: $width;
  display: inline-block;
  width: $width;
  height: $height;
  border-radius: 50%;
  border: 2px solid;
  border-right-color: transparent;
}
@mixin loading-icon($width, $height) {
  content: '';
  font-size: 20px;
  display: block;
  width: $width;
  height: $height;
  border-radius: 50%;
  border: 2px solid #fff;
  border-right-color: transparent;
  -webkit-animation: spin 2s ease-out infinite;
  animation: spin 2s ease-out infinite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
@mixin loading-bkg($value) {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: $value;
  z-index: 2;
}

/*-------------- Home page -------------------*/
@mixin flex-basis($width: auto) {
  // sass-lint:disable no-misspelled-properties
  -ms-flex-preferred-size: $width;
  @include prefix(flex-basis, $width, webkit moz spec);
}

@mixin flex-wrap($value: nowrap) {
  flex-wrap: $value;
}

@mixin flex-direction($value) {
  flex-direction: $value;
}

@mixin align-content($align: center) {
  @include prefix(align-content, $align, webkit ms spec);
}
/*-------------- End Home page -------------------*/

.product-nav__item {
  background: $bkg_body;
  @include box-shadow(0 0 1px $value_shadow);
  @include border-radius(5px);
  @include transition($transition);
  cursor: pointer;
}
.product-nav__item--previous {
  &:hover {
    @include transform(translate(0,-50%));
    .product-nav__direction {
      @include opacity(0,0);
    }
    .product-nav__image {
      @include opacity(1,100);
    }
    z-index: 3;
  }
}
.product-nav__item--next {
  &:hover {
    @include transform(translate(0,-50%));
    .product-nav__direction {
      @include opacity(0,0);
    }
    .product-nav__image {
      @include opacity(1,100);
    }
    z-index: 3;
  }
}
.product-nav__title {
  font-size: 20px;
}
.product-nav__vendor {
  font-size: 10px;
  font-weight: 400;
  color: $color_general_light;
}
.product-nav__image {
  @include opacity(0,0);
  @media(min-width: $min_tablet_small_width) and (max-width: $max_tablet_large_width) {
    a {
      pointer-events: none;
    }
  }
}
.product-nav__direction {
  @include transition($transition);
  position: absolute;
}
.product-nav__direction--previous {
  @include transform(translateX(50%));
  right: 0;
}
.product-nav__direction--next {
  @include transform(translateX(-50%));
  left: 0;
}
.product-nav__text {
  @include prefix(transform-origin, center center, ms webkit spec);
}
.product-nav__text--previous {
  @include transform(rotate(-90deg));
}
.product-nav__text--next {
  @include transform(rotate(-90deg));
}

.shopify-payment-btn-wrap {
  margin-top: 10px;
}
button.shopify-payment-button__button {
  font-size: $fs_btn_cart;
  text-transform: uppercase;
  @include border-radius(0);
  padding: 10px 27px 7px;
  height: $height_button;
  font-weight: $fw_bold;
  color: {{ settings.buy_btn_color }};
  background-color: {{ settings.buy_btn_bkg_color }};
  border: 1px solid {{ settings.buy_btn_border_color }};
  &:hover {
    color: {{ settings.buy_btn_color_hover }};
    background-color: {{ settings.buy_btn_bkg_color_hover }}!important;
    border: 1px solid {{ settings.buy_btn_border_color_hover }};
  }
}
.shopify-payment-button,.additional-checkout-buttons {
  &.disabled {
    .shopify-payment-button__button {
      @include opacity(0.7,70);
      pointer-events: none;
    }
  }
}
.shopify-payment-sticky {
  @media(max-width: 425px) {
    width: 100%;
  }
}

.shopify-payment-button__button--hidden {
  display: none!important;
}

a.nav__link-single {
  color: $tab_color_single;
  font-size: {{ settings.fs_tab_item_single_mobile }}px;
  @media(min-width: $min_tablet_large_width) {
    font-size: {{ settings.fs_tab_item_single }}px;
  }
}

.nav-tab-item--single.active {
  .nav__link-single {
    color: $tab_item_active_color_single;
    padding-bottom: 10px;
    border-bottom: 1px solid $tab_item_active_color_single;
  }
}

.tab-accordion {
  @include border-radius(0);
  @media(max-width: $max_tablet_small_width) {
    border: 1px solid $tab_border_item_single;
    border-bottom: none;
  }
}
.tab-pane--accordion {
  padding: 5px 10px;
  @media(max-width: $max_tablet_small_width) {
    border-bottom: 1px solid $tab_border_item_single;
  }
  @media(min-width: $min_tablet_large_width) {
    padding: 5px 0;
  }
}
@media(min-width: $min_tablet_large_width) {
  .tab-pane--accor-state {
    display: none!important;
    &.active {
      display: block!important;
    }
  }
}
@media(min-width: $min_tablet_large_width) {
  .tab-accordion-all {
    .tab-accordion__trigger {
      background: transparent !important;    
      border-top: 1px solid $tab_border_item_single!important;
      border-bottom: none !important;
      &:first-child {
        border: none !important;
      }
    }
  }
}
.tab-accordion__trigger {
  border-bottom: 1px solid $tab_border_item_single !important;
  padding: 10px;
  @media(min-width: $min_tablet_large_width) {
    padding: 10px 0;
  }
  @include transition($transition);
  &:after {
    content: '\e917';
    font-family: 'BTVodoma';
    font-size: 15px;
    float: right;
  }
  &:focus, &:hover {
    color: $color_general!important;
  }
  &.open {
    &:after {
      content: '\e916';
    }
  }
  @media(max-width: $max_tablet_small_width) {
    &.open {
      background: $color_general_blur!important;
      color: $tab_item_active_color_single!important;
    }
  }
}

/*Sticky cart on product page*/
.sc {
  position: fixed;
  right: 0;
  z-index: 99;
  background: {{ settings.body_bkg_color | color_modify: 'alpha', 0.97 }};
  box-shadow: 0 0 3px $value_shadow;
  display: none;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  .product-price--single {
    .product-price__price {
      font-size: 14px;
    }
  }
  .pg__discount-text {
    display: none;
  }
  .shopify-payment-button__button {
    @media(max-width: $mobile_width) {
      font-size: 13px;
    }
  }
}
.pg__option__label--sticky {
  min-width: 70px;
}
.swatch__item--sticky {
  min-width: 25px!important;
  height: 25px!important;
  line-height: 23px!important;
}
.swatch__item--color-sticky {
  width: 25px!important;
}
.sc__inner {
  max-width: 1200px;
}
.sc__small-price {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  font-weight: $fw_bold;
}
.sc--active {
  display: block
}
.sc__close {
  line-height: 30px;
  color: $color_general_light;
  @include box-shadow(0 0 3px $value_shadow);
  border: 1px solid $color_general_blur;
  @media(min-width: $min_tablet_large_width) {
    position: absolute;
    top: 0;
    margin-top: -35px;
    right: 10px;
    width: 100px;
    height: 100px;
    @include border-radius(5px);
    @include transition($transition);
  }
  &:focus {
    border: 1px solid $color_general_blur;
    background: $bkg_body;
    color: $color_general_light;
  }
  &:hover {
    border: 1px solid $color_hover;
  }
}
.sc__close__image {
  @include border-radius(5px);
}
.sc__close__active {
  display: none;
}
.button--single-sticky {
  padding: 0 3px;
}
.button--single-cart-sticky {
  max-width: calc(100% - 117px);
  white-space: nowrap;
  flex-grow: 1;
  @media(min-width: $desktop_width) {
    max-width: 230px;
  }
}
.button--single-cart-sticky-simple {
  @media(min-width: $min_tablet_small_width) {
    max-width: 230px;
  }
}
@media(max-width: $max_tablet_small_width) {
  .sc__mobile {
    text-transform: uppercase;
    font-weight: $fw_bold;
    line-height: $sticky_action;
    height: $sticky_action;
  }  
}
.sc__close__active--desktop {
  i {
    font-size: 20px;
    line-height: 27px;
  }
}
.sc__close--working {
  background: $bkg_body;
  height: 30px;
  margin-top: -15px;
  .sc__close__active {
    display: inline-block;
  }
  .sc__close__inactive {
    display: none;
  }
}
.sc__variant-title {
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
}
.sc__small-price {
  .product-price {
    margin-top: 0;
  }
  .product-price--single {
    s.product-price__price {
      display: none;
    }
    span.product-price__price {
      font-size: 20px;
    }
  }
}
.sc__action {
  .pg__option__label {
    min-width: auto;
  }
}
.sc__action-wrap {
  @media(min-width: $desktop_width) {
    padding-left:0;
    padding-right:0;
  }
}
.shopify-payment-btn-wrap--sticky {
  width: 100%;
  @media(min-width: $desktop_width) {
    margin-top: 0;
    width: auto;
    margin-left: 12px;
    max-width: 200px;
    white-space: nowrap;
  }
}
.shopify-payment-btn-wrap--sticky-simple {
  @media(min-width: $min_tablet_small_width) {
    margin-top: 0;
    margin-left: 12px;
    max-width: 210px;
    width: auto;
  }
}
.sc__image {
  @media(min-width: $min_tablet_large_width) {
    margin: 0 auto;
  }
}
.sc__trigger--close {
  display: none;
}
.sc__trigger {
  i {
    padding: 0 5px;
  }
}
.sc.open {
  .sc__trigger--close {
    display: block;
  }
  .sc__trigger--open {
    display: none;
  }
}
.sc__trigger--close {
  border: 1px solid #ddd;
  background: $bkg_body;
  @media(max-width: $max_tablet_small_width) {
    i {
      position: absolute;
      left: 50%;
      top: 50%;
      @include transform(translate(-50%,-50%));
      font-size: 25px;
    }
  }
}
.sc__image-wrap {
  max-width: 50px;
}
.sc__cart-icon {
  display: none;
  &.loading-ajax {
    display: block;
    +span {
      display: none;
    }
  }
}
input.spr-form-input,textarea.spr-form-input {
  padding: 9px 8px;
}
.qty-box__input--sticky {
  width: 35px;
}
.product-price__price--freb {
  font-size: 16px;
}