/*--------------------Variables----------------------*/
/*General*/
$bkg_body: {{ settings.body_bkg_color | default: '#fff' }}; /*body background*/
$color_general: {{ settings.color_general | default: '#222' }}; /*general color*/
$color_hover: {{ settings.color_general_hover | default: '#d9121f' }};
$fm_second: {{ settings.font_second | remove: ';' }};/*font family general*/
$fs_general: {{ settings.fs_general }}px;/*font size general*/
$fm_general: {{ settings.font_general | remove: ';' }};/*font family general*/
$color_general_light: {{ settings.color_general | color_modify: 'alpha', 0.6 }};
$color_general_blur: {{ settings.color_general | color_modify: 'alpha', 0.05 }};

/*Header*/
$fs_cart_number: 13px;
$padding_header_link: 12px;/*padding header link*/
$padding_header_link_mobile: 5px;/*padding header link on table*/
$fs_header_link_mobile: {{ settings.fs_header_link_mobile | default: 19 }}px;/*done*/
$bkg_header_mobile: {{ settings.bkg_header_mobile | default: '#fff' }};
$color_header_mobile: {{ settings.color_header_mobile | default: '#222' }};
$border_header_mobile: {{ settings.color_header_mobile | default: '#000' | color_modify: 'alpha', 0.1 }};

/*Font weight*/
$fw_super_thin: 100;
$fw_thin: 300;
$fw_normal: 400;
$fw_bold: 700;

/*Transition*/
$transition: ease-in-out all 0.3s;

/*Border radius*/
$b_r: 5px;/*border radius*/

/*Section title*/
$fs_st: {{ settings.fs_st }}px;/*font size section title*/
$fs_st_mobile: {{ settings.fs_st_mobile }}px;/*font size section title mobile*/
$color_st: {{ settings.color_st | default: '#000' }};/*color section title*/

/*Sections Sub Title*/
$fs_sst: {{ settings.fs_sst }}px;/*font size section title*/
$fs_sst_mobile: {{ settings.fs_sst_mobile }}px;/*font size section title mobile*/
$color_sst: {{ settings.color_sst | default: '#ccc' }};/*color section title*//*done*/

/*Item*/
$fs_item: {{ settings.fs_item }}px;/*font size item*/
$color_item: {{ settings.color_item | default: '#000' }};
$fs_price: {{ settings.fs_price }}px;
$fs_compare_price: {{ settings.fs_compare_price }}px;
$color_price: {{ settings.color_price | default: '#d9121f' }};
$color_compare_price: {{ settings.color_compare_price | default: '#000' }};
$gutter-item-buttons: 20px;
$swatch_size: {{ settings.swatch_size }}px;
$swatch_border_color: {{ settings.swatch_border_color | default: '#ccc' }};
$swatch_select_width: 97px;

/*Buttons*/
/*button style 1*/
$color_btn_s1: {{ settings.color_btn_s1 | default: '#222' }};
$border_btn_s1: {{ settings.border_btn_s1 | default: '#ccc' }};
$bkg_btn_s1: {{ settings.bkg_btn_s1 | default: '#fff' }};
$color_btn_s1_hover: {{ settings.color_btn_s1_hover | default: '#fff' }};
$border_btn_s1_hover: {{ settings.border_btn_s1_hover | default: '#d9121f' }};
$bkg_btn_s1_hover: {{ settings.bkg_btn_s1_hover | default: '#d9121f' }};
$w_h_btn_s1_circle: 30px;/*width height button style 1 circle*/
/* button style 2 */
$color_btn_s2: {{ settings.color_btn_s2 | default: '#fff' }};
$border_btn_s2: {{ settings.border_btn_s2 | default: '#d9121f' }};
$bkg_btn_s2: {{ settings.bkg_btn_s2 | default: '#d9121f' }};
$color_btn_s2_hover: {{ settings.color_btn_s2_hover | default: '#fff' }};
$border_btn_s2_hover: {{ settings.border_btn_s2_hover | default: '#222' }};
$bkg_btn_s2_hover: {{ settings.bkg_btn_s2_hover | default: '#222' }};
/*button style 3*/
$color_btn_s3: {{ settings.color_btn_s3 | default: '#fff' }};
$border_btn_s3: {{ settings.border_btn_s3 | default: '#222' }};
$bkg_btn_s3: {{ settings.bkg_btn_s3 | default: '#222' }};
$color_btn_s3_hover: {{ settings.color_btn_s3_hover | default: '#222' }};
$border_btn_s3_hover: {{ settings.border_btn_s3_hover | default: '#222' }};
$bkg_btn_s3_hover: {{ settings.bkg_btn_s3_hover | default: '#fff' }};
/* cart button on product page */
$fs_btn_cart: 17px;
$fs_btn_cart_mobile: 12px;
$height_button: 45px;
$border_btn_cart: {{ settings.border_btn_cart | default: '#169214' }};/*button cart style*/
$bkg_btn_cart: {{ settings.bkg_btn_cart | default: '#169214' }};

/*Tab title*/
$fs_tt: {{ settings.fs_tt }}px;/*font size tab title*/
$fs_tt_mobile: {{ settings.fs_tt_mobile }}px;/*font size tab title mobile*/
$color_tt: {{ settings.color_tt | default: '#999' }};/*color tab title*/
$color_tt_hover: {{ settings.color_tt_hover | default: '#fff' }};/*color tab title hover*/
$tab_color_single: {{ settings.tab_item_color_single }};
$tab_item_active_color_single: {{ settings.tab_item_active_color_single }};
$tab_border_item_single: {{ settings.color_general | color_modify: 'alpha', 0.1 }};

/*Navigation*/
$bkg_nav_item_dropdown: {{ settings.bkg_nav_item_dropdown | default: '#fff' }};/*background dropdown nav item*/
$padding_link_list: 17px;/*padding left and right for link list*/
$padding_item_dropdown: 10px; /*padding item dropdown*/
$padding_link-list-dropdown: 30px; /*padding link list dropdown*/
$color_link: {{ settings.color_link | default: '#000' }}; /*color link*/
$bkg_nav_item_hover: transparent;/*background nav item hover*/
$color_nav_item_hover: {{ settings.color_nav_item_hover | default: '#d9121f' }};/*color nav item hover*/
$fs_dropdown_title: {{ settings.fs_dropdown_title }}px;/*font size dropdown title*//*done*/
$fs_dropdown_content: {{ settings.fs_dropdown_content }}px;/*font size dropdown content*//*done*/
$left_item_label_dropdown: 50px;/*left position item label dropdown*/
$top_item_label_dropdown: -7px;/*top position item label dropdown*/
$fs_item_label: 10px;/*font size item label*//*done*/
$fs_nav_item: {{ settings.fs_dropdown_nav_top }}px;/*font size nav item*//*done*/
$top_nav_item_label: -15px;/*top position of nav item label*/
$right_nav_item_label: 0;/*right position of nav item label*/
$dropdown_triangle: 15px;
/*Header cart*/

/* Sidebar Canvas */
$width_sidebar_canvas: 350px;
$bkg_sidebar_canvas: {{ settings.bkg_sidebar_canvas | default: '#fff' }};
$padding_sidebar_canvas: 25px;

/*Slick slider*/
$fs_icon_slick: 17px;

$gutter-top: 20px;/*gutter top*/
$gutter-bottom: 20px;/*gutter bottom*/
$gutter-element: 10px;/*gutter - for element*/
$padding-grid-item: 15px;/*padding grid item*/
$padding-grid-item-mobile: 10px;/*padding grid item*/


/*Product page*/
$bkg_product_single: {{ settings.bkg_product_single | default: '#d6f3ee' }};
$fs_product_price_sale_single: {{ settings.fs_product_price_sale_single }}px;
$fs_product_price_sale_single_mobile: {{ settings.fs_product_price_sale_single_mobile }}px;
$wh_option_single: 30px;
$wh_qty: 30px;
$wh_qty_single: 45px;
$color_border_qty: {{ settings.color_border_qty | default: '#ccc' }};

/*Footer*/
$bkg_footer: {{ settings.bkg_footer | default: '#ccc' }};/*background footer*/
$fs_footer_column_title: {{ settings.fs_footer_column_title }}px;/*font size footer column title*/
$color_footer_column_title: {{ settings.color_footer_column_title | default: '#222' }};/*color footer column title*/
$fs_footer_column_content: {{ settings.fs_footer_column_content }}px;/*font size footer column content*/
$color_footer_column_content: {{ settings.color_footer_column_content | default: '#8a8282' }};/*color footer column content*/
$color_footer_column_content_hover: {{ settings.color_footer_column_content_hover | default: '#222' }}; /*color footer link hover*/
$footer_padding: 25px; /*padding top/bottom footer*/
$height_newsletter: 30px;/*height newsletter*/
$br_newsletter: 0;/*border radius newsletter*/
$bkg_newsletter: transparent;/*background input newsletter*/
$fs_social_icon: 21px;/*font size social icons*/

/*Input field*/
$border_input: {{ settings.border_input | default: '#a7a1a1' }};/*border color input*/
$border_input_focus: {{ settings.border_input_focus | default: '#4285f4' }};/*border color input focus*/
$fs_input_label: 15px;
$fs_input_label_focus: 12px;
$height_input_field: 40px;

/*Compare popup*/
$fs_popup_badge: 25px;
$color_popup_badge: #2cb752;

/*Pop up cart*/
$fs_price_cart_response: 16px;

/*Sticky cart*/
$w_h_swatch_sc: 30px;
$sticky_action: 43px;

/*Search input*/
$height_search: 35px;
$border_search: #ccc;

/*Blog page*/
$fs_article_title: 18px;
$fs_article_title_big: 25px;
$fs_sidebar_title: 20px;
$fs_date_author: 12px;
$color_date_author: {{ settings.blog_color_date_author | default: '#999' }};
$color_article_title: {{ settings.blog_color_article_title | default: '#2a302d' }};
$fs_article_tag: 13px;

/*Collection page*/
$fs_cf_item_title: 20px;
$wh_swatch: 30px;

/*Rating*/
$color_stars: #ca9c3a;

/*Cart page*/
$color_border_table: #e9e9e9;
$wh_input_cart: 37px;
$fs_icon_cart: 17px;

/* Responsive screen */
$mobile_width: 767px;
$min_tablet_small_width: 768px;
$max_tablet_small_width: 991px;
$min_tablet_large_width: 992px;
$max_tablet_large_width: 1199px;
$desktop_width: 1200px;

/*Mixins*/
@mixin prefix($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    @if $prefix == webkit {
      -webkit-#{$property}: $value;
    } 
    @else if $prefix == moz {
      -moz-#{$property}: $value;
    } 
    @else if $prefix == ms {
      -ms-#{$property}: $value;
    } 
    @else if $prefix == o {
      -o-#{$property}: $value;
    } 
    @else if $prefix == spec {
      #{$property}: $value;
    } 
    @else  {
      @warn 'Unrecognized prefix: #{$prefix}';
    }
  }
}
@mixin opacity($v1, $v2) {
  opacity: $v1;
  filter: alpha(opacity=$v2);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=$v2)";
}
@mixin transition($transition) {
  @include prefix(transition, $transition, ms webkit spec);
}
@mixin display-flex() {
  display: flex;
  flex-flow: row wrap;
}
@mixin border-radius($border-radius) {
  border-radius: $border-radius; 
}
/*justify-content: center|left|right*/
@mixin justify-content($var) {
  justify-content: $var;
}

/*align-items: stretch|center|flex-start|flex-end|baseline|initial|inherit;*/
@mixin align-items($value: stretch) {
  $alt-value: $value;

  @if $value == 'flex-start' {
    $alt-value: start;
  } @else if $value == 'flex-end' {
    $alt-value: end;
  }

  /* sass-lint:disable no-misspelled-properties*/
  -ms-flex-align: $alt-value;
  @include prefix(align-items, $value, webkit moz ms o spec);
}
@mixin box-shadow($box-shadow){  
  box-shadow: $box-shadow; 
}

@mixin transform($transform) {
  transform: $transform;
}
@mixin flex-direction($value) {
  flex-direction: $value;
}
@mixin loading-ajax($width, $height) {
  content: '';
  font-size: $width;
  display: inline-block;
  width: $width;
  height: $height;
  border-radius: 50%;
  border: 2px solid;
  border-right-color: transparent;
  -webkit-animation: spin 2s ease-out infinite;
  animation: spin 2s ease-out infinite;
  margin-top: calc(50% - 4px);
}
@mixin loading-icon($width, $height) {
  content: '';
  font-size: 20px;
  display: block;
  width: $width;
  height: $height;
  border-radius: 50%;
  border: 2px solid #fff;
  border-right-color: transparent;
  -webkit-animation: spin 2s ease-out infinite;
  animation: spin 2s ease-out infinite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
@mixin loading-bkg($value) {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: $value;
  z-index: 2;
}

.cf__item__title {
  font-size: $fs_cf_item_title;
  line-height: $fs_cf_item_title;
  text-transform: uppercase;
  font-weight: $fw_bold;
  font-family: $fm_second;
  i {
    font-size: 20px;
  }
}
.cf__link--box {
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin-left: 35px;
  word-break: break-all;
  padding-left: 5px;
  vertical-align: middle;
  height: 33px;
  line-height: 33px;
  text-transform: capitalize;
  &:before,
  &:after {
    display: inline-block;
    *display: inline;
    zoom: 1;
    position: absolute;
  }
  &:before {
    content: '';
    top: 0;
    bottom: 0;
    margin: auto;
    left: -35px;
    width: 25px;
    height: 25px;
    border: solid 1px $color_general;
    background-color: transparent;
    @include border-radius(50%);
  }
  &:after {
    content: '';
    display: inline-block;
    top: calc(50% - 8px);
    left: -30.5px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
  }
}
.cf__item__link {
  padding-bottom: 5px;
  padding-top: 5px;
  @supports (-moz-appearance:none) {
    display: block;
  }
  &.active {
    >a {
      &:before {
        background-color: $color_general;
      }
      &:after {
        content: '\e900';
        font-family: 'BTVodoma';
      }
      &:hover {
        &:after{
          content: '\e870';
        }
      }
    }
  }
  @media(min-width: $desktop_width) {
     &:hover {
      >a {
        &:before {
          background-color: $color_general;
        }
        &:after {
          content: '\e900';
          font-family: 'BTVodoma';
        }
      }
    }
  }
}
.cf__item__content {
  > ul {
    padding: 0;
    margin: 0;
  }
}
.cf__link--color {
  margin-left: 0 !important;
  padding: 0 !important;
  border: 1px solid $color_general_blur;
  @include border-radius(50%);
  >span {
    display: inline-block;
    height: 100%;
    @include border-radius(50%);
  }
  &:before,
  &:after {
    visibility: hidden;
    @include transition($transition);
  }
  &:after {
    left: calc(50% - 8px) !important;
  }
}
.cf__item__swatch {
  float: left;
  margin-right: 13px;
  margin-bottom: 13px;
  &:hover,
  &.active {
    >a {
      &:after{
        visibility: visible;
      }
    }
  }
}
.cf__link {
  font-weight: 300;
  &:not(.cf__link--color) {
    &:after {
      color: $bkg_body;
    }
  }
}
.cf__link.cf__link--current-tag {
  &:after {
    color: $color_general;
  }
  &:hover,&:focus {
    &:before {
      background: $color_general;
    }
    &:after {
      color: $bkg_body;
    }
  }
}
.cfc__dropdown{
  display:none;
}
.cfc__link.do-active{
  color:{{ settings.color_general_hover | default: '#d9121f' }};
}
.cfc__link {
  position: relative;
  .nav__item__label {
    top: -11px;
    right: -21px;
  }
}
.collection__sidebar {
  @media(min-width: $min_tablet_large_width) {
    max-height: calc(100vh - 30px);
    overflow-y: auto;
  }
}
.grid--list {
  .grid__item {
    width: 100%;
  }
  .item__top {
    width: 30%;
    float: left;
    position: relative;
  }
  .item__bottom {
    width: 70%;
    float: left;
    text-align: left;
    padding: 0 0 0 30px;
    height:auto;
    background: none;
    @include display-flex();
    @media(max-width: $mobile_width) {
      display: block;
    }
  }
  .effect-hover__content {
  	@include opacity(1,100);
  	visibility: visible;
  }
  .effect-hover__cart-btn {
    @include transform(translateY(0));
    position: static;
  }
  
  .item__actions {
    right: 10px;
  }
  .button--cart {
    @include border-radius(3px);
  }
  @media (min-width: $min_tablet_small_width) {
    .item__top {
      width: 25%;
    }
    .item__bottom {
      width: 75%;
    }
    .item__description {
      display: block !important;
    }
    .effect-hover__cart-btn {
      max-width: 300px;
    }  
  }
}
.cf__filter__toolbar {
  @media(max-width: $mobile_width) {
    background: $bkg_body;
  }
}
.ct__mode {
  >ul {
    li {
      @media(min-width: $min_tablet_small_width) {
        &:nth-child(2) {
          .ct__mode__link {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
          }
        }
        &:last-child {
          .ct__mode__link {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
          }
        }
      }
      &.active,
      &:hover {
        .ct__mode__link { 
          background-color: {{ settings.color_general | color_modify: 'alpha', 0.15 }};
          @media(max-width: $mobile_width) {
            i {
              color: $color_hover;
            }
          }
        }
      }
      &.active {
        .ct__mode__link {
          cursor: text;
        }
      }
      &:last-child {
        .ct__mode__link {
          @media(max-width: $mobile_width) {
            border-left: none !important;
          }
        }
      }
    }
  }
}
.bt-dropdown__content--sort {
  min-width: 200px!important;
  max-width: 250px;
  right: 0;
  left: auto!important;
  @media(max-width: $mobile_width) {
    top: unset!important;
    bottom: -$sticky_action;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    font-size: 14px;
  }
  li {
    padding-bottom: 5px;
  }
}
.ct__sort {
  position: relative;
  @media(max-width: $mobile_width) {
    float: left !important;
    width: calc(100% - 87px - 74px);
    height: $sticky_action;
  }
  &.active {
    cursor: text;
    .bt-dropdown__trigger {
      color: $color_hover;
    }
    @media(max-width: $mobile_width) {
      .bt-dropdown__content {
        bottom: 100%;
      }
    }
  }
}
.bt-dropdown__trigger--sort {
  position: relative;
  padding-right: 15px;
  height: $sticky_action;
  line-height: $sticky_action;
  background-color: $color_general_blur;
  color: $color_general;
  padding: 0 30px 0 20px;
  margin-left: 20px;
  font-size: 11px;
  text-transform: uppercase;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  @include border-radius(4px);
  @media (max-width: $max_tablet_small_width) {
    margin-left: 0;
  }
  @media(max-width: $mobile_width) {
    background: $bkg_body;
    border-top: 1px solid $color_general_blur;
    border-bottom: 1px solid $color_general_blur;
    font-size: 14px;
    width: 100%;
    text-align: center;
    height: $sticky_action;
    line-height: $sticky_action;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    @include border-radius(0);
  }
  &:before {
    content: "\e874";
    display: inline-block;
    font-family: BTVodoma;
    font-size: 11px;
    position: absolute;
    top: 0;
    right: 10px;
  }
}
@media (max-width: $max_tablet_small_width) {
  .bt-sidebar--collection {
    display: block !important;
  }
  .ct__filter--btn {
    background-color: $color_general_blur;
    width: 87px;
    height: $sticky_action;
    line-height: calc(#{$sticky_action} - 3px);
    @include border-radius(0);
    font-size: 13px;
  }
}
.ct__filter--btn {
  i {
    padding: 0 3px;
  }
  @media(min-width: $min_tablet_large_width) {
    @include border-radius(3px);
  }
}
@media(max-width: $mobile_width) {
  .open-sidebar-canvas--sidebar-filter {
    .ct__filter--btn-close {
      display: block !important;
    }
    .ct__filter--btn-open {
      display: none;
    }
  }
}
.ct__mode__link {
  i {
    color: $color_general;
    vertical-align: middle;
  }
  @media(max-width: $mobile_width) {
    width: 37px;
    text-align: center;
    border: 1px solid $color_general_blur !important;
    @include opacity(1,100);
  }
  @media(min-width: $min_tablet_small_width) {
    width: 43px;
    height: 43px;
    display: block;
    line-height: 41px;
    text-align: center;
    background-color: $color_general_blur;
  }
  @media(max-width: $max_tablet_small_width) {
    height: $sticky_action;
    line-height: calc(#{$sticky_action} - 5px);
    display: block;
  }
}
.cf__item__big-title {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: $fw_bold;
  position: relative;
  line-height: 30px;
  &:before {
    content: '';
    background: #739ab4;
    height: 7px;
    @include transform(rotate(45deg) scale(1));
    width: 7px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
  }
}
@supports (-ms-ime-align:auto) {
  .cf__item__content > ul {
    column-count: 1 !important;
    -webkit-column-count: 1 !important; 
  }
}
.cf__back-icon {
  font-size: 8px;
  padding-right: 5px;
}
/* Pagination */
.button__prev-page,
.button__next-page {
  vertical-align: baseline!important;
  font-size: 10px!important;
}