html{
    direction:rtl
}
body{
    direction:rtl
}
blockquote{
    border-right:5px solid #eee;
    border-left:0
}
caption{
    text-align:right
}
th{
    text-align:right
}
@media screen and (max-width:767px){
    .table-responsive>.table-bordered{
        border:0
    }
    .table-responsive>.table-bordered>thead>tr>th:first-child,.table-responsive>.table-bordered>tbody>tr>th:first-child,.table-responsive>.table-bordered>tfoot>tr>th:first-child,.table-responsive>.table-bordered>thead>tr>td:first-child,.table-responsive>.table-bordered>tbody>tr>td:first-child,.table-responsive>.table-bordered>tfoot>tr>td:first-child{
        border-right:0;
        border-left:initial
    }
    .table-responsive>.table-bordered>thead>tr>th:last-child,.table-responsive>.table-bordered>tbody>tr>th:last-child,.table-responsive>.table-bordered>tfoot>tr>th:last-child,.table-responsive>.table-bordered>thead>tr>td:last-child,.table-responsive>.table-bordered>tbody>tr>td:last-child,.table-responsive>.table-bordered>tfoot>tr>td:last-child{
        border-left:0;
        border-right:initial
    }
}
.nav{
    padding-right:0;
    padding-left:initial
}
.nav-tabs>li{
    float:right
}
.pagination{
    padding-right:0
}
.pagination>li>a,.pagination>li>span{
    float:right;
    margin-right:-1px;
    margin-left:0
}
.pagination>li:first-child>a,.pagination>li:first-child>span{
    margin-left:0;
    border-bottom-right-radius:4px;
    border-top-right-radius:4px;
    border-bottom-left-radius:0;
    border-top-left-radius:0
}
.pagination>li:last-child>a,.pagination>li:last-child>span{
    margin-right:-1px;
    border-bottom-left-radius:4px;
    border-top-left-radius:4px;
    border-bottom-right-radius:0;
    border-top-right-radius:0
}
.pager{
    padding-right:0;
    padding-left:initial
}
.pager .next>a,.pager .next>span{
    float:left
}
.pager .previous>a,.pager .previous>span{
    float:right
}
.progress-bar{
    float:right
}
.close{
    float:left
}
.modal-footer{
    text-align:left
}
/*--------------------Variables----------------------*/
/*General*/
$bkg_body: {{ settings.body_bkg_color | default: '#fff' }}; /*body background*/
$color_general: {{ settings.color_general | default: '#222' }}; /*general color*/
$color_hover: {{ settings.color_general_hover | default: '#d9121f' }};
$fm_second: {{ settings.font_second | remove: ';' }};/*font family general*/
$fs_general: {{ settings.fs_general }}px;/*font size general*/
$fm_general: {{ settings.font_general | remove: ';' }};
$color_general_light: {{ settings.color_general | color_modify: 'alpha', 0.6 }};
$color_general_blur: {{ settings.color_general | color_modify: 'alpha', 0.05 }};

/*Header*/
$fs_cart_number: 13px;
$padding_header_link: 12px;/*padding header link*/
$padding_header_link_mobile: 5px;/*padding header link on table*/
$fs_header_link_mobile: {{ settings.fs_header_link_mobile | default: 19 }}px;/*done*/
$bkg_header_mobile: {{ settings.bkg_header_mobile | default: '#fff' }};
$color_header_mobile: {{ settings.color_header_mobile | default: '#222' }};
$border_header_mobile: {{ settings.color_header_mobile | default: '#000' | color_modify: 'alpha', 0.1 }};

/*Font weight*/
$fw_super_thin: 100;
$fw_thin: 300;
$fw_normal: 400;
$fw_bold: 500;

/*Transition*/
$transition: ease-in-out all 0.3s;

/*Border radius*/
$b_r: 5px;/*border radius*/

/*Section title*/
$fs_st: {{ settings.fs_st }}px;/*font size section title*/
$fs_st_mobile: {{ settings.fs_st_mobile }}px;/*font size section title mobile*/
$color_st: {{ settings.color_st | default: '#000' }};/*color section title*/

/*Sections Sub Title*/
$fs_sst: {{ settings.fs_sst }}px;/*font size section title*/
$fs_sst_mobile: {{ settings.fs_sst_mobile }}px;/*font size section title mobile*/
$color_sst: {{ settings.color_sst | default: '#ccc' }};/*color section title*//*done*/

/*Item*/
$fs_item: {{ settings.fs_item }}px;/*font size item*/
$color_item: {{ settings.color_item | default: '#000' }};
$fs_price: {{ settings.fs_price }}px;
$fs_compare_price: {{ settings.fs_compare_price }}px;
$color_price: {{ settings.color_price | default: '#d9121f' }};
$color_compare_price: {{ settings.color_compare_price | default: '#000' }};
$gutter-item-buttons: 20px;
$swatch_size: {{ settings.swatch_size }}px;
$swatch_border_color: {{ settings.swatch_border_color | default: '#ccc' }};
$swatch_select_width: 97px;

/*Buttons*/
/*button style 1*/
$color_btn_s1: {{ settings.color_btn_s1 | default: '#222' }};
$border_btn_s1: {{ settings.border_btn_s1 | default: '#ccc' }};
$bkg_btn_s1: {{ settings.bkg_btn_s1 | default: '#fff' }};
$color_btn_s1_hover: {{ settings.color_btn_s1_hover | default: '#fff' }};
$border_btn_s1_hover: {{ settings.border_btn_s1_hover | default: '#d9121f' }};
$bkg_btn_s1_hover: {{ settings.bkg_btn_s1_hover | default: '#d9121f' }};
$w_h_btn_s1_circle: 30px;/*width height button style 1 circle*/
/* button style 2 */
$color_btn_s2: {{ settings.color_btn_s2 | default: '#fff' }};
$border_btn_s2: {{ settings.border_btn_s2 | default: '#d9121f' }};
$bkg_btn_s2: {{ settings.bkg_btn_s2 | default: '#d9121f' }};
$color_btn_s2_hover: {{ settings.color_btn_s2_hover | default: '#fff' }};
$border_btn_s2_hover: {{ settings.border_btn_s2_hover | default: '#222' }};
$bkg_btn_s2_hover: {{ settings.bkg_btn_s2_hover | default: '#222' }};
/*button style 3*/
$color_btn_s3: {{ settings.color_btn_s3 | default: '#fff' }};
$border_btn_s3: {{ settings.border_btn_s3 | default: '#222' }};
$bkg_btn_s3: {{ settings.bkg_btn_s3 | default: '#222' }};
$color_btn_s3_hover: {{ settings.color_btn_s3_hover | default: '#222' }};
$border_btn_s3_hover: {{ settings.border_btn_s3_hover | default: '#222' }};
$bkg_btn_s3_hover: {{ settings.bkg_btn_s3_hover | default: '#fff' }};
/* cart button on product page */
$fs_btn_cart: 17px;
$fs_btn_cart_mobile: 12px;
$height_button: 45px;
$border_btn_cart: {{ settings.border_btn_cart | default: '#169214' }};/*button cart style*/
$bkg_btn_cart: {{ settings.bkg_btn_cart | default: '#169214' }};

/*Tab title*/
$fs_tt: {{ settings.fs_tt }}px;/*font size tab title*/
$fs_tt_mobile: {{ settings.fs_tt_mobile }}px;/*font size tab title mobile*/
$color_tt: {{ settings.color_tt | default: '#999' }};/*color tab title*/
$color_tt_hover: {{ settings.color_tt_hover | default: '#fff' }};/*color tab title hover*/
$tab_color_single: {{ settings.tab_item_color_single }};
$tab_item_active_color_single: {{ settings.tab_item_active_color_single }};
$tab_border_item_single: {{ settings.color_general | color_modify: 'alpha', 0.1 }};

/*Navigation*/
$bkg_nav_item_dropdown: {{ settings.bkg_nav_item_dropdown | default: '#fff' }};/*background dropdown nav item*/
$padding_link_list: 17px;/*padding left and right for link list*/
$padding_item_dropdown: 10px; /*padding item dropdown*/
$padding_link-list-dropdown: 30px; /*padding link list dropdown*/
$color_link: {{ settings.color_link | default: '#000' }}; /*color link*/
$bkg_nav_item_hover: transparent;/*background nav item hover*/
$color_nav_item_hover: {{ settings.color_nav_item_hover | default: '#d9121f' }};/*color nav item hover*/
$fs_dropdown_title: {{ settings.fs_dropdown_title }}px;/*font size dropdown title*//*done*/
$fs_dropdown_content: {{ settings.fs_dropdown_content }}px;/*font size dropdown content*//*done*/
$left_item_label_dropdown: 50px;/*left position item label dropdown*/
$top_item_label_dropdown: -7px;/*top position item label dropdown*/
$fs_item_label: 10px;/*font size item label*//*done*/
$fs_nav_item: {{ settings.fs_dropdown_nav_top }}px;/*font size nav item*//*done*/
$top_nav_item_label: -15px;/*top position of nav item label*/
$right_nav_item_label: 0;/*right position of nav item label*/
$dropdown_triangle: 15px;
/*Header cart*/

/* Sidebar Canvas */
$width_sidebar_canvas: 350px;
$bkg_sidebar_canvas: {{ settings.bkg_sidebar_canvas | default: '#fff' }};
$padding_sidebar_canvas: 25px;

/*Slick slider*/
$fs_icon_slick: 17px;

$gutter-top: 20px;/*gutter top*/
$gutter-bottom: 20px;/*gutter bottom*/
$gutter-element: 10px;/*gutter - for element*/
$padding-grid-item: 15px;/*padding grid item*/
$padding-grid-item-mobile: 10px;/*padding grid item*/


/*Product page*/
$bkg_product_single: {{ settings.bkg_product_single | default: '#d6f3ee' }};
$fs_product_price_sale_single: {{ settings.fs_product_price_sale_single }}px;
$fs_product_price_sale_single_mobile: {{ settings.fs_product_price_sale_single_mobile }}px;
$wh_option_single: 30px;
$wh_qty: 30px;
$wh_qty_single: 45px;
$color_border_qty: {{ settings.color_border_qty | default: '#ccc' }};

/*Footer*/
$bkg_footer: {{ settings.bkg_footer | default: '#ccc' }};/*background footer*/
$fs_footer_column_title: {{ settings.fs_footer_column_title }}px;/*font size footer column title*/
$color_footer_column_title: {{ settings.color_footer_column_title | default: '#222' }};/*color footer column title*/
$fs_footer_column_content: {{ settings.fs_footer_column_content }}px;/*font size footer column content*/
$color_footer_column_content: {{ settings.color_footer_column_content | default: '#8a8282' }};/*color footer column content*/
$color_footer_column_content_hover: {{ settings.color_footer_column_content_hover | default: '#222' }}; /*color footer link hover*/
$footer_padding: 25px; /*padding top/bottom footer*/
$height_newsletter: 30px;/*height newsletter*/
$br_newsletter: 0;/*border radius newsletter*/
$bkg_newsletter: transparent;/*background input newsletter*/
$fs_social_icon: 21px;/*font size social icons*/

/*Input field*/
$border_input: {{ settings.border_input | default: '#a7a1a1' }};/*border color input*/
$border_input_focus: {{ settings.border_input_focus | default: '#4285f4' }};/*border color input focus*/
$fs_input_label: 15px;
$fs_input_label_focus: 12px;
$height_input_field: 40px;

/*Compare popup*/
$fs_popup_badge: 25px;
$color_popup_badge: #2cb752;

/*Pop up cart*/
$fs_price_cart_response: 16px;

/*Sticky cart*/
$w_h_swatch_sc: 30px;
$sticky_action: 43px;

/*Search input*/
$height_search: 35px;
$border_search: #ccc;

/*Blog page*/
$fs_article_title: 18px;
$fs_article_title_big: 25px;
$fs_sidebar_title: 20px;
$fs_date_author: 12px;
$color_date_author: {{ settings.blog_color_date_author | default: '#999' }};
$color_article_title: {{ settings.blog_color_article_title | default: '#2a302d' }};
$fs_article_tag: 13px;

/*Collection page*/
$fs_cf_item_title: 20px;
$wh_swatch: 30px;

/*Rating*/
$color_stars: #ca9c3a;

/*Cart page*/
$color_border_table: #e9e9e9;
$wh_input_cart: 37px;
$fs_icon_cart: 17px;

/* Responsive screen */
$mobile_width: 767px;
$min_tablet_small_width: 768px;
$max_tablet_small_width: 991px;
$min_tablet_large_width: 992px;
$max_tablet_large_width: 1199px;
$desktop_width: 1200px;

/*Mixins*/
@mixin prefix($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    @if $prefix == webkit {
      -webkit-#{$property}: $value;
    } 
    @else if $prefix == moz {
      -moz-#{$property}: $value;
    } 
    @else if $prefix == ms {
      -ms-#{$property}: $value;
    } 
    @else if $prefix == o {
      -o-#{$property}: $value;
    } 
    @else if $prefix == spec {
      #{$property}: $value;
    } 
    @else  {
      @warn 'Unrecognized prefix: #{$prefix}';
    }
  }
}
@mixin opacity($v1, $v2) {
  opacity: $v1;
  filter: alpha(opacity=$v2);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=$v2)";
}
@mixin transition($transition) {
  @include prefix(transition, $transition, ms webkit spec);
}
@mixin display-flex() {
  display: flex;
  flex-flow: row wrap;
}
@mixin border-radius($border-radius) {
  border-radius: $border-radius; 
}
/*justify-content: center|left|right*/
@mixin justify-content($var) {
  justify-content: $var;
}

/*align-items: stretch|center|flex-start|flex-end|baseline|initial|inherit;*/
@mixin align-items($value: stretch) {
  $alt-value: $value;

  @if $value == 'flex-start' {
    $alt-value: start;
  } @else if $value == 'flex-end' {
    $alt-value: end;
  }

  /* sass-lint:disable no-misspelled-properties*/
  -ms-flex-align: $alt-value;
  @include prefix(align-items, $value, webkit moz ms o spec);
}
@mixin box-shadow($box-shadow){  
  box-shadow: $box-shadow; 
}
@mixin filter($filter) {
  @include prefix(filter, $filter, webkit);
}
@mixin transform($transform) {
  transform: $transform;
}
@mixin flex-direction($value) {
  flex-direction: $value;
}
@mixin backface_visibility($value) {
  @include prefix(backface_visibility, $value, ms webkit);
}
@mixin animation($value) {
  @include prefix(animation, $value, ms webkit spec moz);
}
@mixin loading-ajax($width, $height) {
  content: '';
  font-size: $width;
  display: inline-block;
  width: $width;
  height: $height;
  border-radius: 50%;
  border: 2px solid;
  border-right-color: transparent;
}
@mixin loading-icon($width, $height) {
  content: '';
  font-size: 20px;
  display: block;
  width: $width;
  height: $height;
  border-radius: 50%;
  border: 2px solid #fff;
  border-right-color: transparent;
  -webkit-animation: spin 2s ease-out infinite;
  animation: spin 2s ease-out infinite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
@mixin loading-bkg($value) {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: $value;
  z-index: 2;
}

/*-------------- Home page -------------------*/
@mixin flex-basis($width: auto) {
  // sass-lint:disable no-misspelled-properties
  -ms-flex-preferred-size: $width;
  @include prefix(flex-basis, $width, webkit moz spec);
}

@mixin flex-wrap($value: nowrap) {
  flex-wrap: $value;
}

@mixin flex-direction($value) {
  flex-direction: $value;
}

@mixin align-content($align: center) {
  @include prefix(align-content, $align, webkit ms spec);
}

/*Reset*/
.text-right {
	text-align: left;
}
.text-left {
	text-align: right;
}
/*Promotion banner*/
.promo__close {
	right: auto;
	left: 0;
}
/*Header*/
.search__input {
	border-right: 1px solid $border_search;
	border-left: 0;
}
.nav__icon {
	margin-right: 0;
	margin-left: 5px;
}
.cart-number {
	right: auto;
	left: 0;
  @media(max-width: $max_tablet_small_width) {
    right: 5px;
  }
}
.search__submit {
  @media(max-width: $max_tablet_small_width) {
    border-left: 1px solid $border_search;
    border-right: none;
  }
}
.bt-dropdown__trigger--arrow {
  &:before {
    left: 10px;
    right: auto;
  }
}
.bt-dropdown__content--left {
  right: 0;
  left: auto;
}
.bt-dropdown__content--right {
	right: auto;
	left: 0;
}
.link-list__item__link {
  > i {
    margin-right: inherit;
    margin-left: 5px;
  }
}
.currency-switcher--inline {
  a:after {
    right: auto;
    left: 0;
  }
}
.link-list__item--parent {
  > div > .link-list__item__link {
    &:after {
      display: none!important;
    }
    &:before {
      content: '\e917';
      font-family: 'BTVodoma';
      cursor: pointer;
      font-weight: 400;
      padding: 0 15px;
      font-size: 15px;
    }
  }
  &.hover {
    > div > .link-list__item__link {
      &:before {
        content: '\e916'
      }
    }
  }
}
.link-list__item__dropdown {
  left: auto;
  right: 100%;
}
.bt-dropdown__content {
  @media(max-width: $max_tablet_small_width) {
    left: auto;
    right: 0;
  }
}
@media(min-width: $min_tablet_large_width) {
  .header__link--reverse i {
    padding-right: 0;
    padding-left: 5px;
  }
}
/*Content*/
.button>i {
	padding-left: 5px;
	padding-right: 0;
}
.rp {
	right: 10px;
	left: auto;
}
.rp__close {
	left: 2px;
	right: auto;
}
.rp__item-left {
  .product-image {
    margin-left: 0!important;
    margin-right: -10px;
  }
}
#back-top {
	left: 10px;
	right: auto;
}
.modal-header {
	right: auto;
	left: 0;
  @media(min-width: $min_tablet_large_width) {
    margin-left: -33px;
    margin-right: 0;
  }
  .close {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
}
.modal-content {
  border-top-right-radius: 6px;
  border-top-left-radius: 0;
}
.sc {
	left: 0;
	right: auto;
  .pg__option__label {
    padding-right: 0;
    padding-left: 15px;
  }
}
.sc__close {
	@media(min-width: $min_tablet_large_width) {
		margin-right: 0;
		right: auto;
  	left: 35px;
	}
}
.sc__close--working {
	@media(min-width: $min_tablet_large_width) {
		right: auto;
    left: 35px;
	}
}
.mobile-nav__arrow {
  margin-left: inherit;
  margin-right: auto;
	@include transform(rotate(180deg));
}
.link-list--nav {
	padding-right: 0;
}
.nav__item__label {
  left: 0;
  right: auto;
}
.cfc__link {
	.nav__item__label {
		left: -21px;
    right: auto;
	}
}
.cf__item__swatch {
	float: right;
}
.cart__image-wrapper {
	@media(max-width: $mobile_width) {
		float: right;
	}
}
.cart__meta, 
.cart__price-wrapper, 
.cart__update-wrapper, 
.cart__total-row {
	@media(max-width: $mobile_width) {
		text-align: right;
    float: left;
	}
}
.cart__update__all {
    margin-right: 15px;
    margin-left: 0;
	@media (max-width: $mobile_width) {
		margin-right: 7px;
    	margin-left: 0;
	}
}
@media(max-width: 350px) {
  .cart__actions--right {
    padding-right: 0;
    .cart__remove {
      padding-right: inherit;
      padding-left: 15px;
    }
  }
}
.cart__checkout {
	margin-right: 10px;
    margin-left: 0;
}
.cart-response__qty {
	padding-right: 0;
  padding-left: 5px;
}
.cart-response__line-price__label {
  padding-left: 5px;
  padding-right: 0;
}
.progress-bar {
	float: right !important;
}
/*Footer*/
.newsletter__input {
	padding: 0 10px 0 30px !important;
}
.newsletter__submit {
	right: auto;
	left: 1px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.footer__contact__item {
	i.fa {
		margin-left: 5px;
		margin-right: 0;
	}
}
.footer__copyright {
	@media(max-width: $mobile_width) {
		text-align: center;
	}
}
.nav-tab-item {
  &:after {
    left: 0;
    right: auto;
  }
}
.select {
  &:after {
    right: auto;
    left: 5px;
  }
  padding: 0 10px 0 30px;
}
.select.select--est-field {
  &:after {
    right: auto;
    left: 10px;
    line-height: 43px;
  }
}
/*Mobile nav item*/
.mobile-nav__item {
  .link-list__item__link {
    padding-right: 15px;
    padding-left: 0;
  }
  .mobile-nav__arrow {
    right: auto;
    left: 0;
  }
  &.level1 {
    .link-list__item__link {
      padding-left: 0;
      padding-right: 40px;
    }
    margin-right: auto;
    margin-left: 0;
  }
  &.level2 {
    margin-right: auto;
    margin-left: 0;
    .link-list__item__link {
      padding-left: 0;
      padding-right: 80px;
    }
  }
  .link-list__item__dropdown {
    padding-left: auto;
    padding-right: 0;
  }
  .nav__item__label {
    left: 0;
  }
}

/*Item*/
.item__actions-hover {
  .button {
    @media(max-width: $max_tablet_large_width) {
      &:first-child {
        border-left-color: transparent;
      }
      &.add-cart-btn {
        border-left: 1px solid $border_btn_s2;
      }
    }
  }
}
/*Collection page*/
.ct__sort {
  .bt-dropdown__trigger {
    padding: 0 20px 0 30px;
    @media(min-width: $min_tablet_large_width) {
      margin-left: 0;
      margin-right: 20px;
    }
    &:before {
      top: 0;
      right: auto;
      left: 10px;
    }
  }
  .bt-dropdown__content {
    left: 0;
    right: auto;
  }
}
.cf__item__big-title:after {
  left: auto;
  right: 0;
}
.cf__item__content{
  >ul{
    >li{
      >a{
        margin-left: 0;
        margin-right: 35px;
        &:before{
          right: -35px;
          left: auto;
        }
        &:after{
          left: auto;
          right: -30px;
        }
      }
    }
  }
}
.cf__item__swatch{
  >a {
    margin-right: 0!important;
    &:after {
      right: 0 !important;
      left: auto !important;
      margin-left: 0;
      margin-right: 5px;
    }
  }
}
.ct__mode {
  >ul {
    li {
      @media(min-width: $min_tablet_small_width) {
        &:nth-child(2) {
          .ct__mode__link {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
          }
        }
        &:last-child {
          .ct__mode__link {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
          }
        }
      }
    }
  }
}
@media(min-width: $min_tablet_large_width) {
  .bfc__col {
    border-right: none;
    border-left: 1px {{ settings.color_general | default: '#222' | color_modify: 'alpha', 0.08 }} solid;
    &:last-child {
      border-left: none;
    }
  }
}
.grid--list {
  .item__top {
    float: right;
  }
  .item__bottom {
    text-align: right;
    float: left;
    padding: 0 30px 0 0;
  }
}
.pg__options {
  .pg__option__value {
    margin-right: 7px;
  }
}
.pagination {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  -moz-flex-direction: row-reverse;
  i.fa-angle-right {
    vertical-align: text-top;
  }
}
/*Product detail*/
.product-single__thumbs-wrap {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  -moz-flex-direction: row-reverse;
}
.pg__option__label {
  padding-right: 0;
  text-align: right;
  padding-left: 5px;
}
.pg__option-size label,
.search-suggest__total {
  &:after {
    content: '\200E';
  }
}
.tab-accordion__trigger:after {
  right: auto;
  left: 10px;
}
.button--single-cart {
  margin-right: 0;
  margin-left: 15px;
}
/*Compare popup*/
.compare-popup th, 
.compare-popup td {
  border-left: 1px solid #ddd;
}
/*Search*/
.search-suggest__info {
  padding-left: 0;
  padding-right: 10px;
}
/*Article*/
.article__right {
 padding-left: 0;
 padding-right: 20px;
}
/* Info list section */
.info-list__item {
  padding-right: 25px;
  padding-left: 0;
}
.section__title__text {
  &:before {
    left: auto;
    right: 30px;
  }
  &:after {
    left: auto;
    right: 2px;
  }
}
.field--float-label {
  label {
    text-align: right;
    padding-left:0;
    padding-right:10px;
  }
}
.sidebar__title {
  &:before {
    margin-right: 0;
    margin-left: 15px;
  }
}
/* Vertical navigation */
.nav__item__angle-ver {
  float: left;
  &:before {
    content: '\e62a';
  }
}
.nav__item__label--ver {
  left: auto;
}
.nav__item__dropdown--ver {
  left: auto;
  right: 25%!important;
}
.nav__item--ver {
  &.hover, &.open {
    border-right: 1px solid {{ settings.border_ver_nav }}!important;
    border-left: transparent !important;
  }
}
.support__trigger {
  i {
    margin-right: 0;
    margin-left: 5px;
  }
}
.qty-box {
  margin-left: 20px;
  margin-right: 30px;
}
.cart-page__content {
  table {
    tbody {
      td {
        text-align: right;
      }
    }
  }
}
@media (max-width: $mobile_width){
  .cart__remove {
      margin-right: 0;
      margin-left: 10px;
  }
}
.alert-success {
  padding-left: 15px;
  padding-right: 30px;
  &:after {
    left: auto;
    right: 0;
    margin-left: 0;
    margin-right: 10px;
  }
}
.free-shipping-text {
  margin-left: 0;
  margin-right: 5px;
}