{%- layout none -%}
{%- assign terms = search.terms | escape | split: ',' -%}
{%- capture snippet_html -%}{%- include terms[0] -%}{%- endcapture -%}
{%- unless snippet_html contains 'Liquid error' -%}
{{ snippet_html }}
{%- else -%}
<div><span class="snippet-error">Error</span></div>
{%- endunless -%}
