{%- layout none -%}
{%- assign terms = search.terms | escape | split: ',' -%}
{%- assign index = 0 -%}
{%- for handle in terms -%}
	{%- assign product = all_products[handle] -%}
	{%- if handle != '' and product != blank and index < settings.recent_view_product_limit -%}
      	{%- include 'product-grid-item' with 
            use_slider: true, 
            index: forloop.index, 
            lazy_index: 999,
            column_count: 4, 
            main_thumbnail: settings.recent_view_single_main_thumbnail, 
            image_size: '375x', 
            truncate_count: settings.recent_view_single_product_name_size,
            enable_product_options: settings.recent_view_single_enable_product_options, 
            show_review_stars: settings.recent_view_single_show_review_stars,
            enable_small_images: false,
            show_media_btn: settings.recent_view_single_show_media_btn,
            small_image: false,
            show_label : settings.recent_view_single_show_label,
            show_cart_btn: settings.recent_view_single_show_cart_btn,
            show_wishlist_btn : settings.recent_view_single_show_wishlist_btn,
            show_compare_btn: settings.recent_view_single_show_compare_btn,
            show_qs_btn: settings.recent_view_single_show_qs_btn,
            small_image_slider: false -%}
            {%- assign index = index | plus: 1 -%}
	{%- endif -%}
{%- endfor -%}