{%- layout none -%}
{%- assign terms = search.terms | escape | split: ',' -%}
{%- assign index = 0 -%}
{%- for handle in terms -%}
	{%- assign product = all_products[handle] -%}
	{%- if handle != '' and product != blank and index < settings.recent_view_collection_limit -%}
  	{%- render 'product-columns-item' with
      product: product,
      main_thumbnail: 'product_image',
      truncate_count: 5,
      show_review_stars: true,
      slide_per_row: 100,
      index: index
    -%}
    {%- assign index = index | plus: 1 -%}
	{%- endif -%}
{%- endfor -%}