{%- layout none -%}
{%- assign terms = search.terms | escape | split: ',' -%}
{%- assign cart_ids = '' -%}
{%- for item in cart.items -%}
      {%- assign cart_ids = cart_ids | append: item.product.id | append: ' ' -%}
{%- endfor -%}
{%- assign cart_ids = cart_ids | rstrip -%}
{%- for handle in terms -%}
	{%- assign product = all_products[handle] -%}
	{%- if handle != '' and product != blank -%}
            {%- unless cart_ids contains product.id -%}
      		{%- include 'product-grid-item' with 
                  use_slider: true, 
                  index: forloop.index, 
                  lazy_index: 999,
                  column_count: 4, 
                  main_thumbnail: settings.cross_sell_main_thumbnail, 
                  image_size: '375x', 
                  truncate_count: settings.cross_sell_product_name_size,
                  enable_product_options: settings.cross_sell_enable_product_options, 
                  show_review_stars: settings.cross_sell_show_review_stars,
                  enable_small_images: false,
                  show_media_btn: settings.cross_sell_show_media_btn,
                  small_image: false,
                  show_label : settings.cross_sell_show_label,
                  show_cart_btn: settings.cross_sell_show_cart_btn,
                  show_wishlist_btn : settings.cross_sell_show_wishlist_btn,
                  show_compare_btn: settings.cross_sell_show_compare_btn,
                  show_qs_btn: settings.cross_sell_show_qs_btn,
                  small_image_slider: false -%}
            {%- endunless -%}
	{%- endif -%}
{%- endfor -%}