{%- layout none -%}
{%- assign terms = search.terms | escape | split: ',' -%}
{%- for handle in terms -%}
	{%- assign product = all_products[handle] -%}
	{%- if handle != '' and product != blank -%}
		{%- include 'product-grid-item' with 
            use_slider: false, 
            index: forloop.index, 
            lazy_index: 999,
            column_count: 4, 
            main_thumbnail: settings.wishlist_main_thumbnail, 
            image_size: '375x', 
            truncate_count: settings.wishlist_product_name_size,
            enable_product_options: settings.wishlist_enable_product_options, 
            show_review_stars: settings.wishlist_show_review_stars,
            enable_small_images: false,
            small_image: false,
            show_label : settings.wishlist_show_label,
            show_cart_btn: settings.wishlist_show_cart_btn,
            show_wishlist : false,
            show_compare_btn: settings.wishlist_show_compare_btn,
            show_qs_btn: settings.wishlist_show_qs_btn,
            small_image_slider: false,
            remove_wishlist_btn: true,
            ignore_featured_effect: true -%}
	{%- endif -%}
{%- endfor -%}